<!-- Square form css style. Need to move to seperate css file. -->
<style type="text/css">
    .sq-input {
        border: 1px solid rgb(223, 223, 223);
        outline-offset: -2px;
        margin-bottom: 5px;
    }

    .sq-input--focus {
        /* Indicates how form inputs should appear when they have focus */
        outline: 5px auto rgb(59, 153, 252);
    }

    .sq-input--error {
        /* Indicates how form inputs should appear when they contain invalid values */
        outline: 5px auto rgb(255, 97, 97);
    }
</style>
<!-- End of Square form css style. -->

<div ng-init="">

    <div class="builder" id="builder1">
        <a class="builder-toggle f-20" ng-click="customerinvoiceCtrl.loadFilterToggle();" href="javascript:void(0)"><i class="fa fa-filter" aria-hidden="true"></i></a>
        <div class="inner">
            <div class="row m-0 side-builder-header">
                <h4 class="text-center m-t-0">FILTER FINANCE</h4>
            </div>
            <div class="builder-container">

                <div class="row m-0">
                    <div class="form-group">
                        <label class="form-label">Date</label>
                        <div class="prepend-icon">
                            <div class="form-group">
                                <input type="text" placeholder="{{'Search By: Invoice Date'|translate}}" ng-model="customerinvoiceCtrl.datePicker.date" class="form-control form-white" date-range-picker="">
                                <i class="icon-calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="row m-0">
                    <label class="form-label" translate>Status</label>
                    <div class="form-group">
                        <div class="option-group">
                            <select ng-model="customerinvoiceCtrl.status" class="form-control form-white">
                                <option value='All' translate>Status: All</option>
                                <option value='Pending' translate>Pending</option>
                                <option value='Paid' translate>Paid</option>
                                <option value='Disputed' translate>Disputed</option>
                            </select>
                        </div>
                      
                    </div>
                </div>

                <a href="javascript:void(0)" ng-click="customerinvoiceCtrl.callServerSearch()" class="btn btn-sm btn-primary f-14 m-l-0 toggle-footer-apply" style="color:#fff">APPLY </a>

                <a href="javascript:void(0)" ng-click="customerinvoiceCtrl.resetSearch()" class="btn btn-sm btn-hidden f-14 toggle-footer-reset" id="reset-style">RESET FILTERS</a>


            </div>
        </div>
    </div>
        <div class="row m-l-0 m-r-0 m-b-10">
            <h2 class="m-t-0 custom-page-header">Invoices</h2>
        </div>
    <div class="row m-l-0 m-r-0 m-b-10">
        <div class="col-sm-4 col-md-4 col-xs-12 input-group pull-left">
            <input ng-model="customerinvoiceCtrl.searchValue" type="text" class="form-control form-white custom-search2"
                   placeholder="{{'Search'|translate}}" />

            <span class="input-group-btn p-0">
                <button type="button" class="btn btn-primary" ng-click="customerinvoiceCtrl.callServerSearch()"
                        style="border-top-right-radius: 18px;border-bottom-right-radius: 18px">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12">

            <div class="col-sm-6 col-md-6 col-xs-6 p-0">
                <div dropdown="" class="btn-group">
                    <button data-toggle="dropdown" class="btn f-14 m-b-0" type="button" style="background-color:#f2f2f2;box-shadow:none" ng-click="customerinvoiceCtrl.exportInvoiceReport()" >
                        <i class="fa fa-download" aria-hidden="true" style="color:#319db5"></i>
                        <span style="color:#319db5">Export</span>
                    </button>
                    <!--<span class="dropdown-arrow"></span>
                    <ul role="menu" class="dropdown-menu">
                        <li>
                            <a ng-csv="customerinvoiceCtrl.exportcollection" filename="Invoices.csv">
                                CSV<translate>Export </translate>
                            </a>
                        </li>
                        <li>
                            <a ng-click="customerinvoiceCtrl.exportInvoiceReport()">Excel Export</a>
                        </li>

                    </ul>-->
                </div>
            </div>
        </div>
        <!--<div class="col-sm-5 col-md-5 col-xs-12 p-0">
            <div class="alert media fade in alert-finance-value m-b-0">
                <p class="text-center"><strong>2413413413</strong></p>
            </div>
        </div>-->
    </div>
    <div class="panel">

        <div class="panel-content panel-border">

            <!--<div class="row">-->
                <!--<div class="col-sm-2 form-group">
                    <div dropdown="" class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle ng-binding p-0" data-toggle="dropdown" style="min-width:140px;">
                            <translate>Status</translate> : {{customerinvoiceCtrl.statusButton}}
                        </button>
                        <span class="dropdown-arrow"></span>
                        <ul role="menu" class="dropdown-menu">
                            <li>
                                <a class="ng-pristine ng-untouched ng-valid" href="javascript:;" ng-model="customerinvoiceCtrl.status" ng-click="customerinvoiceCtrl.loadInvoicesByStatus('All')" translate>All</a>
                            </li>
                            <li>
                                <a class="ng-pristine ng-untouched ng-valid" href="javascript:;" ng-model="customerinvoiceCtrl.status" ng-click="customerinvoiceCtrl.loadInvoicesByStatus('Pending')" translate>Pending</a>
                            </li>
                            <li>
                                <a class="ng-pristine ng-untouched ng-valid" href="javascript:;" ng-model="customerinvoiceCtrl.status" ng-click="customerinvoiceCtrl.loadInvoicesByStatus('Paid')" translate>Paid</a>
                            </li>
                            <li>
                                <a class="ng-pristine ng-untouched ng-valid" href="javascript:;" ng-model="customerinvoiceCtrl.status" ng-click="customerinvoiceCtrl.loadInvoicesByStatus('Disputed')" translate>Disputed</a>
                            </li>
                        </ul>
                    </div>
                </div>-->
                <!--<div class="col-sm-2 p-0">
                    <div class="btn-group form-group">
                        <input type="text" placeholder="{{'Search By: Invoice Date'|translate}}" ng-model="customerinvoiceCtrl.datePicker.date" class="form-control p-l-5 p-r-5 ng-pristine ng-untouched ng-valid ng-isolate-scope" date-range-picker="">
                    </div>
                </div>-->
                <!--<div class="col-sm-3 form-group p-r-5">
                    <div class="btn-group m-0">
                        <select ng-model="searchType" class="form-control ng-pristine ng-untouched ng-valid" ng-init="searchType = 'True'">
                            <option value="True" translate>Search By: Shipment Reference</option>
                            <option value="False" translate>Search By: Invoice Number</option>
                        </select>
                    </div>
                </div>-->
                <!--<div class="col-sm-3 form-group p-0" ng-show="searchType == 'True'">
                    <div class="input-group">
                        <input ng-model="customerinvoiceCtrl.shipmentNumber" name="shipmentNumber" type="text" class="form-control"
                               placeholder="{{'Shipment Ref Number'|translate}}" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-large btn-primary no-margin" ng-click="customerinvoiceCtrl.loadInvoicesBySearch()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>-->
                <!--<div ng-show="searchType == 'False'" class="col-sm-3 form-group ng-hide p-0">
                    <div class="input-group">
                        <input ng-model="customerinvoiceCtrl.invoiceNumber" name="invoiceNumber" type="text" class="form-control"
                               placeholder="{{'Invoice Number'|translate}}" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-large btn-primary no-margin"
                                    ng-click="customerinvoiceCtrl.loadInvoicesBySearch()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>-->

                <!--<div class="col-md-1">-->
                    <!--<button ng-click="customerinvoiceCtrl.exportInvoiceReport()" class="btn btn-large btn-primary no-margin" type="button">
                    <i class="glyphicon glyphicon-download-alt"></i><translate>Export</translate>
                </button>-->
                    <!--<div dropdown=""  btn-group p-r-0 pull-right">
                    <button data-toggle="dropdown" class="btn btn-primary active dropdown-toggle" type="button">
                        <i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i>Export <span class="caret"></span>
                    </button>
                    <span class="dropdown-arrow"></span>
                    <ul role="menu" class="dropdown-menu">
                        <li>
                            <a ng-csv="customerinvoiceCtrl.exportcollection" filename="Invoices.csv">
                                CSV<translate>Export </translate>
                            </a>
                        </li>
                        <li>
                            <a ng-click="customerinvoiceCtrl.exportInvoiceReport()">Excel Export</a>
                        </li>

                    </ul>
                </div>-->



                <!--</div>
            </div>-->
      
                    <div class="custom-table">
                        <!--<table st-pipe="customerinvoiceCtrl.callServerSearch" st-table="customerinvoiceCtrl.rowCollection" class="table table-hover">-->
                         <table st-table="invoiceList" st-safe-src="customerinvoiceCtrl.rowCollection" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th st-sort="name" translate>Date</th>
                                        <!--<th translate>Shipment Reference</th>-->
                                        <th translate>Invoice #</th>
                                        <th translate>Invoice amount</th>
                                        <th translate>credited amount</th>
                                        <th translate>amount due</th>
                                        <th translate>Status</th>
                                        <th translate>pay</th>
                                        <th translate>view</th>
                                        <th translate>Raise a dispute</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in invoiceList">
                                    <!--<tr ng-repeat="row in customerinvoiceCtrl.rowCollection">-->
                                        <td>{{row.invoiceDate}}</td>
                                        <!--<td>{{row.shipmentReference}}</td>-->
                                        <td>{{row.invoiceNumber}}</td>
                                        <td>{{row.invoiceValue | currency:"US $ "}}</td>
                                        <td>{{row.creditedValue | currency:"US $ "}}</td>
                                        <td>{{row.sum | currency:"US $ "}}</td>
                                        <td>
                                            <span ng-class="{'label label-warning warning-status' : row.invoiceStatus === 'Pending',
                                                   'label label-success success-status' : row.invoiceStatus === 'Paid',
                                                   'label label-danger danger-status' : row.invoiceStatus === 'Disputed'}">{{row.invoiceStatus}}</span>
                                            <!--<span ng-class="{{row.invoiceStatus}}=='pending' ? 'label label-warning warning-status':'label label-success success-status'">{{row.invoiceStatus}}</span>-->
                                        </td>
                                        <td>
                                            <!--if invoiceStatus == 'Pending'-->
                                            <button type="button" class="btn btn-sm btn-primary" ng-show="row.invoiceStatus == 'Pending'"
                                                    ng-click="customerinvoiceCtrl.payInvoice(row)" translate>
                                                Pay
                                            </button>
                                        </td>
                                        <td>
                                            <a href='{{row.url}}' class="btn btn-sm btn-primary btn-transparent">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-danger btn-transparent" ng-show="row.invoiceStatus == 'Pending'"
                                               ng-click="customerinvoiceCtrl.disputeInvoice(row)" translate>
                                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                               
                                 <tfoot>
                                     <tr>
                                         <td colspan="5" class="text-center">
                                             <div st-pagination="" st-items-by-page="10" st-displayed-pages="20"></div>
                                         </td>
                                     </tr>
                                 </tfoot>
                            </table>
                    </div>
                    <div class="page-spinner-loader customLoad" ng-show="customerinvoiceCtrl.loadingSymbole">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
        </div>


</div>
      
       
        <div id="panel-notif"></div>

    <div class="paymentForm panel" ng-show="customerinvoiceCtrl.isShowPaymentForm" style="background-color:white;padding:10px;margin-top:10px;">

        <div class="row">

            <div class="col-sm-12">

                <fieldset>

                    <div class="row">

                        <div class="col-sm-5" ng-show="customerinvoiceCtrl.isShowPaymentForm">

                            <label>Total Amount : {{customerinvoiceCtrl.currentTotalAmount | currency:"US $ "}}   </label>
                            <br />
                            <label>Card Number</label>
                            <div id="sq-card-number"></div>
                            <label>CVV</label>
                            <div id="sq-cvv"></div>
                            <label>Expiration Date</label>
                            <div id="sq-expiration-date"></div>
                            <label>Postal Code</label>
                            <div id="sq-postal-code"></div>

                            <button class="btn btn-primary" ng-click="customerinvoiceCtrl.chargeFromCard()" translate=""><span class="ng-scope">Charge from card</span></button>

                        </div>

                        <!--<div class="col-sm-12" ng-hide="shipmentCtrl.isShowPaymentForm">

                            <span> {{shipmentCtrl.shipmentStatusMsg}} </span>

                            <div ng-show="shipmentCtrl.isShowLabel">
                                <a href="{{shipmentCtrl.labelUrl}}" target="_blank" translate>Click here to open the Label</a>
                            </div>
                            <div ng-hide="shipmentCtrl.isShowLabel">
                                <a href="{{shipmentCtrl.errorUrl}}" target="_blank" translate>Click here to see the error details</a>
                            </div>

                        </div>-->

                    </div>

                </fieldset>
            </div>
        </div>

    </div>

    </div>





