<div ng-init="">

    <div class="panel">

        <div class="panel-content panel-border">

            <div class="row">
                <div class="col-sm-2 form-group">
                    <div dropdown="" class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                            Status : {{customerinvoiceCtrl.statusButton}}
                        </button>
                        <span class="dropdown-arrow"></span>
                        <ul role="menu" class="dropdown-menu">
                            <li>
                                <a href="javascript:;" ng-model="customerinvoiceCtrl.status" ng-click="customerinvoiceCtrl.loadInvoicesByStatus('All')">All</a>
                            </li>
                            <li>
                                <a href="javascript:;" ng-model="customerinvoiceCtrl.status" ng-click="customerinvoiceCtrl.loadInvoicesByStatus('Pending')">Pending</a>
                            </li>
                            <li>
                                <a href="javascript:;" ng-model="customerinvoiceCtrl.status" ng-click="customerinvoiceCtrl.loadInvoicesByStatus('Paid')">Paid</a>
                            </li>
                            <li>
                                <a href="javascript:;" ng-model="customerinvoiceCtrl.status" ng-click="customerinvoiceCtrl.loadInvoicesByStatus('Disputed')">Disputed</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="btn-group form-group">
                        <input date-range-picker class="form-control p-l-5" type="text"
                               ng-model="customerinvoiceCtrl.datePicker.date" placeholder="Search By: Invoice Date" />
                    </div>
                </div>               
                <div class="col-sm-3 form-group">
                    <div class="btn-group">
                        <select ng-model="searchType" class="form-control" ng-init="searchType = 'True'">
                            <option value="True">Search By: Shipment Reference</option>
                            <option value="False">Search By: Invoice Number</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 form-group" ng-show="searchType == 'True'">
                    <div class="input-group">
                        <input ng-model="customerinvoiceCtrl.shipmentNumber" name="shipmentNumber" type="text" class="form-control"
                               placeholder="Shipment Ref Number" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-large btn-primary no-margin" ng-click="customerinvoiceCtrl.loadInvoicesBySearch()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4 form-group" ng-show="searchType == 'False'">
                    <div class="input-group">
                        <input ng-model="customerinvoiceCtrl.invoiceNumber" name="invoiceNumber" type="text" class="form-control"
                               placeholder="Invoice Number" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-large btn-primary no-margin"
                                    ng-click="customerinvoiceCtrl.loadInvoicesBySearch()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div>

                <table st-table="invoiceList" st-safe-src="customerinvoiceCtrl.rowCollection" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-sort="name">Invoice Date</th>
                            <th>Shipment Reference</th>
                            <th>Invoice Number</th>
                            <th>Invoice Value</th>
                            <th>Invoice Status</th>
                            <th>Pay Invoice</th>
                            <th>View Invoice</th>
                            <th>Dispute Invoice</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in invoiceList">
                            <td>{{row.invoiceDate}}</td>
                            <td>{{row.shipmentReference}}</td>
                            <td>{{row.invoiceNumber}}</td>
                            <td>{{row.invoiceValue}}</td>
                            <td>{{row.invoiceStatus}}</td>
                            <td>
                                <!--if invoiceStatus == 'Pending'-->
                                <button type="button" class="btn btn-primary btn-block" ng-show="row.invoiceStatus == 'Pending'"
                                        ng-click="customerinvoiceCtrl.payInvoice(row)">
                                    Pay
                                </button>
                            </td>
                            <td style="text-align:center">
                                <a href='{{row.url}}' class="edit btn btn-sm btn-default">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                </a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-block" ng-show="row.invoiceStatus == 'Pending'"
                                        ng-click="customerinvoiceCtrl.disputeInvoice(row)">
                                    Dispute
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsByPage"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
      
       
        <div id="panel-notif"></div>
    </div>
</div>




