<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
     -->
  
     <add key="BaseWebURL" value="http://piwebqa.azurewebsites.net/"  />
     <add key="ServiceURL" value="http://piserviceqa.azurewebsites.net/" />  
     <add key="ServiceURL" value="https://service.transportal.it/" />
     <add key="SISWebURLUS" value="http://www2.shipitsmarter.com/taleus/" /> 
     <add key="SISWebURLNL" value="http://www2.shipitsmarter.com/tale/" />
     <add key="PIBlobStorage" value="https://pidocuments.blob.core.windows.net:443/piblobstorage/"/>
  
  
    <connectionStrings>
      <add name="PIBookingConnectionString"
        connectionString="Data Source=tcp:pibookingqa.database.windows.net,1433;Initial Catalog=PIQA;User ID=piqa;Password=1qaz2wsx@;Encrypt=True;TrustServerCertificate=False"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
   
    <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
