<?xml version="1.0"  encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
  -->
   <connectionStrings>
  <add name="PIBookingConnectionString" connectionString="Data Source=tcp:pibookinguat.database.windows.net,1433;Initial Catalog=PIUAT;User ID=piuat;Password=1qaz2wsx@;Encrypt=True;TrustServerCertificate=False" 
       providerName="System.Data.SqlClient" xdt:Transform="SetAttributes"  xdt:Locator="Match(name)"/>
  </connectionStrings>


<appSettings>
  <add key="AccountUserName" value="parcelinternational" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="AccountPassword" value="1qaz2wsx@" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="BaseWebURL" value="http://piwebuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />  
  <add key="ServiceURL" value="http://piserviceuat.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="SISWebURLUS" value="http://book.parcelinternational.nl/taleus/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="SISWebURLNL" value="http://book.parcelinternational.nl/tale/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="PIBlobStorage" value=" https://piprodstorage.blob.core.windows.net/piblobstorage/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="BlobStorageKey" value="DefaultEndpointsProtocol=https;AccountName=piprodstorage;AccountKey=/PJXsQKlPNDjFhP90dKN8Z0XzbdZyO0rm2nQZrBZErbO731a2nRr3DW3dGeBcp34qobnJDTU1Ff3IKpCggQiBQ==;BlobEndpoint=https://piprodstorage.blob.core.windows.net/;TableEndpoint=https://piprodstorage.table.core.windows.net/;QueueEndpoint=https://piprodstorage.queue.core.windows.net/;FileEndpoint=https://piprodstorage.file.core.windows.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="SISUserName" value="info@parcelinternational.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="RequestForQuoteEmail" value="support@parcelinternational.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="SISPassword" value="Shipper01" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="SISCompanyCodeUS" value="121" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="SISCompanyCodeNL" value="70" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="SISCostCenterUS" value="000001" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="SISCostCenterNL" value="0000002000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="EasyPostKey" value="5sArd9x0lSB0HOTtYJc4iw" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="FBAppId" value="1785007951723094" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="FBAppSecret" value="92eb70e4c0c295a4f3b21409a2851ccd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="googleAppId" value="657439870432-g98gvt35aceavp0ou6vsr3b6372m3cmr.apps.googleusercontent.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="googleAppSecret" value="WsjF353NEonbaFZMgTyMJl4h" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="MicrosoftAppId" value="70a1a68c-0c5e-445f-8724-5e433fe463e1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="MicrosoftAppSecret" value="dmtmssM17b8BNxnSHkOKU3E" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="SquareAccessToken" value="sandbox-sq0atb-m24_A-IqrhzXk1Y8LM2PoA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="SquareApplicationId" value="sandbox-sq0idp-qp8jQ9A9YX9ydsow8PLjmw" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="IsSendShipmentDebugData" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

</appSettings>

 

  

</configuration>
