<?xml version="1.0"  encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
  -->
    <connectionStrings>
      
      <add name="PIBookingConnectionString" connectionString="Data Source=tcp:pibookingqa.database.windows.net,1433;Initial Catalog=PIQA;User ID=piqa;Password=1qaz2wsx@;Encrypt=True;TrustServerCertificate=False" 
           providerName="System.Data.SqlClient" xdt:Transform="SetAttributes"  xdt:Locator="Match(name)" />      
      
    </connectionStrings>


  <appSettings>   
    <add key="AccountUserName" value="parcelinternational" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AccountPassword" value="1qaz2wsx@"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BaseWebURL" value="https://web.transportal.it/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ServiceURL" value="https://service.transportal.it/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SISWebURLUS" value="http://www2.shipitsmarter.com/taleus/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SISWebURLNL" value="http://www2.shipitsmarter.com/tale/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PIBlobStorage" value="https://pidocuments.blob.core.windows.net:443/piblobstorage/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BlobStorageKey" value="DefaultEndpointsProtocol=https;AccountName=pidocuments;AccountKey=6NaiQmUiUKwiWafuzYMeVv9i3TEREe81DTKTUCRmkh5dUp7QVtW/kQ9cAlVJeQhFiLD8zcTPdgpQbBhCNKJ8ag==;BlobEndpoint=https://pidocuments.blob.core.windows.net/;TableEndpoint=https://pidocuments.table.core.windows.net/;QueueEndpoint=https://pidocuments.queue.core.windows.net/;FileEndpoint=https://pidocuments.file.core.windows.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SISUserName" value="info@parcelinternational.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RequestForQuoteEmail" value="support@parcelinternational.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SISPassword" value="Shipper01" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SISCompanyCodeUS" value="121" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SISCompanyCodeNL" value="70" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SISCostCenterUS" value="000001" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SISCostCenterNL" value="0000002000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EasyPostKey" value="5sArd9x0lSB0HOTtYJc4iw" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FBAppId" value="1785006821723207" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FBAppSecret" value="e412cf5d029383885dd17df68e30840e" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="googleAppId" value="657439870432-g98gvt35aceavp0ou6vsr3b6372m3cmr.apps.googleusercontent.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="googleAppSecret" value="WsjF353NEonbaFZMgTyMJl4h" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MicrosoftAppId" value="70a1a68c-0c5e-445f-8724-5e433fe463e1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MicrosoftAppSecret" value="dmtmssM17b8BNxnSHkOKU3E" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SquareAccessToken" value="sandbox-sq0atb-m24_A-IqrhzXk1Y8LM2PoA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SquareApplicationId" value="sandbox-sq0idp-qp8jQ9A9YX9ydsow8PLjmw" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IsSendShipmentDebugData" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PostMenAPIKey" value="b503a482-7f8b-4e07-aa17-b50c21476123"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="USPSAccountKey" value="1e6b0889-0ed4-495e-9071-3a32c782c4e1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

 

  

</configuration>
