<html>
<head>
    <meta charset="utf-8">
    <title>Parcel InterNational- Register New User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="../../global/images/favicon.png">
    <link href="../../global/css/style.css" rel="stylesheet">
    <link href="../../global/css/ui.css" rel="stylesheet">
    <link href="../../global/plugins/icheck/skins/all.css" rel="stylesheet" />
    <link href="../../global/plugins/bootstrap-loading/lada.min.css" rel="stylesheet">
    <link href="../../css/custom.css" rel="stylesheet" />
    <link href="../../css/custom-general.css" rel="stylesheet" />
</head>
<body class="account separate-inputs boxed user-reg" data-page="signup" ng-app="userRegistration" ng-controller="userRegistrationCtrl as regCtrl">
    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block" ng-cloak>
        <div class="row text-center">
            <div class="form-content">
                <div class="account-wall">
                    <div class="login-user p-0">
                        <img src="/global/images/logo/PI-logo-login-sm.png">
                        <p style="text-align:center;color:#fff;font-size:16px">Tailor-made logistics at your fingertips</p>
                    </div>

                    <form class="form-signup" role="form" id="form-signup" name="formSignup" ng-hide="regCtrl.isSentMail" ng-submit="formSignup.$valid && regCtrl.register();">

                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-xs-6">
                                <div class="form-group">
                                    <input ng-cloak type="text" name="firstname" id="firstname" class="form-control form-ash" placeholder="{{'First name*'|translate}}" required ng-model="user.username" ng-class="{ 'has-error' :loginForm.username.$error.required && loginForm.username.$dirty}" autocomplete="off">

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-6">
                                <div class="form-group">
                                    <input type="text" name="lastname" id="lname" class="form-control form-ash" placeholder="{{'Last name*'|translate}}"
                                           ng-maxlength="100" />
                                </div>
                            </div>
                        </div>

                        <!--<div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <div class="form-group">
                                        <input type="text" name="lastname" id="lname" class="form-control form-ash" placeholder="{{'Last name*'|translate}}" required ng-model=""
                                               ng-maxlength="100" />
                                </div>
                            </div>
                        </div>-->

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control form-ash" placeholder="{{'Email address*'|translate}}" required ng-model="regCtrl.user.email"
                                           ng-maxlength="100" ng-class="{ 'error': formSignup.email.$invalid &&
                                                       (formSignup.email.$dirty||regCtrl.isSubmit || regCtrl.isfirstFormInvalid || isfirstFormInvalid) }" ng-focus="emailFocus = true" ng-blur="emailFocus = false" />

                                    <div ng-messages="formSignup.email.$error" ng-show="(formSignup.email.$dirty && !emailFocus) || regCtrl.isSubmit || isfirstFormInvalid">
                                        <label ng-message="required" class="error" for="email" translate>Enter your email address</label>
                                        <label ng-message="email" class="error" for="email" translate>Enter valid email address</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control form-ash"
                                           placeholder="{{'Enter password *'|translate}}" required
                                           ng-model="regCtrl.user.password"
                                           ng-class="{ 'error': formSignup.password.$invalid &&
                                                       (formSignup.password.$dirty||regCtrl.isSubmit || regCtrl.isfirstFormInvalid || isfirstFormInvalid) }" valid-password ng-focus="passwordFocus = true" ng-blur="passwordFocus = false" />

                                    <div ng-messages="formSignup.password.$error" ng-show="(formSignup.password.$dirty && !passwordFocus) || regCtrl.isSubmit || isfirstFormInvalid">
                                        <label ng-message="required" class="error" for="password" translate>Enter your password</label>
                                        <label ng-message="noValidPassword" class="error" for="password" translate>Enter valid password</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <div class="form-group">
                                    <input type="password" name="password_c" id="password_c" class="form-control form-ash"
                                           placeholder="{{'Confirm password *'|translate}}" required ng-model="regCtrl.user.password_c"
                                           ng-class="{ 'error': formSignup.password_c.$invalid &&
                                                       (formSignup.password_c.$dirty||regCtrl.isSubmit || regCtrl.isfirstFormInvalid || isfirstFormInvalid) }" valid-password-c ng-focus="password_cFocus = true" ng-blur="password_cFocus = false" />

                                    <div ng-messages="formSignup.password_c.$error" ng-show="(formSignup.password_c.$dirty && !password_cFocus) || regCtrl.isSubmit || isfirstFormInvalid">
                                        <label ng-message="required" class="error" for="password_c" translate>ReEnter your password</label>
                                        <label ng-message="noMatch" class="error" for="password_c" translate>2 passwords must be the same</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--<div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <div class="form-group">
                                    <div class="append-icon">
                                        <input type="email" name="email" id="email" class="form-control" placeholder="{{'Email address*'|translate}}" required ng-model="regCtrl.user.email"
                                               ng-maxlength="100" ng-class="{ 'error': formSignup.email.$invalid &&
                                               (formSignup.email.$dirty||regCtrl.isSubmit || regCtrl.isfirstFormInvalid || isfirstFormInvalid) }" ng-focus="emailFocus = true" ng-blur="emailFocus = false"/>

                                    </div>
                                    <div ng-messages="formSignup.email.$error" ng-show="(formSignup.email.$dirty && !emailFocus) || regCtrl.isSubmit || isfirstFormInvalid">
                                        <label ng-message="required" class="error" for="email" translate>Enter your email address</label>
                                        <label ng-message="email" class="error" for="email" translate>Enter valid email address</label>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="row">-->
                        <!--<div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control form-psw"
                                       placeholder= "{{'Enter your password *'|translate}}"
                                       required ng-model="regCtrl.user.password"
                                       ng-class="{ 'error': formSignup.password.$invalid &&
                                           (formSignup.password.$dirty||regCtrl.isSubmit || regCtrl.isfirstFormInvalid || isfirstFormInvalid) }" valid-password ng-focus="passwordFocus = true" ng-blur="passwordFocus = false"/>
                            </div>
                            <div ng-messages="formSignup.password.$error" ng-show="(formSignup.password.$dirty && !passwordFocus) || regCtrl.isSubmit || isfirstFormInvalid">
                                <label ng-message="required" class="error" for="password" translate>Enter your password</label>
                                <label ng-message="noValidPassword" class="error" for="password" translate>Enter valid password</label>
                            </div>
                        </div>-->
                        <!--<div class="col-sm-1">
                            <div class="form-group">
                                <div class="append-icon">
                                    <i class="icon-question" rel="popover" data-container="body" data-toggle="popover"
                                       data-placement="top"
                                       data-html="true"
                                       data-content= "- At least 8 characters long.
                               <br> - Should at least contain;

                               <br> &nbsp;&nbsp;&nbsp;&nbsp;One uppercase letter."

                               data-original-title="Your Password should be:" ></i>
                                </div>

                                <div class="spacer_1px"></div>
                            </div>
                        </div>-->
                        <!--</div>-->

                        <hr class="m-b-5">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12" style="text-align:center">
                                <a href="../userLogin/userLogin.html"
                                   translate>Already a member? Log in</a>
                            </div>
                        </div>

                        <!--<div class="row">
                            <div class="col-sm-12">
                                <div class="terms option-group">
                                    <label for="terms" class="m-t-10">
                                        <input type="checkbox" name="terms" id="terms" required ng-model="regCtrl.user.terms"
                                               ng-class="{ 'error': formSignupNext.terms.$invalid && (formSignupNext.terms.$dirty||regCtrl.isSubmit) }" icheck />
                                        <a href="javascript:void(0)" ng-click="regCtrl.OpenNewWindow()" style="color:#00A2D9;font-weight:normal;" translate>I agree with terms and conditions</a>
                                    </label>
                                    <div ng-messages="formSignupNext.terms.$error" ng-show="formSignupNext.terms.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="terms" translate>You must agree with terms</label>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <button type="submit" id="submit-form" class="btn btn-lg btn-primary m-t-20 m-b-10"
                                data-style="expand-left" ng-click="regCtrl.isSubmit = true" style="box-shadow: -2px 2px 4px 2px #999999;">
                            <translate>Create an Account</translate>
                        </button>

                        <p style="text-align:center;color:#8c8c8c">By clicking "Create an Account" you are agreeing to <br> Parcel International <a href="javascript:void(0)" ng-click="regCtrl.OpenNewWindow()">Terms &amp; Conditions</a></p>

                        <div class="alert alert-success" ng-show="regCtrl.isSubmit && regCtrl.alreadySubmitted" translate>
                            Please wait ...
                        </div>

                    </form>

                    <div class="row alert alert-success confirmationMailSend m-0" ng-show="regCtrl.isSentMail">
                        <translate> Thank you for registering with us! A Confirmation message was sent to your email</translate>.
                        <translate> Please check your mailbox to activate the account</translate>.
                    </div>

                </div>


            </div>
        </div>
        <p class="account-copyright">
            <translate>Parcel International. All rights reserved.</translate>
        </p>

    </div>
    <!-- END LOCKSCREEN BOX -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20031220-5', 'auto');
  ga('send', 'pageview');

    </script>
    <script src="../../global/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../global/plugins/gsap/main-gsap.min.js"></script>
    <script src="../../global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../global/plugins/icheck/icheck.min.js"></script>
    <script src="../../global/plugins/backstretch/backstretch.min.js"></script>
    <script src="../../global/plugins/bootstrap-loading/lada.min.js"></script>
    <script src="../../global/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="../../global/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="../../global/js/plugins.js"></script>
    <script src="../../global/js/custom.js"></script>
    <script src="../../global/plugins/noty/jquery.noty.packaged.min.js"></script>
    <script src="../../plugins/angular/angular.min.js"></script>
    <script src="../../plugins/angular-message/angular-messages.min.js"></script>
    <script src="../../plugins/angular-cookies/angular-cookies.min.js"></script>
    <script src="../../global/js/pages/login-v1.js"></script>

    <script src="../../plugins/angular-gettext/dist/angular-gettext.min.js"></script>
    <script src="../../js/translations.js"></script>

    <script src="../userLogin/userLoginCtrl.js"></script>
    <script src="userRegistrationCtrl.js"></script>

    <script src="../directive/angular-local-storage.min.js"></script>
    <script src="../directive/tokensManagerService.js"></script>

    <script src="../directive/authService.js"></script>
    <script src="../directive/authInterceptorService.js"></script>

</body>
</html>