<html>
<head>
    <meta charset="utf-8">
    <title>Parcel InterNational- Register New User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="../../global/images/favicon.png">
    <link href="../../global/css/style.css" rel="stylesheet">
    <link href="../../global/css/ui.css" rel="stylesheet">
    <link href="../../global/plugins/icheck/skins/all.css" rel="stylesheet" />
    <link href="../../global/plugins/bootstrap-loading/lada.min.css" rel="stylesheet">
    <link href="../../css/custom.css" rel="stylesheet" />
    <link href="../../css/custom-general.css" rel="stylesheet" />
</head>
<body class="account separate-inputs boxed user-reg" data-page="signup" ng-app="userRegistration" ng-controller="userRegistrationCtrl as regCtrl">
    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block" ng-cloak>
        <div class="row text-center">
            <div  class="form-content">
                <div class="account-wall">
                    <i class="user-img icons-faces-users-03"></i>
                    <form class="form-signup" role="form" id="form-signup" name="formSignup" ng-submit="formSignup.$valid && regCtrl.register();" ng-hide="regCtrl.isSentMail">
                        <div class="reg" id="reg-stepOne" ng-show="showContent != true">
                          <div class="regheader"><strong>Customer</strong> Registration</div>
                            <div class="reg-contentwrapper">
                                <div class="row">                                   
                                    <div class="col-sm-12 p-l-0 p-r-0">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <div class="option-group">
                                                    <select id="salutation" name="salutation" class="form-control ng-pristine ng-valid ng-touched" required
                                                            ng-model="regCtrl.user.salutation">
                                                        <option value="Mr">Mr</option>
                                                        <option value="Mrs">Mrs</option>
                                                        <option value="Ms">Ms</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="firstname" id="firstname" class="form-control" placeholder="First name*" required autofocus ng-model="regCtrl.user.firstname" ng-minlength="3" ng-maxlength="100" ng-class="{ 'error': formSignup.firstname.$invalid && (formSignup.firstname.$dirty||regCtrl.isSubmit) }" />
                                               
                                            </div>
                                            <div ng-messages="formSignup.firstname.$error" ng-show="formSignup.firstname.$dirty || regCtrl.isSubmit">
                                                <label ng-message="required" class="error" for="firstname">Enter your first name</label>
                                                <label ng-message="minlength" class="error" for="firstname">Enter at least 3 characters or more</label>
                                                <label ng-message="maxlength" class="error" for="firstname">Enter less than 100 characters</label>
                                            </div>
                                        </div>
                                        </div>
                                        
                                    </div>
                                </div>
                               <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Last name *" required ng-model="regCtrl.user.lastname" ng-minlength="3" ng-maxlength="100" ng-class="{ 'error': formSignup.lastname.$invalid && (formSignup.lastname.$dirty||regCtrl.isSubmit) }" />
                                                
                                            </div>
                                            <div ng-messages="formSignup.lastname.$error" ng-show="formSignup.lastname.$dirty || regCtrl.isSubmit">
                                                <label ng-message="required" class="error" for="lastname">Enter your last name</label>
                                                <label ng-message="minlength" class="error" for="lastname">Enter at least 3 characters or more</label>
                                                <label ng-message="maxlength" class="error" for="lastname">Enter less than 100 characters</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                   <div class="col-sm-12" ng-show="regCtrl.user.contactType == 'mobile'">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="mobilenumber" id="mobilenumber" class="form-control" ng-required="regCtrl.user.contactType == 'mobile'" placeholder="Enter Mobile Number *" valid-phone-no ng-model="regCtrl.user.mobilenumber" ng-maxlength="100" ng-class="{ 'error': formSignup.mobilenumber.$invalid && (formSignup.mobilenumber.$dirty||regCtrl.isSubmit) }" />
                                                
                                            </div>
                                            <div ng-messages="formSignup.mobilenumber.$error" ng-show="formSignup.mobilenumber.$dirty || regCtrl.isSubmit">
                                                <label ng-message="required" class="error" for="mobilenumber">Enter your mobile number</label>
                                                <label ng-message="notValidPhoneNo" class="error" for="mobilenumber">Enter valid mobile number</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" ng-show="regCtrl.user.contactType == 'phone'">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="phonenumber" id="phonenumber" class="form-control" ng-required="regCtrl.user.contactType == 'phone'" placeholder="Phone*" valid-phone-no ng-model="regCtrl.user.phonenumber" ng-maxlength="100" ng-class="{ 'error': formSignup.phonenumber.$invalid && (formSignup.phonenumber.$dirty||regCtrl.isSubmit) }" />
                                                
                                            </div>
                                            <div ng-messages="formSignup.phonenumber.$error" ng-show="formSignup.phonenumber.$dirty || regCtrl.isSubmit">
                                                <label ng-message="required" class="error" for="phonenumber">Enter your phone number</label>
                                                <label ng-message="notValidPhoneNo" class="error" for="phonenumber">Enter valid phone number</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="email" name="email" id="email" class="form-control" placeholder="Email address*" required ng-model="regCtrl.user.email" ng-maxlength="100" ng-class="{ 'error': formSignup.email.$invalid && (formSignup.email.$dirty||regCtrl.isSubmit) }" />
                                                
                                            </div>
                                            <div ng-messages="formSignup.email.$error" ng-show="formSignup.email.$dirty || regCtrl.isSubmit">
                                                <label ng-message="required" class="error" for="email">Enter your email address</label>
                                                <label ng-message="email" class="error" for="email">Enter valid email address</label>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                           <input type="password" name="password" id="password" class="form-control form-psw" placeholder="Enter your password *" required ng-model="regCtrl.user.password" ng-class="{ 'error': formSignup.password.$invalid && (formSignup.password.$dirty||regCtrl.isSubmit) }" valid-password />                                                               
                                         </div>
                                            <div class="form-group" >           
                                            <div class="append-icon" >
                                                        <i class="icon-question" rel="popover" data-container="body" data-toggle="popover" 
                                                           data-placement="top"
                                                           data-html="true"
                                                           data-content="- At least 8 characters long. <br>
                                           - Should at least contain;
                                           <br> &nbsp;&nbsp;&nbsp;&nbsp; One lowercase letter.
                                           <br> &nbsp;&nbsp;&nbsp;&nbsp; One uppercase letter.
                                           <br> &nbsp;&nbsp;&nbsp;&nbsp; One special character.
                                           <br> &nbsp;&nbsp;&nbsp;&nbsp; One digit."
                                           data-original-title="Your Password should be:"></i>
                                                     </div>
                                            <div ng-messages="formSignup.password.$error" ng-show="formSignup.password.$dirty || regCtrl.isSubmit">
                                                <label ng-message="required" class="error" for="password">Enter your password</label>
                                                <label ng-message="noValidPassword" class="error" for="password">Enter valid password</label>
                                            </div>
                                            <div class="spacer_1px"></div>
                                        </div>
                                    </div>
                                        
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="password" name="password_c" id="password_c" class="form-control form-psw" placeholder="Confirm your password *" required ng-model="regCtrl.user.password_c" ng-class="{ 'error': formSignup.password_c.$invalid && (formSignup.password_c.$dirty||regCtrl.isSubmit) }" valid-password-c />
                                                
                                            </div>
                                            <div ng-messages="formSignup.password_c.$error" ng-show="formSignup.password_c.$dirty || regCtrl.isSubmit">
                                                <label ng-message="required" class="error" for="password_c">ReEnter your password</label>
                                                <label ng-message="noMatch" class="error" for="password_c">2 passwords must be the same</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="icheck-inline">
                                                    <label class="accType"><input type="radio" name="iscorporate" id="individual" value="false" ng-model="regCtrl.user.isCorporateAccount" icheck /> Individual account</label>
                                                    <label class="accType"><input type="radio" name="iscorporate" id="corporate" value="true" ng-model="regCtrl.user.isCorporateAccount" icheck /> Corporate account</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="" ng-click="showContent=true" style="color:#247EB2;float:right;" ><u class="m-r-5" style="float: left;">Next</u>
                                        <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                    </a>
                                </div>
                            </div>
                        
                        </div><!--end Reg-stepOne -->
                        <div class="reg" id="reg-stepTwo" ng-show="showContent">
                            <div class="regheader"><strong>Customer</strong> Registration</div>
                            <div class="reg-contentwrapper">
                                <div class="row" ng-show="regCtrl.user.isCorporateAccount == 'true'">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="companyname" id="companyname" class="form-control" placeholder="Company/Location name " ng-required="regCtrl.user.isCorporateAccount == 'true'" ng-model="regCtrl.user.companyname" ng-maxlength="200" ng-class="{ 'error': formSignup.companyname.$invalid && (formSignup.companyname.$dirty||regCtrl.isSubmit) }" />
                                            </div>
                                            <div ng-messages="formSignup.companyname.$error" ng-show="formSignup.companyname.$dirty || regCtrl.isSubmit">
                                                <label ng-message="required" class="error" for="companyname">Enter company name</label>
                                                <label ng-message="maxlength" class="error" for="companyname">Enter less than 200 characters</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="regCtrl.user.isCorporateAccount == 'true'">                              
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="registrationnumbercompany" id="registrationnumbercompany" class="form-control" placeholder="Registration number company *" ng-required="regCtrl.user.isCorporateAccount == 'true'" ng-model="regCtrl.user.companycode" ng-maxlength="200" ng-class="{ 'error': formSignup.companyname.$invalid && (formSignup.companyname.$dirty||regCtrl.isSubmit) }" />
                                            </div>
                                            <div ng-messages="formSignup.companyname.$error" ng-show="formSignup.companyname.$dirty || regCtrl.isSubmit">
                                                <label ng-message="required" class="error" for="companyname">Enter company name</label>
                                                <label ng-message="maxlength" class="error" for="companyname">Enter less than 200 characters</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 p-l-0 p-r-0">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <div class="append-icon">
                                                    <input type="text" name="number" id="number" class="form-control" placeholder="Number *" required ng-model="regCtrl.user.customeraddress.number" ng-maxlength="100" ng-class="{ 'error': formSignup.number.$invalid && (formSignup.number.$dirty||regCtrl.isSubmit) }" /> 
                                                </div>
                                                <div ng-messages="formSignup.number.$error" ng-show="formSignup.number.$dirty || regCtrl.isSubmit">
                                                    <label ng-message="required" class="error" for="number">Enter Number</label>
                                                    <label ng-message="maxlength" class="error" for="number">Enter less than 100 characters</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="append-icon">
                                                    <input type="text" name="street" id="streetaddress1" class="form-control" placeholder="Street *" required ng-model="regCtrl.user.customeraddress.streetaddress1" ng-maxlength="100" ng-class="{ 'error': formSignup.street.$invalid && (formSignup.street.$dirty||regCtrl.isSubmit) }" />
                                                </div>
                                                <div ng-messages="formSignup.street.$error" ng-show="formSignup.street.$dirty || regCtrl.isSubmit">
                                                    <label ng-message="required" class="error" for="street">Enter Address</label>
                                                    <label ng-message="maxlength" class="error" for="street">Enter less than 100 characters</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="additionadetails" id="additionadetails" class="form-control" placeholder="Additional address information" ng-model="regCtrl.user.customeraddress.streetaddress2" ng-maxlength="200" ng-class="{ 'error': formSignup.additionadetails.$invalid && (formSignup.additionadetails.$dirty||regCtrl.isSubmit) }" />
                                            </div>
                                            <div ng-messages="formSignup.additionadetails.$error" ng-show="formSignup.additionadetails.$dirty || regCtrl.isSubmit">
                                                <label ng-message="maxlength" class="error" for="additionadetails">Enter less than 200 characters</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="postalcode" id="postalcode" class="form-control" placeholder="Zip/Postal Code *" required ng-model="regCtrl.user.customeraddress.zipcode" ng-maxlength="100" ng-class="{ 'error': formSignup.postalcode.$invalid && (formSignup.postalcode.$dirty||regCtrl.isSubmit) }" />
                                            </div>
                                            <div ng-messages="formSignup.postalcode.$error" ng-show="formSignup.postalcode.$dirty || regCtrl.isSubmit">
                                                <label ng-message="required" class="error" for="postalcode">Enter Postal code</label>
                                                <label ng-message="maxlength" class="error" for="postalcode">Enter less than 100 characters</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 p-l-0 p-r-0">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <div class="append-icon">
                                                    <input type="text" name="city" id="city" class="form-control" placeholder="City *" required ng-model="regCtrl.user.customeraddress.city" ng-maxlength="100" ng-class="{ 'error': formSignup.city.$invalid && (formSignup.city.$dirty||regCtrl.isSubmit) }" />
                                                </div>
                                                <div ng-messages="formSignup.city.$error" ng-show="formSignup.city.$dirty || regCtrl.isSubmit">
                                                    <label ng-message="required" class="error" for="city">Enter City</label>
                                                    <label ng-message="maxlength" class="error" for="city">Enter less than 100 characters</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="append-icon">
                                                    <input type="text" name="state" id="state" class="form-control" placeholder="State code {{regCtrl.isRequiredState?'*':''}}" ng-required="regCtrl.isRequiredState" ng-model="regCtrl.user.customeraddress.state" ng-maxlength="100" ng-class="{ 'error': formSignup.state.$invalid && (formSignup.state.$dirty||regCtrl.isSubmit) }" />
                                                </div>
                                                <div ng-messages="formSignup.state.$error" ng-show="formSignup.state.$dirty || regCtrl.isSubmit">
                                                    <label ng-message="required" class="error" for="state">Enter State</label>
                                                    <label ng-message="maxlength" class="error" for="state">Enter less than 100 characters</label>
                                                </div>
                                            </div>
                                        </div>             
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <country-select id="country" name="country"
                                                            required ng-model="regCtrl.user.customeraddress.country" ng-change="regCtrl.changeCountry();"
                                                            class="form-control"></country-select>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="terms option-group">
                                            <label for="terms" class="m-t-10">
                                                <input type="checkbox" name="terms" id="terms" required ng-model="regCtrl.user.terms" ng-class="{ 'error': formSignup.terms.$invalid && (formSignup.terms.$dirty||regCtrl.isSubmit) }" icheck />
                                                <a href="javascript:void(0)" ng-click="regCtrl.OpenNewWindow()" style="color:#00A2D9;font-weight:normal;">I agree with terms and conditions</a>
                                            </label>
                                            <div ng-messages="formSignup.terms.$error" ng-show="formSignup.terms.$dirty || regCtrl.isSubmit">
                                                <label ng-message="required" class="error" for="terms">You must agree with terms</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" id="submit-form" class="btn btn-lg btn-primary m-t-20"
                                        data-style="expand-left" ng-click="regCtrl.isSubmit = true">
                                    Register
                                </button>
                                <div class="alert alert-success" ng-show="regCtrl.isSubmit && regCtrl.alreadySubmitted">
                                    Please wait ...
                                </div>

                                <div ng-show="regCtrl.isSubmit && formSignup.$invalid">

                                    <p style='color:#994F4F;font-weight:bold;'>
                                        Your form contains
                                        {{formSignup.$error.required.length + formSignup.$error.minlength.length +  formSignup.$error.maxlength.length + formSignup.$error.email.length + formSignup.$error.notValidPhoneNo.length+ formSignup.$error.noValidPassword.length+ formSignup.$error.noMatch.length }}
                                        errors, see details below
                                    </p>

                                    <div ng-messages="formSignup.firstname.$error" ng-show="formSignup.firstname.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="firstname">Enter your first name</label>
                                        <label ng-message="minlength" class="error" for="firstname">Enter at least 3 characters or more</label>
                                        <label ng-message="maxlength" class="error" for="firstname">Enter less than 100 characters</label>
                                    </div>
                                    <div ng-messages="formSignup.middlename.$error" ng-show="formSignup.middlename.$dirty || regCtrl.isSubmit">
                                        <label ng-message="maxlength" class="error" for="middlename">Enter less than 100 characters</label>
                                    </div>
                                    <div ng-messages="formSignup.lastname.$error" ng-show="formSignup.lastname.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="lastname">Enter your last name</label>
                                        <label ng-message="minlength" class="error" for="lastname">Enter at least 3 characters or more</label>
                                        <label ng-message="maxlength" class="error" for="lastname">Enter less than 100 characters</label>
                                    </div>
                                    <div ng-messages="formSignup.email.$error" ng-show="formSignup.email.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="email">Enter your email address</label>
                                        <label ng-message="email" class="error" for="email">Enter valid email address</label>
                                    </div>
                                    <div ng-messages="formSignup.mobilenumber.$error" ng-show="formSignup.mobilenumber.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="mobilenumber">Enter your mobile number</label>
                                        <label ng-message="notValidPhoneNo" class="error" for="mobilenumber">Enter valid mobile number</label>
                                    </div>
                                    <div ng-messages="formSignup.phonenumber.$error" ng-show="formSignup.phonenumber.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="phonenumber">Enter your phone number</label>
                                        <label ng-message="notValidPhoneNo" class="error" for="phonenumber">Enter valid phone number</label>
                                    </div>
                                    <div ng-messages="formSignup.password.$error" ng-show="formSignup.password.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="password">Enter your password</label>
                                        <label ng-message="noValidPassword" class="error" for="password">Enter valid password</label>
                                    </div>
                                    <div ng-messages="formSignup.password_c.$error" ng-show="formSignup.password_c.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="password_c">ReEnter your password</label>
                                        <label ng-message="noMatch" class="error" for="password_c">2 passwords must be the same</label>
                                    </div>
                                    <div ng-messages="formSignup.companyname.$error" ng-show="formSignup.companyname.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="companyname">Enter company name</label>
                                        <label ng-message="maxlength" class="error" for="companyname">Enter less than 200 characters</label>
                                    </div>
                                    <div ng-messages="formSignup.postalcode.$error" ng-show="formSignup.postalcode.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="postalcode">Enter Postal Code</label>
                                        <label ng-message="maxlength" class="error" for="postalcode">Enter less than 100 characters</label>
                                    </div>
                                    <div ng-messages="formSignup.number.$error" ng-show="formSignup.number.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="number">Enter Number</label>
                                        <label ng-message="maxlength" class="error" for="number">Enter less than 100 characters</label>
                                    </div>
                                    <div ng-messages="formSignup.street.$error" ng-show="formSignup.street.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="street">Enter Street</label>
                                        <label ng-message="maxlength" class="error" for="street">Enter less than 100 characters</label>
                                    </div>
                                    <div ng-messages="formSignup.additionadetails.$error" ng-show="formSignup.additionadetails.$dirty || regCtrl.isSubmit">
                                        <label ng-message="maxlength" class="error" for="additionadetails">Enter less than 200 characters</label>
                                    </div>
                                    <div ng-messages="formSignup.city.$error" ng-show="formSignup.city.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="city">Enter City</label>
                                        <label ng-message="maxlength" class="error" for="city">Enter less than 100 characters</label>
                                    </div>
                                    <div ng-messages="formSignup.state.$error" ng-show="formSignup.state.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="state">Enter State</label>
                                        <label ng-message="maxlength" class="error" for="state">Enter less than 100 characters</label>
                                    </div>
                                    <div ng-messages="formSignup.terms.$error" ng-show="formSignup.terms.$dirty || regCtrl.isSubmit">
                                        <label ng-message="required" class="error" for="terms">You must agree with terms</label>
                                    </div>

                                </div>
                                <div>
                                    <a href="" ng-click="showContent = false" style="color:#247EB2;float:left;">
                                        <span class="glyphicon glyphicon-circle-arrow-left" style="float:left;"></span>
                                        <u class="m-l-5">Back</u>                                       
                                    </a>
                                </div>
                            </div>
                            </div>
                                
                    </form>

                    <div class="alert alert-success confirmationMailSend" ng-show="regCtrl.isSentMail">
                        Thank you for registrating with us! A Confirmation message was sent to your email.
                        Please check your mail box, to activate the account.
                    </div>

                    <div class="alert alert-warning" ng-show="regCtrl.isEmailNotValid">
                        Email address is already in use.
                    </div>

                    <div class="alert alert-warning" ng-show="regCtrl.isServerError ">
                        Error occured while processing registration
                    </div>
                </div>


            </div>
        </div>
        <p class="account-copyright">
            <span>Parcel International</span>.<span>All rights reserved.</span>
        </p>

    </div>
    <!-- END LOCKSCREEN BOX -->
    <script src="../../global/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../global/plugins/gsap/main-gsap.min.js"></script>
    <script src="../../global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../global/plugins/icheck/icheck.min.js"></script>
    <script src="../../global/plugins/backstretch/backstretch.min.js"></script>
    <script src="../../global/plugins/bootstrap-loading/lada.min.js"></script>
    <script src="../../global/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="../../global/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="../../global/js/plugins.js"></script>
    <script src="../../global/js/custom.js"></script>
    <script src="../../plugins/angular/angular.min.js"></script>
    <script src="../../plugins/angular-message/angular-messages.min.js"></script>
    <script src="../../global/js/pages/login-v1.js"></script>
    <script src="userRegistrationCtrl.js"></script>
</body>
</html>