<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SwsimV55Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="SwsimV55Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://swsim.stamps.com/swsim/swsimv55.asmx"
                binding="basicHttpBinding" bindingConfiguration="SwsimV55Soap"
                contract="StampServiceReference.SwsimV55Soap" name="SwsimV55Soap" />
        </client>
    </system.serviceModel>
</configuration>