<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Parcel International</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="../assets/global/images/favicon.png">
    <link href="../../global/css/style.css" rel="stylesheet">
    <link href="../../global/css/ui.css" rel="stylesheet">
    <link href="../../global/plugins/bootstrap-loading/lada.min.css" rel="stylesheet">
    <link href="../../css/custom.css" rel="stylesheet" />

</head>
<body class="account separate-inputs" data-page="login" ng-app="resetPassword" ng-controller="resetPasswordCtrl as forgotPassword">
    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <i class="user-img icons-faces-users-03"></i>
                                      

                    <form class="form-signin" role="form" ng-submit="resetPasswordForm.$valid && forgotPassword.resetOldPassword(user)" name="resetPasswordForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"> 
                                    <div class="append-icon m-b-20">
                                        <input type="password" name="password" class="form-control form-white password" 
                                               placeholder="{{'Password' | translate }}" required ng-model="user.password" ng-class="{ 'error': resetPasswordForm.password.$invalid && (resetPasswordForm.password.$dirty||regCtrl.isSubmit) }" valid-password ng-focus="passwordFocus = true" ng-blur="passwordFocus = false">
                                        <i class="icon-lock"></i>
                                        <div ng-messages="resetPasswordForm.password.$error" ng-show="(resetPasswordForm.password.$dirty && !passwordFocus) || regCtrl.isSubmit">
                                            <label ng-message="required" class="error" for="password" translate>Enter your password</label>
                                            <label ng-message="noValidPassword" class="error" for="password" translate>Enter valid password</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="append-icon m-b-20">
                                        <input type="password" name="password_c" class="form-control form-white password" 
                                               placeholder="{{'Confirm Password' | translate }}"
                                                required ng-model="user.passwordConfirm" ng-class="{ 'error': resetPasswordForm.password_c.$invalid && (resetPasswordForm.password_c.$dirty||regCtrl.isSubmit) }" valid-password-c ng-focus="password_cFocus = true" ng-blur="password_cFocus = false">
                                        <i class="icon-lock"></i>
                                        <div ng-messages="resetPasswordForm.password_c.$error" ng-show="(resetPasswordForm.password_c.$dirty && !password_cFocus) || regCtrl.isSubmit">
                                            <label ng-message="required" class="error" for="password_c" translate>ReEnter your password</label>
                                            <label ng-message="noMatch" class="error" for="password_c" translate>2 passwords must be the same</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" id="submit-form" class="btn btn-lg btn-danger " data-style="expand-left" value="Reset" />                  
                    </form>  
                    
                    <div class="form-group" ng-show="forgotPassword.invalidToken">
                        <div class="alert alert-warning">
                            {{forgotPassword.erroMessage}}
                        </div>
                    </div>

                    <div class="form-group" ng-show="forgotPassword.successReset">
                        <div class="alert alert-success" translate>
                            Password reset was successful. You will be redirected to the login page.
                        </div>
                    </div>
                                     
                </div>
            </div>
        </div>
        <p class="account-copyright">
            <span translate>Copyright © 2016 Parcel International. All rights reserved.</span>
        </p>

    </div>
    <script src="../../global/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../global/plugins/gsap/main-gsap.min.js"></script>
    <script src="../../global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../global/plugins/backstretch/backstretch.min.js"></script>
    <script src="../../global/plugins/bootstrap-loading/lada.min.js"></script>
    <script src="../../global/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="../../global/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="../../global/js/pages/login-v1.js"></script>
    
    <script src="../../plugins/angular/angular.min.js"></script>
    <script src="../../plugins/angular-message/angular-messages.min.js"></script>
   
    <script src="../../plugins/angular-gettext/dist/angular-gettext.min.js"></script>
    <script src="../../js/translations.js"></script>

    <script src="../../global/js/custom.js"></script>


    <script src="resertPasswordCtrl.js"></script>
</body>
</html>