
<div>
  <h3 translate>Select from AddressBook</h3>
    <table st-table="addressCollection"  class="table table-striped">
        <thead>
            <tr>                
                <th translate>Company Name </th>
                <th translate>First Name</th>
                <th translate>Last Name</th>
                <th translate>Select</th>
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="row in addressCollection">
                <td>{{row.companyName}}</td>               
                <td>{{row.firstName}}</td>
                <td>{{row.lastName}}</td>
                <td><a ng-click="selectAddress(row)" class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a></td>
                
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage"></div>
                </td>
            </tr>
        </tfoot>
    </table>

   
</div>
