<div ng-controller="airwayBillCtrl as awbCtrl">
    <div id="panel-notif"></div>
    <ng-form class="form-horizontal" role="form" id="formAirwayBillCustomer" name="formAirwayBillCustomer">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-md-10 portlets">
                <div class="panel ">
                    <div class="panel-content" style="overflow-x:visible">
                        <div style="text-align:center;height:75px;">
                            <div style="float:left;width:35%">
                                <img src={{logoUrl}} style="width:138px;height:50px;">
                            </div>
                            <div style="float:left;text-align:center">
                                <h2 style="margin-top:5px;margin-bottom:5px;font-weight:500">Shipment air waybill</h2>
                            </div>
                            <div style="float:right;text-align:left;padding:5px;">
                                <div style="text-align:left;clear:both">{{awbCtrl.shipment.invoiceNo}}</div>
                                <div style="text-align:left;clear:both">{{awbCtrl.shipment.shipmentReferenceName}}</div>
                            </div>
                            
                        </div>
                        <table class="table table-bordered">

                            <tbody>
                                <tr> 
                                    <td class="col-sm-12" style="padding:0;" colspan="3">
                                        <div style="clear:both">
                                            <div style="background-color:#009BCB;width:4%;padding-left:10px;padding-top:3px;float:left;border-right: 2px solid #fff;">
                                                <label style="color:#fff" translate>1</label><br />
                                            </div>
                                            <div style="background-color:#009BCB;width:96%;padding-left:10px;padding-top:3px;float:right">
                                                <label style="color:#fff" translate>From (Shipper)</label><br />
                                            </div>
                                        </div>
                                       <div style="padding:10px;clear:both">
                                           <label>Name: {{awbCtrl.shipment.addressInformation.consigner.firstName}} {{awbCtrl.shipment.addressInformation.consigner.lastName}} E-mail: {{awbCtrl.shipment.addressInformation.consigner.email}} Tel:{{awbCtrl.shipment.addressInformation.consigner.contactNumber}}</label><br />
                                           {{awbCtrl.shipment.addressInformation.consigner.address1}} {{awbCtrl.shipment.addressInformation.consigner.number}}<br />
                                           {{awbCtrl.shipment.addressInformation.consigner.address2}}<br />
                                           {{awbCtrl.shipment.addressInformation.consigner.postalcode}} {{awbCtrl.shipment.addressInformation.consigner.city}}<br />
                                           {{awbCtrl.shipment.addressInformation.consigner.country}}<br />
                                       </div>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;" colspan="3">
                                        <div style="background-color:#009BCB;width:4%;padding-left:10px;padding-top:3px;float:left;border-right: 2px solid #fff;">
                                            <label style="color:#fff" translate>2</label><br />
                                        </div>
                                        <div style="background-color:#009BCB;width:96%;padding-left:10px;padding-top:3px;float:right">
                                            <label style="color:#fff" translate>To (Recipient)</label><br />
                                        </div>
                                        <div style="padding:10px;clear:both">
                                            <label>Name: {{awbCtrl.shipment.addressInformation.consignee.firstName}} {{awbCtrl.shipment.addressInformation.consignee.lastName}} E-mail: {{awbCtrl.shipment.addressInformation.consignee.email}} Tel:{{awbCtrl.shipment.addressInformation.consignee.contactNumber}}</label><br />
                                            {{awbCtrl.shipment.addressInformation.consignee.address1}} {{awbCtrl.shipment.addressInformation.consignee.number}}<br />
                                            {{awbCtrl.shipment.addressInformation.consignee.address2}}<br />
                                            {{awbCtrl.shipment.addressInformation.consignee.postalcode}} {{awbCtrl.shipment.addressInformation.consignee.city}}<br />
                                            {{awbCtrl.shipment.addressInformation.consignee.country}}<br />
                                        </div> 
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;" colspan="3">
                                        <div style="background-color:#009BCB;width:4%;padding-left:10px;padding-top:3px;float:left;border-right: 2px solid #fff;">
                                            <label style="color:#fff" translate>3</label><br />
                                        </div>
                                        <div style="background-color:#009BCB;width:96%;padding-left:10px;padding-top:3px;float:right">
                                            <label style="color:#fff" translate>Shipment details</label><br />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%" rowspan="2">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Total no. of packages:</label><br />
                                       <div ng-repeat="product in awbCtrl.shipment.packageDetails.productIngredients"> {{product.quantity}} * {{product.productType}}</div>
                                    </td>
                                    <td style="padding:0;width:33.33%" >
                                        <label style="color:#000;float:left;padding-left:5px" translate>Weight:</label><br />
                                        <div>
                                            {{awbCtrl.shipment.packageDetails.totalWeight}}
                                        </div>
                                    </td>
                                    <td style="padding-top:0;padding-left:15px;width:33.33%;vertical-align:top" rowspan="4">
                                        <table>
                                            <tr>
                                                <th style="font-size:12px;padding:5px">Package</th>
                                                <th style="font-size:12px;padding:5px">Length</th>
                                                <th style="font-size:12px;padding:5px">Width</th>
                                                <th style="font-size:12px;padding:5px">Height</th>
                                            </tr>
                                            <tr ng-repeat="product in awbCtrl.shipment.packageDetails.productIngredients track by $index">
                                                <td style="font-size:12px">{{product.productType}}</td>
                                                <td style="font-size:12px">{{product.length}}</td>
                                                <td style="font-size:12px">{{product.width}}</td>
                                                <td style="font-size:12px">{{product.height}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Volume:</label><br />
                                        <div>{{awbCtrl.shipment.packageDetails.totalVolume}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%" rowspan="2">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Incoterm:</label><br />
                                        <div>{{awbCtrl.shipment.shipmentServices}}</div>
                                    </td>
                                    <td style="padding:0;width:33.33%">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Value:</label><br />
                                        <div>{{awbCtrl.shipment.packageDetails.declaredValue}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Insured:</label><br />
                                        <div ng-show="awbCtrl.shipment.packageDetails.isInsuared=='True'">Yes</div>
                                        <div ng-show="awbCtrl.shipment.packageDetails.isInsuared=='False'">No</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;vertical-align: top;" colspan="3">
                                        <div style="background-color:#009BCB;width:4%;padding-left:10px;padding-top:3px;float:left;border-right: 2px solid #fff;">
                                            <label style="color:#fff" translate>4</label><br />
                                        </div>
                                        <div style="background-color:#009BCB;width:96%;padding-left:10px;padding-top:3px;float:right">
                                            <label style="color:#fff" translate>Full description</label><br />
                                        </div>
                                        <div style="padding:10px;clear:both">
                                            <div>{{awbCtrl.shipment.packageDetails.instructions}}</div><br />
                                            <div>{{awbCtrl.shipment.packageDetails.shipmentDescription}}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%;vertical-align: top;" >
                                        <div style="background-color:#009BCB;width:12%;padding-left:10px;padding-top:3px;float:left;border-right: 2px solid #fff;">
                                            <label style="color:#fff" translate>5</label><br />
                                        </div>
                                        <div style="background-color:#009BCB;width:88%;padding-left:10px;padding-top:3px;float:right">
                                            <label style="color:#fff" translate>Requested pickup date</label><br />
                                        </div>
                                        <div style="padding:10px;clear:both">{{awbCtrl.shipment.packageDetails.earliestPickupDate.split(' ')[0]}}</div>
                                    </td>
                                    <td style="padding:0;width:33.33%;vertical-align: top;">
                                        <div style="background-color:#009BCB;width:12%;padding-left:10px;padding-top:3px;float:left;border-right: 2px solid #fff;">
                                            <label style="color:#fff" translate>6</label><br />
                                        </div>
                                        <div style="background-color:#009BCB;width:88%;padding-left:10px;padding-top:3px;float:right">
                                            <label style="color:#fff" translate>Planned delivery date</label><br />
                                        </div>
                                        <div style="padding:10px;clear:both">{{awbCtrl.shipment.packageDetails.estDeliveryDate.split(' ')[0]}}</div>
                                    </td>
                                    <td style="padding:0;width:33.33%;vertical-align: top;">
                                        <div style="background-color:#009BCB;width:12%;padding-left:10px;padding-top:3px;float:left;border-right: 2px solid #fff;">
                                            <label style="color:#fff" translate>7</label><br />
                                        </div>
                                        <div style="background-color:#009BCB;width:88%;padding-left:10px;padding-top:3px;float:right">
                                            <label style="color:#fff" translate>Carrier</label><br /> 
                                        </div>
                                        
                                        <div style="padding:10px;clear:both">
                                            <p>{{awbCtrl.shipment.careerDetails.name}}</p>
                                            <p>{{awbCtrl.shipment.careerDetails.name}} {{awbCtrl.shipment.serviceLevel}} 
                                                <span ng-hide="awbCtrl.isEditableAwb">{{awbCtrl.shipment.trackingNumber}}</span>
                                                <span ng-show="awbCtrl.isEditableAwb">
                                                    <input type="text" ng-model="awbCtrl.shipment.trackingNumber">
                                                    <a href="javascript:void(0)" ng-click="awbCtrl.saveAwbNo()"><i style="font-size:29px;margin-top: -2px;margin-left: 2px;color:#009BCB" class="fa fa-floppy-o" aria-hidden="true"></i></a> 
                                                </span>
                                            </p>
                                            <p>{{awbCtrl.shipment.packageDetails.carrierCost | currency:"US $ "}}</p>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
               
            </div>

        </div>

    </ng-form>



<!--********************************************************************************************-->



    <div id="AirwayBillCustomerPrint" style="display:none">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-md-10 portlets">
                <div class="panel ">
                    <div class="panel-content" style="font-family:sans-serif">
                        <div style="text-align:center;height:75px;">
                            <div style="float:left;width:35%">
                                <img src={{logoUrl}} style="width:138px;height:50px;">
                            </div>
                            <div style="float:left;text-align:center">
                                <h2 style="margin-top:5px;margin-bottom:5px;font-weight:500">Shipment air waybill</h2>
                            </div>
                            <div style="float:right;text-align:left;padding:5px;">
                                <div style="text-align:left;clear:both">{{awbCtrl.shipment.invoiceNo}}</div>
                                <div style="text-align:left;clear:both">{{awbCtrl.shipment.shipmentReferenceName}}</div>
                            </div>

                        </div>
                        <table class="table table-bordered" style="border-spacing: 0;border-collapse: collapse;color: #5b5b5b;">

                            <tbody>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;border:1px solid #ddd;" colspan="3">
                                        <div style="clear:both">
                                            <div style="background-color:#009BCB;width:2.2%;padding-left:5px;padding-top:3px;float:left;border-right: 1px solid #fff;">
                                                <label style="color:#fff" translate>1</label><br />
                                            </div>
                                            <div style="background-color:#009BCB;width:95.4%;padding-left:10px;padding-top:3px;float:right">
                                                <label style="color:#fff" translate>From (Shipper)</label><br />
                                            </div>
                                        </div>
                                        <div style="padding:10px;clear:both">
                                            <label>Name: {{awbCtrl.shipment.addressInformation.consigner.firstName}} {{awbCtrl.shipment.addressInformation.consigner.lastName}} E-mail: {{awbCtrl.shipment.addressInformation.consigner.email}} Tel:{{awbCtrl.shipment.addressInformation.consigner.contactNumber}}</label><br />
                                            {{awbCtrl.shipment.addressInformation.consigner.address1}} {{awbCtrl.shipment.addressInformation.consigner.number}}<br />
                                            {{awbCtrl.shipment.addressInformation.consigner.postalcode}} {{awbCtrl.shipment.addressInformation.consigner.city}}<br />
                                            {{awbCtrl.shipment.addressInformation.consigner.country}}<br />
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;border:1px solid #ddd;" colspan="3">
                                        <div style="background-color:#009BCB;width:2.2%;padding-left:5px;padding-top:3px;float:left;border-right: 1px solid #fff;">
                                            <label style="color:#fff" translate>2</label><br />
                                        </div>
                                        <div style="background-color:#009BCB;width:95.4%;padding-left:10px;padding-top:3px;float:right">
                                            <label style="color:#fff" translate>To (Recipient)</label><br />
                                        </div>
                                        <div style="padding:10px;clear:both">
                                            <label>Name: {{awbCtrl.shipment.addressInformation.consignee.firstName}} {{awbCtrl.shipment.addressInformation.consignee.lastName}} E-mail: {{awbCtrl.shipment.addressInformation.consignee.email}} Tel:{{awbCtrl.shipment.addressInformation.consignee.contactNumber}}</label><br />
                                            {{awbCtrl.shipment.addressInformation.consignee.address1}} {{awbCtrl.shipment.addressInformation.consignee.number}}<br />
                                            {{awbCtrl.shipment.addressInformation.consignee.postalcode}} {{awbCtrl.shipment.addressInformation.consignee.city}}<br />
                                            {{awbCtrl.shipment.addressInformation.consignee.country}}<br />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;border:1px solid #ddd;" colspan="3">
                                        <div style="background-color:#009BCB;width:2.2%;padding-left:5px;padding-top:3px;float:left;border-right: 1px solid #fff;">
                                            <label style="color:#fff" translate>3</label><br />
                                        </div>
                                        <div style="background-color:#009BCB;width:95.4%;padding-left:10px;padding-top:3px;float:right">
                                            <label style="color:#fff" translate>Shipment details</label><br />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;border:1px solid #ddd;width:33.33%" rowspan="2">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Total no. of packages:</label><br />
                                        <div style="padding:5px" ng-repeat="product in awbCtrl.shipment.packageDetails.productIngredients"> {{product.quantity}} * {{product.productType}}</div>
                                    </td>
                                    <td style="padding:0;border:1px solid #ddd;width:33.33%">
                                        <label style="color:#000;float:left;padding:5px" translate>Weight:</label><br />
                                        <div style="width:100%;text-align:center">
                                            {{awbCtrl.shipment.packageDetails.totalWeight}}
                                        </div>
                                    </td>
                                    <td style="padding-top:0;padding-left:15px;border:1px solid #ddd;width:33.33%;vertical-align:top" rowspan="4">
                                        <table>
                                            <tr>
                                                <th style="font-size:12px;padding:5px">Package</th>
                                                <th style="font-size:12px;padding:5px">Length</th>
                                                <th style="font-size:12px;padding:5px">Width</th>
                                                <th style="font-size:12px;padding:5px">Height</th>
                                            </tr>
                                            <tr ng-repeat="product in awbCtrl.shipment.packageDetails.productIngredients track by $index">
                                                <td style="font-size:12px;padding:5px;text-align:center">{{product.productType}}</td>
                                                <td style="font-size:12px;padding:5px;text-align:center">{{product.length}}</td>
                                                <td style="font-size:12px;padding:5px;text-align:center">{{product.width}}</td>
                                                <td style="font-size:12px;padding:5px;text-align:center">{{product.height}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;border:1px solid #ddd;width:33.33%">
                                        <label style="color:#000;float:left;padding:5px" translate>Volume:</label><br />
                                        <div style="width:100%;text-align:center">{{awbCtrl.shipment.packageDetails.totalVolume}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;border:1px solid #ddd;width:33.33%" rowspan="2">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Incoterm:</label><br />
                                        <div style="padding:5px">{{awbCtrl.shipment.shipmentServices}}</div>
                                    </td>
                                    <td style="padding:0;border:1px solid #ddd;width:33.33%">
                                        <label style="color:#000;float:left;padding:5px" translate>Value:</label><br />
                                        <div style="width:100%;text-align:center">{{awbCtrl.shipment.packageDetails.declaredValue}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;border:1px solid #ddd;width:33.33%">
                                        <label style="color:#000;float:left;padding:5px" translate>Insured:</label><br />
                                        <div style="width:100%;text-align:center" ng-if="awbCtrl.shipment.packageDetails.isInsuared=='True'">Yes</div>
                                        <div style="width:100%;text-align:center" ng-if="awbCtrl.shipment.packageDetails.isInsuared=='False'">No</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;border:1px solid #ddd;vertical-align: top;" colspan="3">
                                        <div style="background-color:#009BCB;width:2.2%;padding-left:5px;padding-top:3px;float:left;border-right: 1px solid #fff;">
                                            <label style="color:#fff" translate>4</label><br />
                                        </div>
                                        <div style="background-color:#009BCB;width:95.4%;padding-left:10px;padding-top:3px;float:right">
                                            <label style="color:#fff" translate>Full description</label><br />
                                        </div>
                                        <div style="padding:10px;clear:both">
                                            <div>{{awbCtrl.shipment.packageDetails.instructions}}</div><br />
                                            <div>{{awbCtrl.shipment.packageDetails.shipmentDescription}}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%;border:1px solid #ddd;vertical-align: top;">
                                        <div style="background-color:#009BCB;width:6.6%;padding-left:5px;padding-top:3px;float:left;border-right: 1px solid #fff;">
                                            <label style="color:#fff" translate>5</label><br />
                                        </div>
                                        <div style="background-color:#009BCB;width:86.2%;padding-left:10px;padding-top:3px;float:right">
                                            <label style="color:#fff" translate>Requested pickup date</label><br />
                                        </div>
                                        <div style="padding:10px;clear:both">{{awbCtrl.shipment.packageDetails.earliestPickupDate}}</div>
                                    </td>
                                    <td style="padding:0;width:33.33%;border:1px solid #ddd;vertical-align: top;">
                                        <div style="background-color:#009BCB;width:6.6%;padding-left:5px;padding-top:3px;float:left;border-right: 1px solid #fff;">
                                            <label style="color:#fff" translate>6</label><br />
                                        </div>
                                        <div style="background-color:#009BCB;width:86.2%;padding-left:10px;padding-top:3px;float:right">
                                            <label style="color:#fff" translate>Planned delivery date</label><br />
                                        </div>
                                        <div style="padding:10px;clear:both">{{awbCtrl.shipment.packageDetails.estDeliveryDate}}</div>
                                    </td>
                                    <td style="padding:0;width:33.33%;border:1px solid #ddd;vertical-align: top;">
                                        <div style="background-color:#009BCB;width:6.6%;padding-left:5px;padding-top:3px;float:left;border-right: 1px solid #fff;">
                                            <label style="color:#fff" translate>7</label><br />
                                        </div>
                                        <div style="background-color:#009BCB;width:86.2%;padding-left:10px;padding-top:3px;float:right">
                                            <label style="color:#fff" translate>Carrier</label><br />
                                        </div>
                                        <div style="padding:10px;clear:both">{{awbCtrl.shipment.careerDetails.name}} , {{awbCtrl.shipment.modeOfTransport}} , {{awbCtrl.shipment.packageDetails.carrierCost | currency:"US $ "}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>



    <!--#######################################################################################################-->




    <!--<ng-form class="form-horizontal" role="form" id="formAirwayBillAdmin" name="formAirwayBillAdmin" ng-show="awbCtrl.currentRole=='Admin'">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-md-10 portlets">
                <div class="panel ">
                    <div class="panel-content">
                        <div style="text-align:center;height:75px;">
                            <div style="float:left;width:35%">
                                <img style="float:left" src="../../proj_img/PI_logo1.png" />
                            </div>
                            <div style="float:left;text-align:center">
                                <h2 style="margin-top:5px;margin-bottom:5px;font-weight:500">Shipment air way bill</h2>
                            </div>
                            <div style="float:right;text-align:left;padding:5px;">
                                <div style="text-align:left;clear:both">{{awbCtrl.shipment.invoiceNo}}</div>
                                <div style="text-align:left;clear:both">{{awbCtrl.shipment.shipmentReferenceName}}</div>
                            </div>

                        </div>
                        <table class="table table-bordered">

                            <tbody>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;" colspan="3">
                                        <div style="background-color:#009BCB;width:100%;padding-left:10px;padding-top:3px;">
                                            <label style="color:#fff" translate>From (Shipper)</label><br />
                                        </div>
                                        <div style="padding:10px">
                                            <label>Name: {{awbCtrl.shipment.addressInformation.consigner.firstName}} {{awbCtrl.shipment.addressInformation.consigner.lastName}} E-mail: {{awbCtrl.shipment.addressInformation.consigner.email}} Tel:{{awbCtrl.shipment.addressInformation.consigner.contactNumber}}</label><br />
                                            {{awbCtrl.shipment.addressInformation.consigner.address1}} {{awbCtrl.shipment.addressInformation.consigner.number}}<br />
                                            {{awbCtrl.shipment.addressInformation.consigner.postalcode}} {{awbCtrl.shipment.addressInformation.consigner.city}}<br />
                                            {{awbCtrl.shipment.addressInformation.consigner.country}}<br />
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;" colspan="3">
                                        <div style="background-color:#009BCB;width:100%;padding-left:10px;padding-top:3px;">
                                            <label style="color:#fff" translate>To (Recipient)</label><br />
                                        </div>
                                        <div style="padding:10px">
                                            <label>Name: {{awbCtrl.shipment.addressInformation.consignee.firstName}} {{awbCtrl.shipment.addressInformation.consignee.lastName}} E-mail: {{awbCtrl.shipment.addressInformation.consignee.email}} Tel:{{awbCtrl.shipment.addressInformation.consignee.contactNumber}}</label><br />
                                            {{awbCtrl.shipment.addressInformation.consignee.address1}} {{awbCtrl.shipment.addressInformation.consignee.number}}<br />
                                            {{awbCtrl.shipment.addressInformation.consignee.postalcode}} {{awbCtrl.shipment.addressInformation.consignee.city}}<br />
                                            {{awbCtrl.shipment.addressInformation.consignee.country}}<br />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;" colspan="3">
                                        <div style="background-color:#009BCB;width:100%;padding-left:10px;padding-top:3px;">
                                            <label style="color:#fff" translate>Shipment details</label><br />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%" rowspan="2">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Total no. of packages:</label><br />
                                        <div ng-repeat="product in awbCtrl.shipment.packageDetails.productIngredients"> {{product.quantity}} * {{product.productType}}</div>
                                    </td>
                                    <td style="padding:0;width:33.33%">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Weight:</label><br />
                                        <div>
                                            {{awbCtrl.shipment.packageDetails.totalWeight}}
                                        </div>
                                    </td>
                                    <td style="padding-top:0;padding-left:15px;width:33.33%;vertical-align:top" rowspan="4">
                                        <table>
                                            <tr>
                                                <th style="font-size:12px;padding:5px">Package</th>
                                                <th style="font-size:12px;padding:5px">Length</th>
                                                <th style="font-size:12px;padding:5px">Width</th>
                                                <th style="font-size:12px;padding:5px">Height</th>
                                            </tr>
                                            <tr ng-repeat="product in awbCtrl.shipment.packageDetails.productIngredients track by $index">
                                                <td style="font-size:12px">{{product.productType}}</td>
                                                <td style="font-size:12px">{{product.length}}</td>
                                                <td style="font-size:12px">{{product.width}}</td>
                                                <td style="font-size:12px">{{product.height}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Volume:</label><br />
                                        <div>{{awbCtrl.shipment.packageDetails.totalVolume}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%" rowspan="2">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Incoterm:</label><br />
                                        <div>{{awbCtrl.shipment.shipmentServices}}</div>
                                    </td>
                                    <td style="padding:0;width:33.33%">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Value:</label><br />
                                        <div>{{awbCtrl.shipment.packageDetails.declaredValue}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Insured:</label><br />
                                        <div ng-show="awbCtrl.shipment.packageDetails.isInsuared=='True'">Yes</div>
                                        <div ng-show="awbCtrl.shipment.packageDetails.isInsuared=='False'">No</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;vertical-align: top;" colspan="3">
                                        <div style="background-color:#009BCB;width:100%;padding-left:10px;padding-top:3px;">
                                            <label style="color:#fff" translate>Full description</label><br />
                                        </div>
                                        <div style="padding:10px">
                                            <div>{{awbCtrl.shipment.packageDetails.instructions}}</div><br />
                                            <div>{{awbCtrl.shipment.packageDetails.shipmentDescription}}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%;vertical-align: top;">
                                        <div style="background-color:#009BCB;width:100%;padding-left:10px;padding-top:3px;">
                                            <label style="color:#fff" translate>Requested pickup date</label><br />
                                        </div>
                                        <div style="padding:10px">{{awbCtrl.shipment.packageDetails.earliestPickupDate}}</div>
                                    </td>
                                    <td style="padding:0;width:33.33%;vertical-align: top;">
                                        <div style="background-color:#009BCB;width:100%;padding-left:10px;padding-top:3px;">
                                            <label style="color:#fff" translate>Planed delivery date</label><br />
                                        </div>
                                        <div style="padding:10px">{{awbCtrl.shipment.packageDetails.estDeliveryDate}}</div>
                                    </td>
                                    <td style="padding:0;width:33.33%;vertical-align: top;">
                                        <div style="background-color:#009BCB;width:100%;padding-left:10px;padding-top:3px;">
                                            <label style="color:#fff" translate>Carrier</label><br />
                                        </div>
                                        <div style="padding:10px">{{awbCtrl.shipment.careerDetails.name}} , {{awbCtrl.shipment.modeOfTransport}} , {{awbCtrl.shipment.packageDetails.carrierCost}} {{awbCtrl.shipmnetCurrencyLabel}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </ng-form>-->


    <!--###############################################################################################-->



    <!--<div id="AirwayBillAdminPrint"  style="display:none;">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-md-10 portlets">
                <div class="panel ">
                    <div class="panel-content">
                        <div style="text-align:center;height:75px;">
                            <div style="float:left;width:35%">
                                <img style="float:left" src="../../proj_img/PI_logo1.png" />
                            </div>
                            <div style="float:left;text-align:center">
                                <h2 style="margin-top:5px;margin-bottom:5px;font-weight:500">Shipment air way bill</h2>
                            </div>
                            <div style="float:right;text-align:left;padding:5px;">
                                <div style="text-align:left;clear:both">{{awbCtrl.shipment.invoiceNo}}</div>
                                <div style="text-align:left;clear:both">{{awbCtrl.shipment.shipmentReferenceName}}</div>
                            </div>

                        </div>
                        <table class="table table-bordered">

                            <tbody>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;" colspan="3">
                                        <div style="background-color:#009BCB;width:100%;padding-left:10px;padding-top:3px;">
                                            <label style="color:#fff" translate>From (Shipper)</label><br />
                                        </div>
                                        <div style="padding:10px">
                                            <label>Name: {{awbCtrl.shipment.addressInformation.consigner.firstName}} {{awbCtrl.shipment.addressInformation.consigner.lastName}} E-mail: {{awbCtrl.shipment.addressInformation.consigner.email}} Tel:{{awbCtrl.shipment.addressInformation.consigner.contactNumber}}</label><br />
                                            {{awbCtrl.shipment.addressInformation.consigner.address1}} {{awbCtrl.shipment.addressInformation.consigner.number}}<br />
                                            {{awbCtrl.shipment.addressInformation.consigner.postalcode}} {{awbCtrl.shipment.addressInformation.consigner.city}}<br />
                                            {{awbCtrl.shipment.addressInformation.consigner.country}}<br />
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;" colspan="3">
                                        <div style="background-color:#009BCB;width:100%;padding-left:10px;padding-top:3px;">
                                            <label style="color:#fff" translate>To (Recipient)</label><br />
                                        </div>
                                        <div style="padding:10px">
                                            <label>Name: {{awbCtrl.shipment.addressInformation.consignee.firstName}} {{awbCtrl.shipment.addressInformation.consignee.lastName}} E-mail: {{awbCtrl.shipment.addressInformation.consignee.email}} Tel:{{awbCtrl.shipment.addressInformation.consignee.contactNumber}}</label><br />
                                            {{awbCtrl.shipment.addressInformation.consignee.address1}} {{awbCtrl.shipment.addressInformation.consignee.number}}<br />
                                            {{awbCtrl.shipment.addressInformation.consignee.postalcode}} {{awbCtrl.shipment.addressInformation.consignee.city}}<br />
                                            {{awbCtrl.shipment.addressInformation.consignee.country}}<br />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;" colspan="3">
                                        <div style="background-color:#009BCB;width:100%;padding-left:10px;padding-top:3px;">
                                            <label style="color:#fff" translate>Shipment details</label><br />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%" rowspan="2">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Total no. of packages:</label><br />
                                        <div ng-repeat="product in awbCtrl.shipment.packageDetails.productIngredients"> {{product.quantity}} * {{product.productType}}</div>
                                    </td>
                                    <td style="padding:0;width:33.33%">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Weight:</label><br />
                                        <div>
                                            {{awbCtrl.shipment.packageDetails.totalWeight}}
                                        </div>
                                    </td>
                                    <td style="padding-top:0;padding-left:15px;width:33.33%;vertical-align:top" rowspan="4">
                                        <table>
                                            <tr>
                                                <th style="font-size:12px;padding:5px">Package</th>
                                                <th style="font-size:12px;padding:5px">Length</th>
                                                <th style="font-size:12px;padding:5px">Width</th>
                                                <th style="font-size:12px;padding:5px">Height</th>
                                            </tr>
                                            <tr ng-repeat="product in awbCtrl.shipment.packageDetails.productIngredients track by $index">
                                                <td style="font-size:12px">{{product.productType}}</td>
                                                <td style="font-size:12px">{{product.length}}</td>
                                                <td style="font-size:12px">{{product.width}}</td>
                                                <td style="font-size:12px">{{product.height}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Volume:</label><br />
                                        <div>{{awbCtrl.shipment.packageDetails.totalVolume}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%" rowspan="2">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Incoterm:</label><br />
                                        <div>{{awbCtrl.shipment.shipmentServices}}</div>
                                    </td>
                                    <td style="padding:0;width:33.33%">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Value:</label><br />
                                        <div>{{awbCtrl.shipment.packageDetails.declaredValue}}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%">
                                        <label style="color:#000;float:left;padding-left:5px" translate>Insured:</label><br />
                                        <div ng-show="awbCtrl.shipment.packageDetails.isInsuared=='True'">Yes</div>
                                        <div ng-show="awbCtrl.shipment.packageDetails.isInsuared=='False'">No</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-sm-12" style="padding:0;vertical-align: top;" colspan="3">
                                        <div style="background-color:#009BCB;width:100%;padding-left:10px;padding-top:3px;">
                                            <label style="color:#fff" translate>Full description</label><br />
                                        </div>
                                        <div style="padding:10px">
                                            <div>{{awbCtrl.shipment.packageDetails.instructions}}</div><br />
                                            <div>{{awbCtrl.shipment.packageDetails.shipmentDescription}}</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;width:33.33%;vertical-align: top;">
                                        <div style="background-color:#009BCB;width:100%;padding-left:10px;padding-top:3px;">
                                            <label style="color:#fff" translate>Requested pickup date</label><br />
                                        </div>
                                        <div style="padding:10px">{{awbCtrl.shipment.packageDetails.earliestPickupDate}}</div>
                                    </td>
                                    <td style="padding:0;width:33.33%;vertical-align: top;">
                                        <div style="background-color:#009BCB;width:100%;padding-left:10px;padding-top:3px;">
                                            <label style="color:#fff" translate>Planed delivery date</label><br />
                                        </div>
                                        <div style="padding:10px">{{awbCtrl.shipment.packageDetails.estDeliveryDate}}</div>
                                    </td>
                                    <td style="padding:0;width:33.33%;vertical-align: top;">
                                        <div style="background-color:#009BCB;width:100%;padding-left:10px;padding-top:3px;">
                                            <label style="color:#fff" translate>Carrier</label><br />
                                        </div>
                                        <div style="padding:10px">{{awbCtrl.shipment.careerDetails.name}} , {{awbCtrl.shipment.modeOfTransport}} , {{awbCtrl.shipment.packageDetails.carrierCost}} {{awbCtrl.shipmnetCurrencyLabel}}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>-->
</div>