<div ng-controller="commercialInvoiceCtrl as invoiceCtrl">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-md-10 portlets">
            <div class="panel ">
                <div class="panel-content">
                    <table class="table table-bordered">

                        <tbody>
                            <tr>
                                <td rowspan="2" class="col-sm-6">
                                    <p>{{invoiceCtrl.shipment.addressInformation.firstName}} {{invoiceCtrl.shipment.addressInformation.lastName}}</p>
                                    <p>{{invoiceCtrl.shipment.addressInformation.address1}} {{invoiceCtrl.shipment.addressInformation.number}}</p>
                                    <p>{{invoiceCtrl.shipment.addressInformation.postalcode}} {{invoiceCtrl.shipment.addressInformation.city}}</p>
                                    <p>{{invoiceCtrl.shipment.addressInformation.country}}</p>
                                    <p>VAT number:</p>
                                </td>
                                <td class="col-sm-3">
                                    <label>Date of issue</label><br />
                                    <input type="text" class="form-control" ng-model="invoiceCtrl.shipment.generalInformation.createdDate"/>

                                </td>
                                <td class="col-sm-3">
                                    <label>Invoice Number</label><br />
                                    <input type="text" class="form-control" ng-model="invoiceCtrl.shipment.generalInformation.shipmentCode"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-3">
                                    <label>VAT Number</label><br />
                                    <input type="text" class="form-control" />
                                </td>
                                <td class="col-sm-3">
                                    <label>Customer Number</label><br />
                                    <input type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Ship To</label><br />
                                        <textarea class="form-control">

                                        </textarea>
                                    </div>
                                </td>
                                <td colspan="2">
                                    <div class="form-group">
                                        <label>Invoice To/Consigned To</label><br />
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </td>


                            </tr>
                            <tr>
                                <td class="col-sm-6">
                                    <label>Terms of Delivery:</label>
                                    <select>
                                        <option>DAP/DDU</option>
                                        <option>DDP</option>
                                        <option>CIP</option>
                                        <option>CPT</option>
                                        <option>FCA</option>
                                        <option>EXW</option>
                                    </select>
                                    <br />
                                    <div class="form-group">
                                        <label>Terms of payment:</label>
                                        <input type="text" class="form-control" />
                                    </div>

                                </td>
                                <td class="col-sm-3">
                                    <label>Country of orgins</label><br />
                                    <input type="text" class="form-control" />

                                </td>
                                <td class="col-sm-3">
                                    <label>Country of destinations</label><br />
                                    <input type="text" class="form-control" />
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Mode of transport:</label><br />
                                        <input type="text" class="form-control" /><br />
                                        <label>Import Brokers:</label><br />
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </td>
                                <td colspan="2">
                                    <div class="form-group">
                                        <label>Shipment for attension of:</label><br />
                                        <label>Tel:</label><br />
                                        <label>Shipped by:</label><br />
                                        <label>taleUS</label><br />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-sm-6">
                                    <label>Packages:</label><br />
                                    <label>2*COLLI</label>

                                </td>
                                <td class="col-sm-3">
                                    <label>Gross(kg):</label><br />
                                    <label>1.8</label>

                                </td>
                                <td class="col-sm-3">
                                    <label>Colli Number/Reference</label><br />
                                    <label>K00134777VP34h</label>
                                </td>

                            </tr>
                            <tr>
                                <td colspan="3">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Article-/typenumber/description ( Trademark: see above )</th>
                                                <th>Quantity</th>
                                                <th>Price per 1 pce.</th>
                                                <th>
                                                    Currency:<select>
                                                        <option>EUR</option>
                                                        <option>USD</option>
                                                        <option>GBP</option>
                                                        <option>YEN</option>
                                                    </select>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <label>001</label>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <label>VALUE FOR CUSTOMS PURPOSE ONLY</label>
                                                </td>
                                                <td>
                                                    <label>
                                                        Total:
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>0.00</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <strong>
                                        We hereby certify that the information on the Commercial Invoice is true and correct.<br />

                                        This is a computer generated Commercial Invoice, no signature is required.
                                    </strong>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <textarea class="form-control"></textarea>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>