
<div>

    <table st-table="companyCollection" class="table table-hover">
        <thead>
            <tr>
                <th translate>Corporate Name </th>
                <th translate>First Name</th>
                <th translate>Last Name</th>
                <th translate></th>
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="row in companyCollection">
                <td>{{row.corporateName}}</td>
                <td>{{row.firstName}}</td>
                <td>{{row.lastName}}</td>
                <td><a ng-click="selectCompany(row)" class="btn btn-sm btn-primary btn-transparent" href="javascript:;"><i class="icon-note"></i></a></td>

            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage"></div>
                </td>
            </tr>
        </tfoot>
    </table>


</div>
