<div ng-controller="loadShipmentsCtrl as loadShipCtrl">
    <h2 class="box-title" translate ng-hide="loadShipCtrl.viaDashboard">
        All Shipments
    </h2>
    <!--  <h2 class="box-title"> Load All Shipments &nbsp;&nbsp;&nbsp;&nbsp;<a href="#saveDivision/0" class="btn btn-primary btn-primary active pull-right" role="button"> Add Division</a></h2> -->
 
    <div class="panel">
        <!-- form start -->
        <!-- Main content -->

        <form class="form-horizontal" name="loadShipmentsForm">
            <!-- /.box-header -->

            <div class="panel-content panel-border">
                <!-- left column -->
                <div class="row" ng-hide="loadShipCtrl.viaDashboard">
                    <div class="col-sm-2 form-group m-0">
                        <div class="btn-group" dropdown="">
                            <button style="min-width:140px;" aria-haspopup="true" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <translate>Select Status</translate>:
                                <span class="caret"></span>
                            </button>
                            <span class="dropdown-arrow"></span>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a translate ng-click="loadShipCtrl.loadShipmentsByStatus('All')" ng-model="status" href="javascript:;">All</a>
                                </li>
                                <li>
                                    <a translate ng-click="loadShipCtrl.loadShipmentsByStatus('Delayed')" ng-model="status" href="javascript:;"> Delayed </a>
                                </li>
                                <li>
                                    <a translate ng-click="loadShipCtrl.loadShipmentsByStatus('Delivered')" ng-model="status" href="javascript:;">Delivered</a>
                                </li>
                                <li>
                                    <a translate ng-click="loadShipCtrl.loadShipmentsByStatus('Error')" ng-model="status" href="javascript:;">Error</a>
                                </li>

                                <li>
                                    <a translate ng-click="loadShipCtrl.loadShipmentsByStatus('Exception')" ng-model="status" href="javascript:;">Exceptions</a>
                                </li>
                                <li>
                                    <a translate ng-click="loadShipCtrl.loadShipmentsByStatus('Transit')" ng-model="status" href="javascript:;">In-Transit</a>
                                </li>
                                <li>
                                    <a translate ng-click="loadShipCtrl.loadShipmentsByStatus('BookingConfirmation')" ng-model="status" href="javascript:;"> Not picked-up </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="btn-group form-group m-l-10">
                            <input date-range-picker class="form-control p-l-5" type="text"
                                   ng-model="loadShipCtrl.datePicker.date" placeholder="{{'Select Pickup Date Range'|translate}}" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="btn-group form-group">
                            <select ng-model="searchType" class="form-control p-l-5" ng-init="searchType = 'True'">
                                <option value="True" translate>Search By: Number</option>
                                <option value="False" translate>Search By: Location</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-show="searchType == 'False'">
                        <div class="form-group">
                            <input ng-model="loadShipCtrl.originCityCountry" name="originCityCountry" type="text" class="form-control"
                                   placeholder="{{'Origin City/Country'|translate}}" style="border: 1px solid rgba(70, 72, 73, 0.219608);" />
                        </div>
                    </div>
                    <div class="col-sm-2 p-r-0" ng-show="searchType == 'False'">
                        <div class="form-group">
                            <input ng-model="loadShipCtrl.desCityCountry" name="desCityCountry" type="text" class="form-control  p-l-5"
                                   placeholder="{{'Destination City/Country'|translate}}" style="border: 1px solid rgba(70, 72, 73, 0.219608);" />
                        </div>
                    </div>

                    <div class="col-sm-4 p-r-0" ng-show="searchType == 'True'">
                        <div class="form-group">
                            <input ng-model="loadShipCtrl.shipmentNumber" name="shipmentNumber" type="text" class="form-control"
                                   placeholder="{{'Tracking Number/ Shipment Id'|translate}}" />
                            <!--<span class="input-group-btn">
                                <button type="button" class="btn btn-large btn-primary no-margin" ng-click="loadShipCtrl.loadAllShipments()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>-->
                        </div>
                    </div>
                    <!--<div class="col-md-4" ng-show="searchType == 'True'">
                        <div class="form-group">
                            <input ng-model="loadShipCtrl.shipmentNumber" name="shipmentNumber" type="text" class="form-control"
                                   placeholder="Tracking Number/ Shipment Ref Number" />
                        </div>
                    </div>-->
                    <div class="col-md-1">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-large btn-primary" ng-click="loadShipCtrl.loadAllShipments()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <hr class="m-t-0">

                <div class="row m-l-0">
                    <table st-table="shipmentList" st-safe-src="loadShipCtrl.rowCollection" class="table table-striped">
                        <thead>
                            <tr>
                                <th st-sort="name" translate style="width: 32%;">Order Submitted</th>
                                <th translate>Tracking Number</th>
                                <th translate style="width: 18%;">Shipment ID</th>
                                <th translate>Carrier</th>
                                <th translate style="width: 19%;padding-right:0;">Origin City</th>
                                <th translate style="width: 27%;padding-right:0;">Destination City</th>
                                <th translate>Status</th>
                                <th translate>Favourites</th>
                                <th translate>View</th>
                                <th translate>Edit</th>
                                <th translate>Delete</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="row in shipmentList">
                                <td class="data-align">{{row.generalInformation.createdDate}}</td>
                                <td class="data-align">{{row.generalInformation.trackingNumber}}</td>
                                <td class="data-align">{{row.generalInformation.shipmentCode}}</td>
                                <td class="data-align">{{row.carrierInformation.carrierName}}</td>
                                <td class="data-align">{{row.addressInformation.consigner.city}}</td>
                                <td class="data-align">{{row.addressInformation.consignee.city}}</td>
                                <td class="data-align">{{row.generalInformation.status}}</td>
                                <td class="data-align">
                                    <a ng-hide="row.generalInformation.status == 'Delivered'" class="fa fa-star" ng-click="loadShipCtrl.toggleFavourite(row)"
                                       ng-class="row.generalInformation.isFavourite == true? 'fa-star icon-favorite' : 'fa-star-o'">
                                    </a>
                                </td>
                                <td>
                                    <a href="#/ShipmentOverview/?SHIPMENT_CODE={{row.generalInformation.shipmentCode}}&TRACKING_NO={{row.generalInformation.trackingNumber}}&CARRIER={{row.carrierInformation.carrierName}}&CREATED_ON={{row.generalInformation.createdDate}}"
                                       class="edit btn btn-sm btn-default">
                                        <i class="fa fa-eye" style="color:blue"></i>
                                    </a>
                                </td>
                                <td>
                                    <a ng-show="row.generalInformation.isEnableEdit" href="#/addShipment/{{row.generalInformation.shipmentId}}"
                                       class="edit btn btn-sm btn-default">
                                        <i class="icon-note" style="color:blue"></i>
                                    </a>
                                </td>
                                <td>
                                    <a ng-show="row.generalInformation.isEnableDelete" ng-click="loadShipCtrl.deleteById(row)"
                                       class="delete btn btn-sm btn-danger" href="javascript:;">
                                        <i class="icons-office-52"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div id="panel-notif"></div>
            </div>
        </form>



    </div>

    <div class="page-spinner-loader" ng-show="loadShipCtrl.loadingSymbole">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <div class="row">

    </div>
</div>
