<div>
    <div class="header">
       
    </div>
    <!--  <h2 class="box-title"> Load All Shipments &nbsp;&nbsp;&nbsp;&nbsp;<a href="#saveDivision/0" class="btn btn-primary btn-primary active pull-right" role="button"> Add Division</a></h2> -->

    <div class="panel">
        <!-- form start -->
        <!-- Main content -->
        <form class="form-horizontal" name="printLabelForm">
            <!-- /.box-header -->

            <div class="panel-header">
                <!-- left column -->

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                                                   

                            <div class="col-md-3">
                                <div class="btn-group form-group">
                                    <input date-range-picker class="form-control date-picker" type="text"
                                           ng-model="printCtrl.datePicker.date" placeholder="Search By: Pickup Date" />
                                </div>
                            </div>
                                   

                            <div class="col-md-4" >
                                <div class="form-group">
                                    <input ng-model="printCtrl.shipmentNumber" name="shipmentNumber" type="text" class="form-control"
                                           placeholder="Tracking Number/ Shipment Ref Number" />
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="form-group">
                                    <button type="button" class="btn btn-large btn-primary" ng-click="printCtrl.loadAllShipments()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                </div>

                <div>
                    <table st-table="shipmentList" st-safe-src="rowCollection" class="table table-striped">
                        <thead>
                            <tr>
                                <th st-sort="name">Order Submitted</th>
                                <th>Tracking Number</th>
                                <th>Shipment ID</th>
                                <th>Carrier</th>
                                <th>Origin City</th>
                                <th>Destination City</th>
                                                               
                                <th>Preview</th>
                                
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="row in printCtrl.shipmentList">
                                <td>{{row.generalInformation.createdDate}}</td>
                                <td>{{row.generalInformation.trackingNumber}}</td>
                                <td>{{row.generalInformation.shipmentCode}}</td>
                                <td>{{row.carrierInformation.carrierName}}</td>
                                <td>{{row.addressInformation.consigner.city}}</td>
                                <td>{{row.addressInformation.consignee.city}}</td>                               
                              
                                <td>
                                    <a href='{{row.generalInformation.shipmentLabelBLOBURL}}'"   
                                       class="edit btn btn-sm btn-default">
                                        <i class="icon-note"></i>
                                    </a>
                                </td>
                               
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

            </div>
        </form>
    </div>

</div>
