
<div>
    <h2 class="box-title" translate>
        Select Manifest
    </h2>

    <div class="panel">
            <div class="panel-content panel-border">
                <div class="row">
                    <div class="col-sm-12">
                        <form name="printmanifestform" class="form-horizontal" ng-show="manifestCtrl.showEdit">
                            <div class="row">
                                <tabset class="tab-fade-in">
                                    <tab select="manifestCtrl.clickGeneral()">
                                        <tab-heading translate>
                                            General
                                        </tab-heading>
                                        <!--<div class="col-sm-1">
                                    <input type="button" class="btn btn-default" value="General" ng-click="manifestCtrl.clickGeneral()" />
                                </div>
                                <div class="col-sm-1">
                                    <input type="button" class="btn btn-default" value="Shipment Specific" ng-click="manifestCtrl.clickSpecific()" />
                                </div>-->
                                        <div id="general" ng-show="!manifestCtrl.specific">
                                            <div class="row">
                                                    <label class="col-sm-3 control-label" translate>
                                                        Date *
                                                    </label>
                                                    <div class="col-sm-5">
                                                        <input datetime-picker name="datetimepicker" class="form-control" ng-model="manifestCtrl.Date" date-format="dd-MMM-yyyy" ng-required="!manifestCtrl.specific" date-only ng-class="{ 'error': printmanifestform.datetimepicker.$invalid &&
                                                                        (printmanifestform.datetimepicker.$dirty|| manifestCtrl.isSubmit) }" />
                                                        <div ng-messages="printmanifestform.datetimepicker.$error"
                                                             ng-show="printmanifestform.datetimepicker.$dirty || manifestCtrl.isSubmit">
                                                            <label ng-message="required" class="error" for="Date" translate>Date is Required</label>
                                                        </div>
                                                    </div>

                                            </div>
                                            <div class="row">                                      
                                                    <label class="col-sm-3 control-label" translate> List Package Details *</label>
                                                    <div class="col-sm-5">
                                                        <div class="input-group">
                                                            <div class="icheck-inline">
                                                                <label>
                                                                    <input type="radio" name="isPackageEnable" icheck
                                                                           ng-model="manifestCtrl.isPackageEnable" value="true"> 
                                                                    <translate>Yes</translate>
                                                                </label>
                                                                <label><input type="radio" name="isPackageEnable" 
                                                                icheck ng-model="manifestCtrl.isPackageEnable" value="false">
                                                                    <translate>No</translate> </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="row">
                                                    <label class="col-sm-3 control-label" translate> Carrier *</label>
                                                    <div class="col-sm-5">
                                                        <select class="form-control" name="manifestCarrier" ng-model="manifestCtrl.carrier" ng-required="!manifestCtrl.specific"
                                                                ng-class="{ 'error': (printmanifestform.manifestCarrier.$dirty|| manifestCtrl.isSubmit) }">
                                                            <option value="" translate>Select Carrier</option>
                                                            <option value="UPS" translate>UPS</option>
                                                            <option value="TNT" translate>TNT</option>
                                                            <option value="DHL" translate>DHL</option>
                                                            <option value="FEDEX" translate>FEDEX</option>
                                                        </select>
                                                        <div ng-messages="printmanifestform.manifestCarrier.$error"
                                                             ng-show="printmanifestform.manifestCarrier.$dirty ||  manifestCtrl.isSubmit">
                                                            <label ng-message="required" class="error" translate>Carrier is required</label>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab select="manifestCtrl.clickSpecific()">
                                        <tab-heading translate>
                                            Shipment Specific
                                        </tab-heading>
                                        <div id="specific" ng-show="manifestCtrl.specific">
                                            <div class="row">
                                                <div>
                                                    <div class="col-sm-4">
                                                        <select class="form-control" ng-model="manifestCtrl.referencedropdown">
                                                            <option value="reference" translate>Shipment Reference</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input type="text" ng-model="manifestCtrl.reference" class="form-control" name="shipreference" 
                                                               ng-required="manifestCtrl.specific"
                                                               ng-class="{ 'error': printmanifestform.shipreference.$invalid && (printmanifestform.shipreference.$dirty|| manifestCtrl.isSubmit) }" />
                                                        <div ng-messages="printmanifestform.shipreference.$error"
                                                             ng-show="printmanifestform.shipreference.$dirty || manifestCtrl.isSubmit">
                                                            <label ng-message="required" class="error" for="shipmentreference" translate>Reference is Required</label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>

                            <br />
                            <div class="form-group">
                                <div>
                                    <div class="col-sm-8">
                                        <button type="submit" class="btn btn-primary btn-app pull-right"
                                                 ng-click="(printmanifestform.$valid? manifestCtrl.GenerateManifest():manifestCtrl.isSubmit=true)" translate>
                                        Generate</button>
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>

                            </div>
                        </form>
                        <div style="font-size:10px" ng-show="manifestCtrl.showManifest">
                            <div class="form-group">
                                <input type="button" class="btn btn-primary" value="Back" ng-click="manifestCtrl.BacktoSearch()" />
                                <input type="button" class="btn btn-primary" value="Print" ng-click="manifestCtrl.printManifest('manifest')" />

                            </div>
                            <div id="manifest">
                                <div>
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label translate> Address</label>
                                        </div>


                                        <div class="col-sm-3">
                                            <label> {{manifestCtrl.consignerfname+" "+manifestCtrl.consignerlname}},</label><br />
                                            <label>{{manifestCtrl.consignerzipCode}},</label><br />
                                            <label>{{manifestCtrl.consignernumber +","+manifestCtrl.consignerAddress1}},</label><br />
                                            <div ng-show="manifestCtrl.consignerAddress2!=''">
                                                <label>{{manifestCtrl.consignerAddress2}},</label><br />
                                            </div>
                                            <label> {{manifestCtrl.consignerCity}}</label><br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label translate>Phone</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>{{manifestCtrl.consignerContact}}</label>
                                        </div>

                                        <div class="col-sm-4">
                                           {{manifestCtrl.carrier}}  <label translate>Express End-of-Day Manifest </label> {{manifestCtrl.Date}}
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <table st-table="manifestCtrl.shipmentInfo" st-safe-src="rowCollection" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th translate>Reference</th>
                                            <th>AWB#</th>
                                            <th translate>Cost Center</th>
                                            <th translate>Consignee Name</th>
                                            <th translate>street</th>
                                            <th translate>city/zip/country</th>
                                            <th translate>Code/Service</th>
                                            <th translate ng-show="manifestCtrl.isPackageEnable=='true'">Package | Description | Weight | Dim</th>
                                            <th>#</th>
                                            <th translate>Weight</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in manifestCtrl.shipmentInfo" >
                                            <td>{{row.generalInformation.shipmentReferenceName}}</td>
                                            <td>{{row.generalInformation.trackingNumber}}</td>
                                            <td>{{row.generalInformation.costCenterId}}</td>
                                            <td>{{row.addressInformation.consignee.firstName+ " "+row.addressInformation.consignee.lastName}} </td>
                                            <td>{{row.addressInformation.consignee.address1}}<div ng-show="row.addressInformation.consignee.address2!=null">,{{row.addressInformation.consignee.address2}}</div></td>
                                            <td>{{row.addressInformation.consignee.city+ "/"+ row.addressInformation.consignee.postalcode+"/"+row.addressInformation.consignee.country}}</td>
                                            <td>{{row.carrierInformation.serviceLevel}}</td>
                                            <td ng-show="manifestCtrl.isPackageEnable=='true'">
                                                <div ng-repeat="item in row.packageDetails.productIngredients">
                                                    {{item.quantity+"-"+ item.productType+" |"+item.description+" | "+item.weight+"|  ("+item.height+"x"+item.length+"x"+item.width+")" }}<br />
                                                </div>
                                            </td>
                                            <td>{{row.packageDetails.count}}</td>
                                            <td>{{row.packageDetails.totalWeight}}</td>

                                        </tr>

                                    </tbody>

                                </table>


                                <div>
                                    <div class="row">

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label ><translate>Pickup By</translate>  {{manifestCtrl.carrier}} <translate>Express</translate> </label>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-sm-3">
                                             <translate> Date</translate> : {{manifestCtrl.Date}}
                                        </div>

                                        <div class="col-sm-3">
                                            <label ><translate>Name & Signature</translate>:.............................</label>
                                        </div>
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-1">
                                            <label translate> Address</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label> {{manifestCtrl.consignerfname+" "+manifestCtrl.consignerlname}},</label><br />
                                            <label>{{manifestCtrl.consignerzipCode}},</label><br />
                                            <label>{{manifestCtrl.consignernumber +","+manifestCtrl.consignerAddress1}},</label><br />

                                            <div ng-show="manifestCtrl.consignerAddress2!=''">
                                                <label>{{manifestCtrl.consignerAddress2}},</label><br />
                                            </div>

                                            <label> {{manifestCtrl.consignerCity}}</label><br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">

                                        </div>
                                        <div class="col-sm-1">
                                            <label translate>Phone</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>{{manifestCtrl.consignerContact}}</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4" ng-show="manifestCtrl.showError">
                        <label class="label label-danger" translate> Please Enter Correct Details</label>
                    </div>
                </div>
            </div>
    </div>

</div>
