
    <div class="panel">
        <!-- form start -->
        <!-- Main content -->
        <!-- /.box-header -->
            <tabset>
                <tab>
                    <tab-heading>
                        OVERVIEW
                    </tab-heading>
                    
                    <div class="panel-content panel-border p-t-0">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3><strong>Shipment Details</strong></h3>
                                            </div>
                                        </div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="row">
                                    <div class="col-sm-3 inc-width">
                                                            <label class="form-control label-default">Tracking Number</label>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <input type="text" disabled name="trackingNumber" class="form-control bg-primary" value={{overviewShipCtrl.trakingNo}} />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                    <div class="col-sm-3 inc-width">
                                                            <label class="form-control label-default">Shipment ID</label>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <input type="text" disabled name="shipmentId" class="form-control bg-primary" value={{overviewShipCtrl.shipmentCode}} />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                    <div class="col-sm-3 inc-width">
                                                            <label class="form-control label-default">Carrier</label>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <input type="text" disabled name="carrier" class="form-control bg-primary" value={{overviewShipCtrl.carrier}} />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                    <div class="col-sm-3 inc-width">
                                                            <label class="form-control label-default">Order Submitted Date</label>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <input type="text" disabled name="orderSubmittedDate" class="form-control bg-primary" value="{{overviewShipCtrl.createdOn}}" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                    <div class="col-sm-3 inc-width">
                                                            <label class="form-control label-default">Shipment Label</label>
                                    </div>
                                                        <div class="col-sm-5">
                                        <input type="text" disabled name="shipmentLabel" class="form-control bg-primary" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="panel panel-default map-panel">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="map" id="simple-map"></div>
                                                                </div>
                                                            </div>
                                                            <div class="panel-header">
                                                                <label class="form-control label-info">Current Packege Location</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                            </div>
                           
                                               
                           
                                            </div>
           <div class="panel-content panel-border p-t-0">
            <div class="panel-header">
                        <div class="row">
                            <div class="col-sm-12">
                        <h3><strong>Shipment Status</strong></h3>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-horizontal">
                                            <div class="row">
                                                <div class="col-sm-1"></div>

                                                <div class="col-sm-1">
                                                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-success"><i class="fa fa-check"></i></button>
                                                    <label class="small">Booking Confirmation</label>
                                                </div>
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-1">
                                                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-success"><i class="fa fa-check"></i></button>
                                                    <label class="small">Picked-Up</label>
                                                </div>
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-1">
                                                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-success"><i class="fa fa-check"></i></button>
                                                    <label class="small">In-Transit</label>
                                                </div>
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-1">
                                                    <button type="button" class="btn btn-sm btn-icon btn-rounded btn-success"><i class="fa fa-check"></i></button>
                                                    <label class="small">Delivered</label>
                                                </div>
                                                <div class="col-sm-1"></div>
                                            </div>

                                    </div>
                                </div>
                    <div class="panel-content panel-border p-t-0">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3><strong>Tracking History</strong></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="row" ng-repeat="items in overviewShipCtrl.locationHistory.history.items">
                                    <div class="col-sm-12">
                                        <label class="lbl-border">{{items.location.country}}: {{items.location.city}}: {{items.location.geo.lat}}: {{items.location.geo.lng}}</label>
                                    </div>
                                    <div class="row" ng-repeat="location in items.activity.items">
                                        <div class="col-sm-12">
                                            <label class="lbl-border">{{location.status}}  : {{location.timestamp.date}} : {{location.timestamp.time}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </tab>
        <tab>
            <tab-heading>
                AIR WAYBILL
            </tab-heading>
            <div>
                {{overviewShipCtrl.awb_URL}}
                <iframe ng-src='{{overviewShipCtrl.awb_URL}}' height="800" width="700"></iframe>
            </div>
        </tab>
        <tab>
        <tab-heading>
            CMR
         </tab-heading>
                    <div>
                        <iframe src={{overviewShipCtrl.cmr_URL}} height="800" width="700"></iframe>
                    </div>
         </tab>

        <tab>
            <tab-heading>
                COMMERCIAL INVOICE
            </tab-heading>
            <div class="panel-content panel-border">
                        <div ng-include="'shipment/commercialInvoice.html'"></div>
            </div>

            </tab>
        <tab>
            <tab-heading>
                DOCUMENTS
            </tab-heading>
            <div ng-include="'shipment/shipmentDocuments.html'">
                <div class="panel-content panel-border">
                </div>
            </div>

            </tab>
        </tabset>

</div>
