<div ng-init="">
    <h2> Customer Shipments</h2>
    <div class="panel">
        <div class="panel-content panel-border">
            <form role="form" name="formShipmentManagement">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group input-group">
                            <input ng-model="manageShipCtrl.searchText" name="shipmentNumber" type="text" class="form-control"
                                   placeholder="{{'Enter campany name,business owner's first or last name'|translate}}" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-large btn-primary no-margin" ng-click="manageShipCtrl.loadAllCompanies()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group p-0">
                        <label class="label-danger" ng-show="manageShipCtrl.noShipments" style="color:white" translate>  No shipments available for the selected company/ customer</label>
                    </div>
                    <div class="col-sm-4 form-group p-0" ng-show="manageShipCtrl.CompanyId!=''">
                        <a class="btn btn-primary" style="float:right" href="#addShipment/0" translate>Add Shipment</a>
                        <button class="btn btn-primary" style="float:right" ng-click="manageShipCtrl.shipmentSyncWithSIS()"> Refresh </button>
                    </div>
                </div>
                <div class="row" ng-show="manageShipCtrl.CompanyId!=''">
                    <div class="col-sm-2">
                        <div dropdown="" class="btn-group form-group">
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                                Status : {{manageShipCtrl.statusButton}}
                                <span class="caret"></span>
                            </button>
                            <span class="dropdown-arrow"></span>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a href="javascript:;" ng-model="manageShipCtrl.status" ng-click="manageShipCtrl.loadShipmentsByStatus('All')" translate>All</a>
                                </li>
                                <li>
                                    <a href="javascript:;" ng-model="manageShipCtrl.status" ng-click="manageShipCtrl.loadShipmentsByStatus('Active')" translate>Active</a>
                                </li>
                                <li>
                                    <a href="javascript:;" ng-model="manageShipCtrl.status" ng-click="manageShipCtrl.loadShipmentsByStatus('Completed')" translate>Completed</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="btn-group form-group">
                            <input date-range-picker class="form-control p-l-5" type="text"
                                   ng-model="manageShipCtrl.datePicker.date" placeholder="{{'Search By: Pickup Date'|translate}}" />
                        </div>
                    </div>
                    <div class="col-sm-2 p-0">
                        <div class="btn-group form-group">
                            <select ng-model="searchType" class="form-control p-l-5" ng-init="searchType = 'True'"
                                    ng-change="manageShipCtrl.rowCollection = [];
                                                manageShipCtrl.originCityCountry = null;
                                                manageShipCtrl.desCityCountry = null;
                                                manageShipCtrl.shipmentNumber = null;">
                                <option value="True" translate>Search By: Number</option>
                                <option value="False" translate>Search By: Location</option>
                            </select>
                        </div>
                    </div>
                  

                    <div ng-show="searchType == 'False'" class="col-sm-2 p-0">
                        <div class="form-group">
                            <input ng-model="manageShipCtrl.originCityCountry" name="originCityCountry" type="text" class="form-control"
                                   placeholder="{{Origin City/Country|translate}}" style="border: 1px solid rgba(70, 72, 73, 0.22);"/>
                        </div>
                    </div>
                    <div ng-show="searchType == 'False'" class="col-sm-2 p-0">
                        <div class="form-group">
                            <input ng-model="manageShipCtrl.desCityCountry" name="desCityCountry" type="text" class="form-control p-l-5"
                                   placeholder="{{Destination City/Country|translate}}" style="border: 1px solid rgba(70, 72, 73, 0.22);"/>
                        </div>

                    </div>
                    <div class="col-sm-1 form-group p-0" ng-show="searchType == 'False'">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-large btn-primary no-margin" ng-click="manageShipCtrl.loadShipmentsBySearch()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <div ng-show="searchType == 'True'">
                        <div class="col-sm-4 p-0" style="">
                            <div class="form-group">
                                <input type="text" placeholder="{{Tracking Number/ Shipment Ref Number|translate}}" class="form-control ng-pristine ng-untouched ng-valid"
                                       name="shipmentNumber" ng-model="manageShipCtrl.shipmentNumber">
                            </div>
                        </div>
                        <div class="col-sm-1 p-0">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-large btn-primary no-margin" ng-click="manageShipCtrl.loadShipmentsBySearch()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>

                </div>
                <div class="row" ng-show="manageShipCtrl.CompanyId!=''">


                    <table st-table="shipmentList" st-safe-src="manageShipCtrl.rowCollection" class="table table-striped ship-mgt">
                        <thead>
                            <tr>
                                <th st-sort="name" translate>Order Submitted</th>
                                <th translate>Tracking Number</th>
                                <th translate>Shipment ID</th>
                                <th translate>Carrier</th>
                                <th translate>Origin City</th>
                                <th translate>Destination City</th>
                                <th translate>Status</th>
                                <th translate>View</th>
                                <th translate>Edit</th>
                                <th translate>Delete</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="row in shipmentList">
                                <td>{{row.generalInformation.createdDate}}</td>
                                <td>{{row.generalInformation.trackingNumber}}</td>
                                <td>{{row.generalInformation.shipmentCode}}</td>
                                <td>{{row.carrierInformation.carrierName}}</td>
                                <td>{{row.addressInformation.consigner.city}}</td>
                                <td>{{row.addressInformation.consignee.city}}</td>

                                <td>
                                    <div class="option-group">
                                        <select id="salutation" name="salutation" class="salutation form-control" ng-model="row.generalInformation.status" ng-change="manageShipCtrl.updateShipmentStatus(row)">
                                            <option value="Error" translate>Error</option>
                                            <option value="Pending" translate>Pending</option>
                                            <option value="BookingConfirmation" translate>Booking Confirmation</option>
                                            <option value="Pickup" translate>Pickup</option>
                                            <option value="Transit" translate>Transit</option>
                                            <option value="OutForDelivery" translate>Out For Delivery</option>
                                            <option value="Delivered" translate>Delivered</option>
                                            <option value="Deleted" translate>Deleted</option>
                                            <option value="Exception" translate>Exception</option>

                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <a href="#/ShipmentOverview/?SHIPMENT_CODE={{row.generalInformation.shipmentCode}}&TRACKING_NO={{row.generalInformation.trackingNumber}}&CARRIER={{row.carrierInformation.carrierName}}&CREATED_ON={{row.generalInformation.createdDate}}"
                                       class="edit btn btn-sm btn-default">
                                        <i class="fa fa-hand-o-right" style="color:blue"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#/addShipment/{{row.generalInformation.shipmentCode}}"
                                       class="edit btn btn-sm btn-default">
                                        <i class="icon-note" style="color:blue"></i>
                                    </a>
                                </td>

                                <td>
                                    <a ng-click="manageShipCtrl.deleteById(row)"
                                       class="delete btn btn-sm btn-danger" href="javascript:;">
                                        <i class="icons-office-52"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
            <div id="panel-notif"></div>
        </div>
    </div>




    <div class="footer">

        <div class="copyright">
            <p class="pull-left sm-pull-reset">
                <span>Parcel International</span>
            </p>

        </div>
    </div>
</div>
