<div ng-init="">

    <div class="panel">

        <div class="panel-content panel-border">
            <tabset class="tab-fade-in">
                <tab>
                    <tab-heading>
                        Shipments
                    </tab-heading>
                    <form role="form" name="formShipmentManagement">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group input-group">
                                    <input ng-model="manageShipCtrl.searchText" name="shipmentNumber" type="text" class="form-control"
                                           placeholder="Enter campany name,business owners first or last name " />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-large btn-primary no-margin" ng-click="manageShipCtrl.loadAllCompanies()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="label-danger" ng-show="manageShipCtrl.noShipments"> No shipments Available for selected Company</label>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div dropdown="" class="btn-group form-group">
                                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                                        Status : {{manageShipCtrl.statusButton}}
                                        <span class="caret"></span>
                                    </button>
                                    <span class="dropdown-arrow"></span>
                                    <ul role="menu" class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;" ng-model="status" ng-click="manageShipCtrl.loadShipmentsByStatus('All')">All</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-model="status" ng-click="manageShipCtrl.loadShipmentsByStatus('Active')">Active</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-model="status" ng-click="manageShipCtrl.loadShipmentsByStatus('Completed')">Completed</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="btn-group form-group">
                                    <input datetime-picker class="form-control date-picker" type="text"
                                           ng-model="manageShipCtrl.datePicker" placeholder="Search By: Pickup Date" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="btn-group form-group">
                                    <select ng-model="searchType" class="form-control" ng-init="searchType = 'True'">
                                        <option value="True">Search By: Number</option>
                                        <option value="False">Search By: Location</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2" ng-show="searchType == 'False'">
                                <div class="btn-group form-group">
                                    <input style="border:1px solid rgba(70, 72, 73, 0.22)" ng-model="manageShipCtrl.originCityCountry" name="originCityCountry" type="text" class="form-control"
                                           placeholder="Origin City/Country" />
                                </div>
                            </div>

                            <div class="col-md-2" ng-show="searchType == 'False'">
                                <div class="btn-group form-group">
                                    <input style="border:1px solid rgba(70, 72, 73, 0.22)" ng-model="manageShipCtrl.desCityCountry" name="desCityCountry" type="text" class="form-control"
                                           placeholder="Destination City/Country" />
                                </div>
                            </div>

                            <div class="col-md-4" ng-show="searchType == 'True'" style="float:right;">
                                <div class="form-group input-group">
                                    <input ng-model="manageShipCtrl.shipmentNumber" name="shipmentNumber" type="text" class="form-control"
                                           placeholder="Tracking Number/ Shipment Ref Number" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-large btn-primary no-margin" ng-click="manageShipCtrl.loadAllShipments()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                
                            </div> 
                        </div>
                     <div class="row">
                      

                         <table st-table="shipmentList" st-safe-src="manageShipCtrl.rowCollection" class="table table-striped">
                             <thead>
                                 <tr>
                                     <th st-sort="name">Order Submitted</th>
                                     <th>Tracking Number</th>
                                     <th>Shipment ID</th>
                                     <th>Carrier</th>
                                     <th>Origin City</th>
                                     <th>Destination City</th>
                                     <th>Status</th>
                                     <th>View</th>
                                     <th>Edit</th>
                                     <th>Delete</th>
                                 </tr>

                             </thead>
                             <tbody>
                                 <tr ng-repeat="row in shipmentList">
                                     <td>{{row.generalInformation.createdDate}}</td>
                                     <td>{{row.generalInformation.trackingNumber}}</td>
                                     <td>{{row.generalInformation.shipmentCode}}</td>
                                     <td>{{row.carrierInformation.carrierName}}</td>
                                     <td>{{row.addressInformation.consigner.city}}</td>
                                     <td>{{row.addressInformation.consignee.city}}</td>
                                     <td>{{row.generalInformation.status}}</td>
                                     <td>
                                         <a href="#/ShipmentOverview/?SHIPMENT_CODE={{row.generalInformation.shipmentCode}}&TRACKING_NO={{row.generalInformation.trackingNumber}}&CARRIER={{row.carrierInformation.carrierName}}&CREATED_ON={{row.generalInformation.createdDate}}"
                                            class="edit btn btn-sm btn-default">
                                             <i class="fa fa-hand-o-right" style="color:blue"></i>
                                         </a>
                                     </td>
                                     <td>
                                         <a ng-show="row.generalInformation.isEnableEdit" href="#/addShipment/{{row.generalInformation.shipmentCode}}"
                                            class="edit btn btn-sm btn-default">
                                             <i class="icon-note" style="color:blue"></i>
                                         </a>
                                     </td>

                                     <td>
                                         <a ng-show="row.generalInformation.isEnableDelete" ng-click="manageShipCtrl.deleteById(row)"
                                            class="delete btn btn-sm btn-danger" href="javascript:;">
                                             <i class="icons-office-52"></i>
                                         </a>
                                     </td>
                                 </tr>
                             </tbody>
                             <tfoot>
                                 <tr>
                                     <td colspan="5" class="text-center">
                                         <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                     </td>
                                 </tr>
                             </tfoot>
                         </table>
                     </div>
                    </form>
                </tab>

                <tab select="">
                    <tab-heading>
                        Bulk Update
                    </tab-heading>
                    <form role="form" name="formBulkUpdate">
                        <div class="row">
                            <div class="file col-sm-6">
                                <div class="option-group">
                                    <span class="file-button btn-primary">Choose File</span>
                                    <input type="file" required="" onchange="document.getElementById('uploader').value = this.value;" id="file" name="file" class="custom-file" aria-required="true">
                                    <input type="text" readonly="" placeholder="no file selected" id="uploader" class="form-control">
                                </div>
                            </div>
                        </div>
                       
                    </form>
                </tab>

            </tabset>

        </div>
    </div>
   
   


    <div class="footer">

        <div class="copyright">
            <p class="pull-left sm-pull-reset">
                <span>Parcel International</span>
            </p>

        </div>
    </div>
</div>
