<div ng-controller="shipmentDocumentCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-header bg-blue-light">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 translate>Uploaded  Documents</h3>
                    </div>
                </div>

            </div>
            <br /><br />
            <div>
                <form name="formDocumentUpload" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <input type="file" ngf-select ng-model="document" name="file"
                                   ngf-max-size="2MB" required ngf-model-invalid="errorFile">
                        </div>
                        <div class="col-sm-8">
                            <button ng-click="uploadFile(document)" class="btn">
                                <i class="fa fa-arrow-circle-o-up"></i><translate> Upload </translate>
                            </button>
                            {{errorMsg}}
                        </div>
                    </div>

                    <div class="box-body">

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Uploaded Files</label>
                            <div class="col-sm-12">

                                <div class="table-responsive no-padding">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr ng-repeat="file in fileList">
                                                <td> <a ng-href="{{file.fileAbsoluteURL}}">{{file.clientFileName}}</a> </td>
                                                <td style="text-align:center">
                                                    <a href="javascript:void(0)" ng-confirm-click="Are you Sure?" ng-click="deleteFile(file)">
                                                        <i class="fa fa-remove" style="color:red">
                                                        </i>
                                                    </a>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
