
    <div class="panel">
        <!-- form start -->
        <!-- Main content -->
        <!-- /.box-header -->
            <tabset>
                <tab>
                    <tab-heading>
                        OVERVIEW
                    </tab-heading>
                    
                    <div class="panel-content panel-border p-t-0">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="heading"><strong>Shipment Details</strong></h3>
                                            </div>
                                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="lblborder form-group">
                                    <label class="bg-label m-b-0">
                                        TRACKING NUMBER
                                    </label>
                                    <label class="m-b-0 bg-label-blue" disabled name="trackingNumber">
                                        {{overviewShipCtrl.trakingNo}}
                                    </label>
                                </div>
                                <div class="lblborder form-group">
                                    <label class="bg-label m-b-0">
                                        SHIPMENT ID
                                    </label>
                                    <label class="m-b-0 bg-label-blue" disabled name="shipmentId">
                                        {{overviewShipCtrl.shipmentCode}}
                                    </label>
                                </div>
                                <div class="lblborder form-group">
                                    <label class="bg-label m-b-0">
                                        CARRIER
                                    </label>
                                    <label class="m-b-0 bg-label-blue" disabled name="carrier">
                                        {{overviewShipCtrl.carrier}}
                                    </label>
                                </div>
                                <div class="lblborder form-group">
                                    <label class="bg-label m-b-0">
                                        ORDER SUBMITTED DATE
                                    </label>
                                    <label class="m-b-0 bg-label-blue" disabled name="orderSubmittedDate">
                                        {{overviewShipCtrl.createdOn}}
                                    </label>
                                </div>
                                <div class="lblborder form-group">
                                    <label class="bg-label m-b-0">
                                        SHIPMENT LABEL
                                    </label>
                                    <label class="m-b-0 bg-label-blue" disabled name="shipmentLabel" ng-click="overviewShipCtrl.openLabel(overviewShipCtrl.shipmentLabel)" >
                                       Click here to view
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-default map-panel">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="map" id="simple-map" style="height:225px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                            </div>
           <div class="panel-content panel-border p-t-0">
            
                        <div class="row">
                            <div class="col-sm-12">
                        <h3 class="heading m-b-0 m-t-10"><strong>Shipment Status</strong></h3>
                            </div>
                        </div>
               <div class="row">
          
                   <div class="row bs-wizard" style="border-bottom:0;">
                       <div class="col-xs-2 bs-wizard-step" ng-class="overviewShipCtrl.step > 2 ? 'complete' : 'disabled'">
                           <div class="text-center bs-wizard-stepnum">&nbsp;</div>
                           <div class="progress" style="border-bottom-left-radius:5px;border-top-left-radius:5px;"><div class="progress-bar" ng-class="overviewShipCtrl.step==3 ? 'width-half' : ''"></div></div>
                           <a href="#" ng-class="overviewShipCtrl.step > 2 ? 'bs-wizard-dot'  : 'bs-wizard-dot-small'"></a>
                           <div class="text-center bs-wizard-stepnum txtalign">BOOKING CONFIRMATION</div>
                       </div>
                       <div class="col-xs-2 bs-wizard-step" ng-class="overviewShipCtrl.step > 3 ? 'complete' : 'disabled'" >
                           <!-- complete -->
                           <div class="text-center bs-wizard-stepnum">&nbsp;</div>
                           <div class="progress"><div class="progress-bar" ng-class="overviewShipCtrl.step==4 ? 'width-half' : ''"></div></div>
                           <a href="#" ng-class="overviewShipCtrl.step > 3 ? 'bs-wizard-dot'  : 'bs-wizard-dot-small'"></a>
                           <div class="text-center bs-wizard-stepnum txtalign">PICKEDUP</div>
                       </div>
                       <div class="col-xs-2 bs-wizard-step" ng-class="overviewShipCtrl.step > 4 ? 'complete' : 'disabled'">
                           <!-- complete -->
                           <div class="text-center bs-wizard-stepnum">&nbsp;</div>
                           <div class="progress"><div class="progress-bar" ng-class="overviewShipCtrl.step==5 ? 'width-half' : ''"></div></div>
                           <a href="#" ng-class="overviewShipCtrl.step > 4 ? 'bs-wizard-dot'  : 'bs-wizard-dot-small'"></a>
                           <div class="text-center bs-wizard-stepnum txtalign">IN-TRANSIT</div>
                       </div>
                       <div class="col-xs-2 bs-wizard-step" ng-class="overviewShipCtrl.step > 6 ? 'complete' : 'disabled'">
                           <!-- active -->
                           <div class="text-center bs-wizard-stepnum">&nbsp;</div>
                           <div class="progress"><div class="progress-bar" ng-class="overviewShipCtrl.step==7 ? 'width-half' : ''"></div></div>
                           <a href="#" ng-class="overviewShipCtrl.step > 6 ? 'bs-wizard-dot'  : 'bs-wizard-dot-small'"></a>
                           <div class="text-center bs-wizard-stepnum txtalign">DELIVERED</div>
                       </div>
                       <div class="col-xs-2 bs-wizard-step" ng-class="overviewShipCtrl.step > 7 ? 'complete' : 'disabled'">
                           <!-- active -->
                           <div class="text-center bs-wizard-stepnum">&nbsp;</div>
                           <div class="progress"><div class="progress-bar" ng-class="overviewShipCtrl.step==8 ? 'width-half' : ''"></div></div>
                           <a href="#" ng-class="overviewShipCtrl.overviewShipCtrl.step > 7 ? 'bs-wizard-dot'  : 'bs-wizard-dot-small'"></a>
                           <div class="text-center bs-wizard-stepnum txtalign">&nbsp;</div>
                       </div>
                       <div class="col-xs-2 bs-wizard-step" ng-class="overviewShipCtrl.step > 8 ? 'complete' : 'disabled'">
                           <!-- active -->
                           <div class="text-center bs-wizard-stepnum">&nbsp;</div>
                           <div class="progress" style="border-bottom-right-radius:5px;border-top-right-radius:5px;">
                           <div class="progress-bar" ng-class="overviewShipCtrl.step==9 ? 'width-half' : ''"></div></div>
                           <a href="#" ng-class="overviewShipCtrl.step > 9 ? 'bs-wizard-dot'  : 'bs-wizard-dot-small'"></a>
                           <div class="text-center bs-wizard-stepnum txtalign">&nbsp;</div>
                       </div>

                   </div>
               </div>

                                
                                    
                                </div>
            <div class="panel-content panel-border p-t-0">          
                   <div class="row">
                          <div class="col-sm-12">
                             <h3 class="heading"><strong>Tracking History</strong></h3>
                          </div>
                 </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row" ng-repeat="items in overviewShipCtrl.locationHistory.history.items">
                            <div class="col-sm-12 p-l-0 p-r-0">
                                <label class="lbl-border">{{items.location.country}}: {{items.location.city}}: {{items.location.geo.lat}}: {{items.location.geo.lng}}</label>
                            </div>
                            <div class="row" ng-repeat="location in items.activity.items">
                                <div class="col-sm-12">
                                    <label class="lbl-border">{{location.status}}  : {{location.timestamp.date}} : {{location.timestamp.time}}</label>
                                </div>
                            </div>
                        </div>                                                   
                    </div>
                </div> 
                </div>
        </tab>
        <tab>
            <tab-heading>
                AIR WAYBILL
            </tab-heading>
            <div class="row">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                    <input type="button" class="btn btn-primary" value="Print" ng-click="overviewShipCtrl.print('awb')" />
                </div>
            </div>
            <div class="awb" id="awb">
              
            </div>
        </tab>
        <tab>
        <tab-heading>
            CMR
         </tab-heading>
                    <div class="cmr">
                        
                    </div>
         </tab>

        <tab>
            <tab-heading>
                COMMERCIAL INVOICE
            </tab-heading>
            <div class="panel-content panel-border">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                    <input type="button" class="btn btn-primary" value="Print" ng-click="overviewShipCtrl.print('invoice')" />
                </div>
                        <div ng-include="'shipment/commercialInvoice.html'" id="invoice"></div>
            </div>

            </tab>

        <tab>
            <tab-heading>
                DOCUMENTS
            </tab-heading>
            <div ng-include="'shipment/shipmentDocuments.html'">
                <div class="panel-content panel-border">
                </div>
            </div>

            </tab>
        </tabset>

</div>
