
<div>
    <h2 class="box-title" translate>
        Track and Trace
    </h2>

    <div class="panel">
        <div class="panel-content panel-border">
                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <select class="form-control" ng-model="trackCtrl.shipmentMode">
                                <option value="EXPRESS">EXPRESS</option>
                            </select>
                        </div>
                        <div class="col-sm-3 form-group">
                            <select class="form-control" ng-model="trackCtrl.carrier">
                                <option value="" translate>Select Carrier</option>
                                <option value="UPS">UPS</option>
                                <option value="TNT">TNT</option>
                                <option value="DHL">DHL</option>
                                <option value="FEDEX">FEDEX</option>
                            </select>
                        </div>
                        <div class="col-md-6 p-r-10">
                            <div class="form-group input-group">
                                <input ng-model="trackCtrl.trackingNumber" name="trackingNumber" type="text" class="form-control"
                                       placeholder="{{'Tracking Number'|translate}}"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-large btn-primary no-margin" 
                                            ng-click="trackCtrl.LoadTrackAndTracecDate()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <!--<div class="col-sm-6">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <input ng-model="trackCtrl.trackingNumber" name="trackingNumber" type="text" class="form-control"
                                           placeholder="Tracking Number" />
                                </div>
                            </div>

                            <div class="col-sm-1">
                                <div class="form-group">
                                    <button type="button" class="btn btn-large btn-primary" ng-click="trackCtrl.LoadTrackAndTracecDate()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>-->
                        <div class="col-sm-1">
                            <div class="font-animation" ng-show="trackCtrl.searching==true">
                                <label><i class="fa fa-spinner faa-spin animated"></i> 
                                    <translate> Searching... </translate></label>
                            </div>
                        </div>
                    
                    
                    
                    
                    
                     </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="panel panel-default map-panel">
                                <div class="panel-body">
                                    <div class="row" ng-show="!trackCtrl.trackingNotFound">
                                        <div class="col-sm-12">
                                            <div class="map" id="simple-map"></div>
                                        </div>
                                    </div>
                                    <div class="panel-header">
                                        <label class="form-control label-info" ng-hide="trackCtrl.trackingNotFound"  translate>Current Packege Location</label>
                                        <div class="row" ng-show="trackCtrl.trackingNotFound && !trackCtrl.onload" >
                                            <label class="label label-warning" translate>
                                                Please check the Tracking Number and try Again
                                            </label>
                                        </div>
                                        <div class="row" ng-show="trackCtrl.missingFields"> 
                                            <label class="form-control label-danger" translate>
                                                Fill the request Details correctly
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>


    </div>

</div>
