<div  ng-init="profile.model.loadProfile()">
    <div class="header">
        <h2><strong>General</strong>Information</h2>        
    </div>    
        <div class="col-lg-12" style="height:auto">


            <div class="row">

                <div class="col-lg-12 portlets">
                    <div class="panel">
                        <form role="form" name="updateProfile" ng-submit="profile.updateProfile()">
                            <div class="panel-header panel-controls">
                               
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Account Type *</label>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="skin skin-minimal">
                                            <div class="form-body">
                                                <div class="form-group">                                                    
                                                    <div class="input-group">
                                                        <div class="icheck-inline">                                                          
                                                            <label><input type="radio" name="iscorporate"  icheck ng-model="profile.model.model.iscorporate" value="false"> Individual Account </label>
                                                            <label><input type="radio" name="iscorporate"  icheck ng-model="profile.model.iscorporate" value="true"> Corporate Account</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                        
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label" ng-show="profile.model.iscorporate">Company Name *</label>
                                    </div>
                                    <div class="col-md-4">                                     
                                            <div class="form-group" ng-show="profile.model.iscorporate">                                                   
                                                    <div class="append-icon">
                                                        <input type="text" name="companyname" class="form-control form-white" minlength="4"   ng-model="profile.model.companyname" >
                                                        <i class="icon-user"></i>                                                        
                                                    </div>
                                                </div>                                         
                                   </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Salutation *</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">                                           
                                            <div class="option-group">
                                                <select id="salutation" name="salutation" class="salutation" required ng-model="profile.model.salutation" >
                                                    <option value="Mr">Mr</option>
                                                    <option value="Mrs">Mrs</option>
                                                    <option value="Ms">Ms</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">First Name *</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{ 'has-error' : updateprofile.model.firstname.$error.required && updateprofile.model.firstname.$dirty }">                                           
                                            <div class="append-icon">
                                                <input type="text" name="firstname" class="form-control form-white" minlength="3" required ng-model="profile.model.firstname"  >
                                                <i class="icon-user"></i>
                                                <label id="firstname-error" ng-show="updateprofile.model.firstname.$dirty  && updateprofile.model.firstname.$error.required" class="error" for="firstname">Enter your first name</label>                                              

                                            </div>
                                        </div> 
                                    </div>

                                    <div class="col-md-2">
                                        <label class="control-label">Middle Name </label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">                                           
                                            <div class="append-icon">
                                                <input type="text" name="middlename" class="form-control form-white" minlength="4" ng-model="profile.model.middlename" >
                                                <i class="icon-user"></i>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Last Name *</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{ 'has-error' : updateprofile.model.lastname.$error.required && updateprofile.model.lastname.$dirty }">
                                            
                                            <div class="append-icon">
                                                <input type="text" name="lastname" class="form-control form-white" minlength="4" required ng-model="profile.model.lastname">
                                                <i class="icon-user"></i>
                                                <label ng-show="updateprofile.model.lastname.$error.required && updateprofile.model.lastname.$dirty" class="error">Last name is required.</label>
                                            </div>
                                        </div> 
                                    </div>
                                </div>

                                <h3><strong>Corporate Address</strong></h3>

                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Country *</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="option-group">                                             

                                                <country-select id="country" name="country" ng-model="profile.model.country" class="form-control"></country-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Postal/Zip Code *</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{ 'has-error' : updateprofile.model.postalcode.$error.required && profile.model.postalcode.$dirty }">
                                            <div class="append-icon">
                                                <input type="text" name="postalcode" class="form-control form-white" required  ng-model="profile.model.postalcode">
                                                <i class="icon-user"></i>
                                                <label ng-show="updateprofile.model.postalcode.$error.required && updateprofile.model.postalcode.$dirty" class="error">PostalCode is required.</label>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Street Name *</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group" ng-class="{ 'has-error' : updateprofile.model.number.$error.required && updateprofile.model.number.$dirty }">
                                            <div class="append-icon">
                                                <input type="text" name="number" class="form-control form-white" required ng-model="profile.model.number">
                                                <i class="icon-user"></i>
                                                <label ng-show="updateprofile.model.number.$error.required && updateprofile.model.number.$dirty" class="error">Number is required.</label>
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group" ng-class="{ 'has-error' : updateprofile.model.streetaddress1.$error.required && updateprofile.model.streetaddress1.$dirty }">
                                            <div class="append-icon">
                                                <input type="text" name="streetaddress1" class="form-control form-white" required   ng-model="profile.model.streetaddress1">
                                                <i class="icon-user"></i>
                                                <label ng-show="updateprofile.model.streetaddress1.$error.required && updateprofile.model.streetaddress1.$dirty" class="error">Street Address1 is required.</label>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group" >
                                            <div class="append-icon">
                                                <input type="text" name="streetaddress2" class="form-control form-white"   ng-model="profile.model.streetaddress2">
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">City *</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{ 'has-error' : updateprofile.model.city.$error.required && updateprofile.model.city.$dirty }">
                                            <div class="append-icon">
                                                <input type="text" name="city" class="form-control form-white" required ng-model="profile.model.city">
                                                <i class="icon-user"></i>
                                                <label ng-show="updateprofile.model.city.$error.required && updateprofile.model.city.$dirty" class="error">City is required.</label>
                                            </div>
                                            </div>
                                        </div>
                                    <div class="col-md-2">
                                        <label class="control-label">State *</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="state" class="form-control form-white"  ng-model="profile.model.state">
                                                <i class="icon-user"></i>
                                            </div>
                                            </div>
                                        </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Phone Number </label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="phonenumber" class="form-control form-white" ng-model="profile.model.phonenumber">
                                                <i class="icon-user"></i>
                                            </div>
                                            </div>
                                        </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Mobile Number </label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="mobilenumber" class="form-control form-white" ng-model="profile.model.mobilenumber">
                                                <i class="icon-user"></i>
                                            </div>
                                            </div>
                                        </div>
                                    </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">VAT Number </label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="vatnumber" class="form-control form-white" placeholder="Enter VAT Number" ng-model="profile.model.vatnumber">
                                                <i class="icon-user"></i>
                                            </div>
                                            </div>
                                        </div>
                                    <div class="col-md-2">
                                        <label class="control-label"> Chamber of Commerce Number</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="ccnumber" class="form-control form-white" placeholder="Enter Chamber of Commerce Number" ng-model="profile.model.cocnumber">
                                                <i class="icon-user"></i>
                                            </div>
                                            </div>
                                        </div>
                                </div>

                                <br/><br/>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h3><strong>Billing Address</strong></h3>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="icheck-inline">
                                            <label>
                                                <input type="checkbox" data-checkbox="icheckbox_square-blue" icheck name="corpaddressasbilling" ng-model="profile.model.corpaddressasbilling" ng-change="profile.useCorpAddressAsBilling()"> Use corporate address as billing address
                                            </label>
                                            </div>
                                    </div>
                                </div>                              

                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Country *</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="option-group">                                               
                                                <country-select id="billing_country" name="billing_country" ng-model="profile.model.billing_country" class="form-control"></country-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Postal/Zip Code *</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="billing_postalcode" class="form-control form-white" minlength="4"  ng-model="profile.model.billing_postalcode">
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Street Name *</label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="billing_number" class="form-control form-white"  ng-model="profile.model.billing_number">
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="billing_streetaddress1" class="form-control form-white"  ng-model="profile.model.billing_streetaddress1">
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="billing_streetaddress2" class="form-control form-white"  ng-model="profile.model.billing_streetaddress2">
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">City *</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="billing_city" class="form-control form-white"  ng-model="profile.model.billing_city">
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">State *</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="billing_state" class="form-control form-white"  ng-model="profile.model.billing_state">
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Primary Email* </label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="primaryemail" class="form-control form-white" ng-model="profile.model.primaryemail" disabled>
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Secondary Email </label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="secondaryemail" class="form-control form-white" ng-model="profile.model.secondaryemail">
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Phone Number </label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="billing_phonenumber" class="form-control form-white" ng-model="profile.model.billing_phonenumber">
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <br/>
                                <br/>

                                <div class="row">
                                    <div class="col-md-4">
                                        <h3><strong>Login Details</strong></h3>
                                    </div>                                   
                               </div>
                                <hr />

                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Corporate ID </label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="text" name="primaryemail" class="form-control form-white" required disabled ng-model="profile.model.corporateid">
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Create New Password </label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{ 'has-error' : ((updateprofile.model.newpassword.$error.minlength || updateprofile.model.newpassword.$error.maxlength)&& updateprofile.model.newpassword.$dirty) || ( !updateprofile.model.newpassword.$error.minlength && !updateprofile.model.newpassword.$error.maxlength && updateprofile.model.newpassword.$error.pattern && updateprofile.model.newpassword.$dirty) }">
                                            <div class="append-icon">
                                                <input type="password" name="newpassword" ng-minlength="8" ng-maxlength="20" class="form-control form-white" placeholder="Enter new password" ng-model="profile.model.newpassword" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
                                                <i class="icon-user"></i>
                                                <label ng-show="(updateprofile.model.newpassword.$error.minlength||updateprofile.model.newpassword.$error.maxlength) && updateprofile.model.newpassword.$dirty" class="error">Passwords must be between 8 and 20 characters.</label>
                                                <label ng-show="(!updateprofile.model.newpassword.$error.minlength && !updateprofile.model.newpassword.$error.maxlength) && updateprofile.model.newpassword.$error.pattern && updateprofile.model.newpassword.$dirty" class="error">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</label>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label">Email Address </label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{ 'has-error' : (updateprofile.model.emailaddress.$invalid && !updateprofile.model.emailaddress.$pristine) || (updateprofile.model.emailaddress.$error.required && updateprofile.model.emailaddress.$dirty)}">
                                            <div class="append-icon">
                                                <input type="email" name="emailaddress" class="form-control form-white" ng-model="profile.model.emailaddress" required disabled>
                                                <i class="icon-user"></i>
                                                <label ng-show="updateprofile.model.emailaddress.$invalid && !updateprofile.model.emailaddress.$pristine && !updateprofile.model.emailaddress.$error.required" class="error">Enter a valid email.</label>
                                                <label ng-show="updateprofile.model.emailaddress.$error.required && updateprofile.model.emailaddress.$dirty" class="error">Email is required</label>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Confirm Password </label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{'has-error': updateprofile.model.newpassword_c.$error.noMatch && updateprofile.model.newpassword_c.$dirty}" >
                                            <div class="append-icon">
                                                <input type="password" ng-minlength="8" ng-maxlength="20" name="newpassword_c" class="form-control form-white" placeholder="Re-enter new password" ng-model="profile.model.newpassword_c"  valid-password-c >
                                                <i class="icon-user"></i>  
                                                <label ng-show="updateprofile.model.newpassword_c.$error.noMatch && updateprofile.model.newpassword_c.$dirty" class="help-block">Passwords do not match.</label>                                              
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">                                   
                                    <div class="col-md-6">                                        
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label">Enter Old Password </label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="append-icon">
                                                <input type="password" name="oldpassword" class="form-control form-white" placeholder="Enter Old Password" ng-model="profile.model.oldpassword">
                                                <i class="icon-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <br />

                                <div class="row">
                                    <div class="col-md-4">
                                        <h3><strong>Account Settings</strong></h3>
                                    </div>
                                   
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="control-label">Default Language</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="option-group">                                                       
                                                        
                                                        <select id="defaultlanguage"  ng-options="language.id as language.languageCode for language in profile.model.languages" name="defaultlanguage" class="defaultlanguage" required ng-model="profile.model.defaultlanguage">                                                            
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="control-label">Default Currency</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="option-group">                                                       
                                                        <select id="defaultcurrency" convert-to-number ng-options="currency.id as currency.currencyCode for currency in profile.model.currencies" name="defaultcurrency" class="defaultcurrency" required ng-model="profile.model.defaultcurrency">
                                                                                                                  
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label class="control-label">Default Time Zone</label>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="option-group">                                                        
                                                        <select id="defaulttimezone" ng-options="timeZone.id as timeZone.timeZoneCode for timeZone in profile.model.timezones" name="defaulttimezone" class="defaulttimezone" required ng-model="profile.model.defaulttimezone" >
                                                           
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <p>
                                                <strong>Notify me on status changes:</strong>
                                            </p>
                                            <div class="input-group">
                                                <div class="icheck-list">
                                                                                                      
                                                        <label>
                                                            <input type="checkbox" name="bookingConfirmation" data-checkbox="icheckbox_square-blue" icheck ng-model="profile.model.bookingConfirmation"> Booking Confirmation
                                                        </label>                                                   
                                                    <label>
                                                        <input type="checkbox" name="pickupConfirmation" data-checkbox="icheckbox_square-blue" icheck ng-model="profile.model.pickupConfirmation"> Pickup Confirmation
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="shipmentDelay" data-checkbox="icheckbox_square-blue" icheck ng-model="profile.model.shipmentDelay"> Shipment delays
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" name="shipmentException" data-checkbox="icheckbox_square-blue" icheck ng-model="profile.model.shipmentException"> Shipment exceptions
                                                    </label>                                                    
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <p>
                                                <strong>Subscibe to Offers,Deals & Promotions </strong>
                                            </p>
                                            <div class="input-group">
                                                <div class="icheck-list">                                                   
                                                    <label>
                                                        
                                                        <input type="checkbox" data-checkbox="icheckbox_square-blue" name="notenewsolution" icheck ng-model="profile.model.notenewsolution" > I would like to receive notofied on new solutions
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" data-checkbox="icheckbox_square-blue" name="notediscount" icheck ng-model="profile.model.notifyDiscountOffer"> I would like to be notified of discounts & offers
                                                    </label>                                                  
                                                 </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>      
                                <div class="row">
                                    <div class="col-md-8"></div>
                                    <div class="col-md-4">
                                        <button type="submit" id="submit-form" class="btn btn-lg btn-primary " data-style="expand-right">Update</button>
                                    </div>
                                </div>                      
                                   
                                </div>                            
                        </form>
                </div>
            </div>


          
        </div>
    </div>
    <div class="footer">
        <div class="copyright">
            <p class="pull-left sm-pull-reset">                
                <span>Parcel International</span>            
            </p>
            
        </div>
    </div>
</div>