<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://piserviceprod.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>piserviceprod.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PIServiceProd</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PIServiceProd</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PI.Data.PIContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:pibookingprod.database.windows.net,1433;Initial Catalog=PIPROD;User ID=PIPROD@pibookingprod;Password=1qaz2wsx@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PI.Data.PIContext, PI.Data" MigrationConfiguration="PI.Data.Migrations.Configuration, PI.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PIBookingConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:pibookingprod.database.windows.net,1433;Initial Catalog=PIPROD;User ID=PIPROD@pibookingprod;Password=1qaz2wsx@" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:pibookingprod.database.windows.net,1433;Initial Catalog=PIPROD;User ID=PIPROD;Password=1qaz2wsx@;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PIBookingConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:pibookingprod.database.windows.net,1433;Initial Catalog=PIPROD;User ID=PIPROD;Password=1qaz2wsx@;Encrypt=True;TrustServerCertificate=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PI.Data.PIContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pibookingprod.database.windows.net,1433;Initial Catalog=PIPROD;User ID=PIPROD@pibookingprod;Password=1qaz2wsx@</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PIBookingConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pibookingprod.database.windows.net,1433;Initial Catalog=PIPROD;User ID=PIPROD@pibookingprod;Password=1qaz2wsx@</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="PI.Data.PIContext" />
  </ItemGroup>
</Project>