<div ng-controller="loadAddressesCtrl as addressCtrl">
    <div class="row m-l-0 m-r-0 addheading">
        <h2 style="display:inline">
        <translate>Manage Address Book</translate></h2>
        <a role="button" style="width:auto;" class="btn btn-primary active pull-right m-r-20" href="#saveAddress/0" translate>
            <i class="fa fa-plus-circle m-r-5 m-t-5 f-16"></i>Add Address
        </a>
        <div dropdown="" class="btn-group pull-right m-r-20">
            <button data-toggle="dropdown" class="btn btn-primary active dropdown-toggle" type="button">
                <i class="fa fa-upload" aria-hidden="true"></i>Import <span class="caret"></span>
            </button>
            <span class="dropdown-arrow"></span>
            <ul role="menu" class="dropdown-menu">
                <li>
                    <a ng-click="addressCtrl.importAddressBook()">Import</a>
                </li>
                <li>
                    <a href="https://pidocuments.blob.core.windows.net:443/piblobstorage/COMMON/ADDRESSBOOK_TEMPLATES/AddressBookDetails.csv">CSV Template</a>                   
                </li>
                <li>
                    <a href="https://pidocuments.blob.core.windows.net:443/piblobstorage/COMMON/ADDRESSBOOK_TEMPLATES/AddressBook.xlsx">Excel Template</a>
                </li>
            </ul>
        </div>
        
    </div>

    <div class="panel">
        <!-- form start -->
        <!-- Main content -->
        <form class="form-horizontal" name="loadAddressForm" novalidate>
            <!-- /.box-header -->

            <div class="panel-header">
                <!-- left column -->
                <div class="panel-content panel-border">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input ng-model="addressCtrl.searchText" name="searchText" type="text" class="form-control"
                                               placeholder="{{'Search by company, first or last name' | translate}}" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-large btn-primary no-margin" ng-click="addressCtrl.searchAddresses()">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="font-animation" ng-show="addressCtrl.loading">
                                        <label><i class="fa fa-spinner faa-spin animated"></i> <translate>loading...</translate></label>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <label class="control-label" translate>Filter by  </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="option-group">
                                        <select id="addressStatus" name="addressStatus" class="form-control"
                                                ng-model="addressCtrl.state" ng-change="addressCtrl.searchAddresses()">
                                            <option value="" translate>Status: All</option>
                                            <option value="True" translate>Active</option>
                                            <option value="False" translate>Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                <div dropdown="" class="col-sm-2 btn-group m-r-0 pull-right">
                                    <button data-toggle="dropdown" class="btn btn-primary active dropdown-toggle" type="button">
                                        <i class="fa fa-download" aria-hidden="true"></i>Export <span class="caret"></span>
                                    </button>
                                    <span class="dropdown-arrow"></span>
                                    <ul role="menu" class="dropdown-menu">
                                        <li>                                        
                                            <a ng-csv="addressCtrl.exportcollection" filename="AddressBookDetails.csv">
                                                CSV<translate>Export </translate>
                                            </a>
                                           
                                        </li>
                                        <li>
                                            <a ng-click="addressCtrl.ExportExcel()">Excel Export</a>                                            
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                        </div>

                     
                        <hr>
                        <!--<div class="gridStyle" ng-grid="gridOptions"></div>-->

                        <div class="custom-table addbookNorecords">

                            <table st-table="displayedCollection" st-safe-src="addressCtrl.rowCollection" class="table table-striped m-b-0">
                                <thead>
                                    <tr>
                                        <th st-sort="name" translate>Company</th>
                                        <th translate>Name</th>
                                        <th translate>Billing Address</th>
                                        <th translate>Status</th>

                                        <th translate>Edit</th>
                                        <th translate>Delete</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in displayedCollection">
                                        <td>{{row.companyName}}</td>
                                        <td>{{row.fullName}}</td>
                                        <td>{{row.fullAddress}}</td>
                                        <td>{{row.isActive==true ?'Active':'Inactive'}}</td>

                                        <td><a href="#/saveAddress/{{row.id}}" class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a></td>
                                        <td><a ng-click="addressCtrl.deleteById(row)" class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="nodatamsg" ng-show="addressCtrl.noAvailableAddressDetails"> No records found.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#saveAddress/0" translate>
                                    <i class="fa fa-plus-circle m-r-5 m-t-5 f-16"></i>Add Address
                                </a>
                            </div>
                            <div id="panel-notif"></div>

                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>


</div>
