<div ng-controller="loadAddressesCtrl as addressCtrl">
    <h2 class="box-title">
        Manage Address Book &nbsp;&nbsp;&nbsp;&nbsp;<a href="#saveAddress/0"
                                                       class="btn btn-primary active pull-right" role="button">Add Address</a>
    </h2>

    <div class="panel">
        <!-- form start -->
        <!-- Main content -->
        <form class="form-horizontal" name="loadAddressForm">
            <!-- /.box-header -->

            <div class="panel-header">
                <!-- left column -->

                <div class="box-body">
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <input ng-model="addressCtrl.searchText" name="searchText" type="text" class="form-control"
                                       placeholder="Search by Cost Center Name" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-large btn-primary" ng-click="addressCtrl.searchAddresses()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="control-label">Filter by  </label>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="option-group">
                                    <select id="addressStatus" name="addressStatus"
                                            ng-model="addressCtrl.state" ng-change="addressCtrl.searchAddresses()">
                                        <option value="">All</option>
                                        <option value="True">Active</option>
                                        <option value="False">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <button class="btn-success" type="button" ng-csv="addressCtrl.exportcollection" filename="AddressBookDetails.csv">Export CSV</button>
                            </div>
                        </div>                   
                       
                    </div>
                    <div class="row">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <ng-csv-import content="addressCtrl.csv.content"
                                               header="addressCtrl.csv.header"
                                               separator="addressCtrl.csv.separator"
                                               result="addressCtrl.csv.result"
                                               accept="addressCtrl.csv.accept"></ng-csv-import>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn-success" type="button" ng-click="addressCtrl.Import()">Import CSV</button>
                        </div>
                    </div>
                    <br />
                    <!--<div class="gridStyle" ng-grid="gridOptions"></div>-->
                 
                    <div class="costCenterTable">
                      
                        <table st-table="displayedCollection" st-safe-src="addressCtrl.rowCollection" class="table table-striped">
                            <thead>
                                <tr>                                   
                                    <th st-sort="name">Company</th>
                                    <th>Name</th>
                                    <th>Billing Address</th>
                                    <th>Status</th>
                                   
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr ng-repeat="row in displayedCollection">
                                    <td>{{row.companyName}}</td> 
                                    <td>{{row.fullName}}</td>                                  
                                    <td>{{row.fullAddress}}</td>
                                    <td>{{row.isActive==true ?'Active':'Inactive'}}</td>
                                    
                                    <td><a href="#/saveAddress/{{row.id}}" class="edit btn btn-sm btn-default" href="javascript:;"><i class="icon-note"></i></a></td>
                                    <td><a ng-click="addressCtrl.deleteById(row)" class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div id="panel-notif"></div>
                    </div>

                </div>
            </div>
        </form>
    </div>


</div>
