<div ng-controller="saveAddressCtrl as addressCtrl">
    <h2 class="box-title" ng-hide="addressCtrl.model.id > 0"> <translate> Add Address  </translate>
    <a href="#loadAddresses" class="btn btn-primary active pull-right" style="width:auto;" role="button">Manage Address</a></h2>
    <h2 class="box-title" ng-show="addressCtrl.model.id > 0"><translate>  Edit Address </translate> 
        <a href="#loadAddresses" class="btn btn-primary active pull-right" style="width:auto;" role="button">Manage Address</a></h2>

    <div class="panel">
        <!-- form start -->
        <!-- Main content -->
        <form class="form-horizontal" name="saveAddressForm" novalidate>
            <!-- /.box-header -->
            <div class="panel-content panel-border">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- left column -->                      
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Company Name</label>
                            <div class="col-sm-8">
                                <input ng-model="addressCtrl.model.companyName" type="text" name="companyname" class="form-control"
                                       ng-maxlength="200" ng-class="{ 'error': saveAddressForm.companyname.$invalid &&
                                                                        (saveAddressForm.companyname.$dirty|| addressCtrl.isSubmit) }"
                                       placeholder="{{'Enter Company Name' | translate}}" />
                                <div ng-messages="saveAddressForm.companyname.$error"
                                     ng-show="saveAddressForm.companyname.$dirty || addressCtrl.isSubmit">
                                    <!--<label ng-message="required" class="error" for="divisionName">Company Name is required</label>-->
                                    <label ng-message="maxlength" class="error" for="divisionName">Max length should be 200 characters</label>
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Salutation *</label>
                            <div class="col-sm-2">                               
                                    <div class="option-group">
                                        <select id="salutation" name="salutation" class="salutation form-control" required ng-model="addressCtrl.model.salutation" >
                                            <option value="Mr" selected="selected" translate>Mr</option>
                                            <option value="Mrs" translate>Mrs</option>
                                            <option value="Ms"  translate>Ms</option>
                                        </select>                                 
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>First Name *</label>
                            <div class="col-sm-8">
                                <input ng-model="addressCtrl.model.firstName" type="text" name="firstname" class="form-control" ng-required="true"
                                       ng-maxlength="200" ng-class="{ 'error': saveAddressForm.firstname.$invalid &&
                                                                        (saveAddressForm.firstname.$dirty|| addressCtrl.isSubmit) }" placeholder="{{'Enter first name' | translate}}" />
                                <div ng-messages="saveAddressForm.firstname.$error"
                                     ng-show="saveAddressForm.firstname.$dirty || addressCtrl.isSubmit">
                                    <label ng-message="required" class="error" for="divisionName" translate>First Name is required</label>
                                    <label ng-message="maxlength" class="error" for="divisionName" translate>Max length should be 200 characters</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Last Name *</label>
                            <div class="col-sm-8">
                                <input ng-model="addressCtrl.model.lastName" type="text" name="lastname" class="form-control" ng-required="true"
                                       ng-maxlength="200" ng-class="{ 'error': saveAddressForm.lastname.$invalid &&
                                                                        (saveAddressForm.lastname.$dirty|| addressCtrl.isSubmit) }" placeholder="{{'Enter last name' | translate}}" />
                                <div ng-messages="saveAddressForm.lastname.$error"
                                     ng-show="saveAddressForm.lastname.$dirty || addressCtrl.isSubmit">
                                    <label ng-message="required" class="error" for="divisionName" translate>Last Name is required</label>
                                    <label ng-message="maxlength" class="error" for="divisionName" translate>Max length should be 200 characters</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Email Address *</label>
                            <div class="col-sm-8">
                                <input ng-model="addressCtrl.model.emailAddress" type="email" name="email" class="form-control" ng-required="true"
                                       ng-maxlength="200" ng-class="{ 'error': saveAddressForm.email.$invalid &&
                                                                        (saveAddressForm.email.$dirty|| addressCtrl.isSubmit) }"  placeholder="{{'Enter email' | translate}}"/>
                                <div ng-messages="saveAddressForm.email.$error"
                                     ng-show="saveAddressForm.email.$dirty || addressCtrl.isSubmit">
                                    <label ng-message="email" class="error" for="email" translate>Enter valid email address</label>
                                    <label ng-message="required" class="error" for="divisionName" translate>Email is required</label>
                                    <label ng-message="maxlength" class="error" for="divisionName" translate>Max length should be 200 characters</label>
                                </div>
                            </div>
                        </div>  

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Phone Number *</label>
                            <div class="col-sm-8">
                                <input ng-model="addressCtrl.model.phoneNumber" type="text" name="phonenumber" class="form-control" ng-required="true" valid-phone-no
                                       ng-maxlength="20" ng-class="{ 'error': saveAddressForm.phonenumber.$invalid &&
                                                                        (saveAddressForm.phonenumber.$dirty|| addressCtrl.isSubmit) }" placeholder="{{'Enter phone number' | translate}}"/>
                                <div ng-messages="saveAddressForm.phonenumber.$error"
                                     ng-show="saveAddressForm.phonenumber.$dirty || addressCtrl.isSubmit">
                                    <label ng-message="required" class="error" for="divisionName" translate>Phone Number is required</label>
                                    <label ng-message="maxlength" class="error" for="divisionName" translate>Max length should be 20 characters</label>
                                    <label ng-message="notValidPhoneNo" class="error" for="billing_phonenumber" translate>Enter valid phone number</label>
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Account Number </label>
                            <div class="col-sm-8">
                                <input ng-model="addressCtrl.model.accountNumber" type="text" name="accountnumber" class="form-control" 
                                       ng-maxlength="200" ng-class="{ 'error': saveAddressForm.accountnumber.$invalid &&
                                                                        (saveAddressForm.accountnumber.$dirty|| addressCtrl.isSubmit) }" placeholder="{{'Enter account number' | translate}}"/>
                                <div ng-messages="saveAddressForm.accountnumber.$error"
                                     ng-show="saveAddressForm.accountnumber.$dirty || addressCtrl.isSubmit">
                                    <!--<label ng-message="required" class="error" for="divisionName">Account Number is required</label>-->
                                    <label ng-message="maxlength" class="error" for="divisionName" translate>Max length should be 200 characters</label>
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-2 control-label"><strong translate>Address Details </strong></label>
                            <div class="col-sm-10">                                
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Country *</label>
                            <div class="col-sm-8">
                                <div class="option-group">
                                    <country-select id="country" name="country"
                                                    ng-model="addressCtrl.model.country" ng-change="addressCtrl.changeCountry()"
                                                    class="form-control"></country-select>
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Postal/ Zip Code *</label>
                            <div class="col-sm-8">
                                <input ng-model="addressCtrl.model.zipCode" type="text" name="postalcode" class="form-control" required
                                       ng-maxlength="20" ng-class="{ 'error': saveAddressForm.postalcode.$invalid &&
                                                                        (saveAddressForm.postalcode.$dirty|| addressCtrl.isSubmit) }" placeholder="{{'Entetr Zip/Postal Code' | translate}}"/>
                                <div ng-messages="saveAddressForm.postalcode.$error"
                                     ng-show="saveAddressForm.postalcode.$dirty || addressCtrl.isSubmit">
                                    <label ng-message="required" class="error" for="postalcode" translate>Postal Code is required</label>
                                    <label ng-message="maxlength" class="error" for="postalcode" translate>Max length should be 20 characters</label>
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Street Name *</label>
                            <div class="col-sm-3">
                                <input ng-model="addressCtrl.model.number" type="text" name="number" class="form-control" ng-required="true"
                                       ng-maxlength="200" ng-class="{ 'error': saveAddressForm.number.$invalid &&
                                                                        (saveAddressForm.number.$dirty|| addressCtrl.isSubmit) }" placeholder="{{'Enter number' | translate}}"/>
                                <div ng-messages="saveAddressForm.number.$error"
                                     ng-show="saveAddressForm.number.$dirty || addressCtrl.isSubmit">
                                    <label ng-message="required" class="error" for="postalcode" translate>Number is required</label>
                                    <label ng-message="maxlength" class="error" for="postalcode" translate>Max length should be 200 characters</label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <input ng-model="addressCtrl.model.streetAddress1" type="text" name="address1" class="form-control" ng-required="true"
                                       ng-maxlength="200" ng-class="{ 'error': saveAddressForm.address1.$invalid &&
                                                                        (saveAddressForm.address1.$dirty|| addressCtrl.isSubmit) }" placeholder="{{'Enter address1' | translate}}"/>
                                <div ng-messages="saveAddressForm.address1.$error"
                                     ng-show="saveAddressForm.address1.$dirty || addressCtrl.isSubmit">
                                    <label ng-message="required" class="error" for="postalcode" translate>Address1 is required</label>
                                    <label ng-message="maxlength" class="error" for="postalcode" translate>Max length should be 200 characters</label>
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-8">
                                <input ng-model="addressCtrl.model.streetAddress2" type="text" name="address2" class="form-control" 
                                       ng-maxlength="200" ng-class="{ 'error': saveAddressForm.address2.$invalid &&
                                                                        (saveAddressForm.address2.$dirty|| addressCtrl.isSubmit) }" placeholder="{{'Enter address2' | translate}}"/>
                                <div ng-messages="saveAddressForm.address2.$error"
                                     ng-show="saveAddressForm.address2.$dirty || addressCtrl.isSubmit">                                    
                                    <label ng-message="maxlength" class="error" for="postalcode" translate>Max length should be 200 characters</label>
                                </div>
                            </div>
                        </div> 
                               
                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>
                                City*
                            </label>
                            <div class="col-sm-8">
                                <input ng-model="addressCtrl.model.city" type="text" name="city" class="form-control" required 
                                       ng-maxlength="200" ng-class="{ 'error': saveAddressForm.city.$invalid &&
                                                                        (saveAddressForm.city.$dirty|| addressCtrl.isSubmit) }" placeholder="{{'Enter city' | translate}}" />
                                <div ng-messages="saveAddressForm.city.$error"
                                     ng-show="saveAddressForm.city.$dirty || addressCtrl.isSubmit">
                                    <label ng-message="required" class="error" for="postalcode" translate>City is required</label>
                                    <label ng-message="maxlength" class="error" for="postalcode" translate>Max length should be 200 characters</label>
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>
                                State
                            </label>
                            <div class="col-sm-8">
                                <input ng-model="addressCtrl.model.state" type="text" name="state" class="form-control" ng-required="addressCtrl.isRequiredState"
                                       ng-maxlength="200" ng-class="{ 'error': saveAddressForm.state.$invalid &&
                                                                        (saveAddressForm.state.$dirty|| addressCtrl.isSubmit) }" placeholder="{{'Enter state' | translate}} {{addressCtrl.isRequiredState?'*':''}}" />
                                <div ng-messages="saveAddressForm.state.$error"
                                     ng-show="saveAddressForm.state.$dirty || addressCtrl.isSubmit">
                                    <label ng-message="required" class="error" for="postalcode" translate>State is required</label>
                                    <label ng-message="maxlength" class="error" for="postalcode" translate>Max length should be 200 characters</label>
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-2 control-label" translate>Status</label>
                            <div class="col-sm-10 radio-inline " >
                                <div class="icheck-inline">
                                   
                                    <label><input type="radio" name="iscorporate" icheck ng-model="addressCtrl.model.isActive" value="true" > <translate>Active </translate></label>
                                    <label><input type="radio" name="iscorporate" icheck ng-model="addressCtrl.model.isActive" value="false" ><translate>Inactive </translate> </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button ng-click="addressCtrl.close()" class="btn btn-primary btn-app pull-right">
                                <i class="fa fa-close"></i><translate>Cancel</translate> 
                            </button>
                            <button type="submit" ng-click="(saveAddressForm.$valid ? addressCtrl.saveAddressDetail() : addressCtrl.isSubmit = true)" class="btn btn-primary btn-app pull-right">
                                <i class="fa fa-save"></i> <translate>Save</translate> 
                            </button>
                        </div>
                        <div id="panel-notif"></div>
                                       
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
