<div ng-init="">

    <div class="panel">

        <div class="panel-content panel-border">
            <tabset class="tab-fade-in">
                <tab>
                    <tab-heading>
                        All Invoices
                    </tab-heading>
                    <form role="form" name="formAllInvoices">                       
                        <div class="row">
                            <div class="col-sm-2 form-group">
                                <div dropdown="" class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                                        Status : {{invoiceCtrl.statusButton}}
                                        <span class="caret"></span>
                                    </button>
                                    <span class="dropdown-arrow"></span>
                                    <ul role="menu" class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;" ng-model="invoiceCtrl.status" ng-click="invoiceCtrl.loadInvoicesByStatus('All')">All</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-model="invoiceCtrl.status" ng-click="invoiceCtrl.loadInvoicesByStatus('Active')">Active</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-model="invoiceCtrl.status" ng-click="invoiceCtrl.loadInvoicesByStatus('Completed')">Completed</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <div class="btn-group">
                                    <input date-range-picker class="form-control date-picker" type="text"
                                           ng-model="invoiceCtrl.datePicker.date" placeholder="Search By: Pickup Date" />
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <div class="btn-group">
                                    <select ng-model="searchType" class="form-control" ng-init="searchType = 'True'">
                                        <option value="True">Search By: Shipment Reference</option>
                                        <option value="False">Search By: Location</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2 form-group" ng-show="searchType == 'False'">
                                <div class="btn-group form-group">
                                    <input ng-model="invoiceCtrl.originCityCountry" name="originCityCountry" type="text" class="form-control"
                                           placeholder="Origin City/Country" />
                                </div>
                            </div>
                            <div class="col-sm-2 form-group" ng-show="searchType == 'False'">
                                <div class="btn-group">
                                    <input ng-model="invoiceCtrl.desCityCountry" name="desCityCountry" type="text" class="form-control"
                                           placeholder="Destination City/Country" />
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" ng-show="searchType == 'True'">
                                <div class="input-group">
                                    <input ng-model="invoiceCtrl.shipmentNumber" name="shipmentNumber" type="text" class="form-control"
                                           placeholder="Tracking Number/ Shipment Ref Number" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-large btn-primary no-margin" ng-click="invoiceCtrl.loadShipmentsBySearch()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>

                            </div>

                        </div>
                        <div class="row" ng-show="manageShipCtrl.CompanyId!=''">


                            <table st-table="shipmentList" st-safe-src="manageShipCtrl.rowCollection" class="table table-striped ship-mgt">
                                <thead>
                                    <tr>
                                        <th st-sort="name">Invoice Date</th>
                                        <th>Business Owner</th>
                                        <th>Corporate Name</th>
                                        <th>Shipment References</th>
                                        <th>Invoice Number</th>
                                        <th>Invoice Value</th>
                                        <th>Invoice Status</th>
                                        <th>View</th>
                                      
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in shipmentList">
                                        <td>{{row.invoice.createdDate}}</td>
                                        <td>{{row.invoice.owner}}</td>
                                        <td>{{row.invoice.corporateName}}</td>
                                        <td>{{row.invoice.number}}</td>
                                        <td>{{row.invoice.value}}</td>
                                        <td>{{row.addressInformation.consignee.city}}</td>

                                        <td>
                                            <div class="option-group">
                                                <select id="salutation" name="salutation" class="salutation form-control" ng-model="row.invoice.status" ng-change="invoiceCtrl.updateInvoiceStatus(row)">
                                                    <option value="Error">Error</option>
                                                    <option value="Pending">Pending</option>
                                                    <option value="Paid">Booking Confirmation</option>                                                  

                                                </select>
                                            </div>
                                        </td>
                                        <!--<td>
                                            <a href="#/ShipmentOverview/?SHIPMENT_CODE={{row.generalInformation.shipmentCode}}&TRACKING_NO={{row.generalInformation.trackingNumber}}&CARRIER={{row.carrierInformation.carrierName}}&CREATED_ON={{row.generalInformation.createdDate}}"
                                               class="edit btn btn-sm btn-default">
                                                <i class="fa fa-hand-o-right" style="color:blue"></i>
                                            </a>
                                        </td>-->                                    

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </form>
                </tab>

                <tab>
                    <tab-heading>
                        Dispute Invoices
                    </tab-heading>
                    <form role="form" name="formAllInvoices">
                        <div class="row">
                            <div class="col-sm-2 form-group">
                                <div dropdown="" class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                                        Status : {{invoiceCtrl.statusButton}}
                                        <span class="caret"></span>
                                    </button>
                                    <span class="dropdown-arrow"></span>
                                    <ul role="menu" class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;" ng-model="invoiceCtrl.status" ng-click="invoiceCtrl.loadInvoicesByStatus('All')">All</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-model="invoiceCtrl.status" ng-click="invoiceCtrl.loadInvoicesByStatus('Active')">Active</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-model="invoiceCtrl.status" ng-click="invoiceCtrl.loadInvoicesByStatus('Completed')">Completed</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <div class="btn-group">
                                    <input date-range-picker class="form-control date-picker" type="text"
                                           ng-model="invoiceCtrl.datePicker.date" placeholder="Search By: Pickup Date" />
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <div class="btn-group">
                                    <select ng-model="searchType" class="form-control" ng-init="searchType = 'True'">
                                        <option value="True">Search By: Shipment Reference</option>
                                        <option value="False">Search By: Location</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2 form-group" ng-show="searchType == 'False'">
                                <div class="btn-group form-group">
                                    <input ng-model="invoiceCtrl.originCityCountry" name="originCityCountry" type="text" class="form-control"
                                           placeholder="Origin City/Country" />
                                </div>
                            </div>
                            <div class="col-sm-2 form-group" ng-show="searchType == 'False'">
                                <div class="btn-group">
                                    <input ng-model="invoiceCtrl.desCityCountry" name="desCityCountry" type="text" class="form-control"
                                           placeholder="Destination City/Country" />
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" ng-show="searchType == 'True'">
                                <div class="input-group">
                                    <input ng-model="invoiceCtrl.shipmentNumber" name="shipmentNumber" type="text" class="form-control"
                                           placeholder="Tracking Number/ Shipment Ref Number" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-large btn-primary no-margin" ng-click="invoiceCtrl.loadShipmentsBySearch()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>

                            </div>

                        </div>
                        <div class="row" ng-show="manageShipCtrl.CompanyId!=''">


                            <table st-table="shipmentList" st-safe-src="manageShipCtrl.rowCollection" class="table table-striped ship-mgt">
                                <thead>
                                    <tr>
                                        <th st-sort="name">Invoice Date</th>
                                        <th>Business Owner</th>
                                        <th>Corporate Name</th>
                                        <th>Shipment References</th>
                                        <th>Invoice Number</th>
                                        <th>Invoice Value</th>
                                        <th>Invoice Status</th>
                                        <th>Credit Note</th>
                                        <th>View</th>

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in shipmentList">
                                        <td>{{row.invoice.createdDate}}</td>
                                        <td>{{row.invoice.owner}}</td>
                                        <td>{{row.invoice.corporateName}}</td>
                                        <td>{{row.invoice.number}}</td>
                                        <td>{{row.invoice.value}}</td>
                                        <td>{{row.addressInformation.consignee.city}}</td>

                                        <td>
                                            <div class="option-group">
                                                <select id="salutation" name="salutation" class="salutation form-control" ng-model="row.invoice.status" ng-change="invoiceCtrl.updateInvoiceStatus(row)">
                                                    <option value="Error">Error</option>
                                                    <option value="Pending">Pending</option>
                                                    <option value="Paid">Booking Confirmation</option>

                                                </select>
                                            </div>
                                        </td>
                                        <!--<td>
                                <a href="#/ShipmentOverview/?SHIPMENT_CODE={{row.generalInformation.shipmentCode}}&TRACKING_NO={{row.generalInformation.trackingNumber}}&CARRIER={{row.carrierInformation.carrierName}}&CREATED_ON={{row.generalInformation.createdDate}}"
                                   class="edit btn btn-sm btn-default">
                                    <i class="fa fa-hand-o-right" style="color:blue"></i>
                                </a>
                            </td>-->

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </form>
                </tab>

            </tabset>
            <div id="panel-notif"></div>
        </div>
    </div>




    <div class="footer">

        <div class="copyright">
            <p class="pull-left sm-pull-reset">
                <span>Parcel International</span>
            </p>

        </div>
    </div>
</div>
