<div ng-init="">

    <div class="panel">

        <div class="panel-content panel-border">
            <tabset class="tab-fade-in">
                <tab select="invoiceCtrl.loadAllInvoices()">
                    <tab-heading>
                        ALL INVOICES
                    </tab-heading>
                    <form role="form" name="formAllInvoices">
                        <div class="row">
                            <div class="col-sm-10"></div>
                            <div class="col-sm-2">

                                <div class="col-sm-3">
                                    <button class="btn btn-primary" style="float:right;" ng-click="invoiceCtrl.uploadInvoice('invoice')">Add Invoice</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2 form-group">
                                <div dropdown="" class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                                        Status : {{invoiceCtrl.statusButton}}
                                        <span class="caret"></span>
                                    </button>
                                    <span class="dropdown-arrow"></span>
                                    <ul role="menu" class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;" ng-model="invoiceCtrl.status" ng-click="invoiceCtrl.loadInvoicesByStatus('All')">All</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-model="invoiceCtrl.status" ng-click="invoiceCtrl.loadInvoicesByStatus('Pending')">Pending</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-model="invoiceCtrl.status" ng-click="invoiceCtrl.loadInvoicesByStatus('Paid')">Paid</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-model="invoiceCtrl.status" ng-click="invoiceCtrl.loadInvoicesByStatus('Disputed')">Disputed</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <div class="btn-group">
                                    <input date-range-picker class="form-control date-picker" type="text"
                                           ng-model="invoiceCtrl.datePicker.date" placeholder="Search By: Invoice Date" />
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <div class="btn-group">
                                    <select ng-model="searchTypeInvoice" class="form-control" ng-init="searchTypeInvoice = 'ShipmentReference'">
                                        <option value="ShipmentReference">Search By: Shipment Reference</option>
                                        <option value="BusinessOwner">Search By: Business Owner</option>
                                        <option value="InvoiceNumber">Search By: InvoiceNumber</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" ng-show="searchTypeInvoice == 'ShipmentReference'">
                                <div class="input-group">
                                    <input ng-model="invoiceCtrl.shipmentNumber" name="shipmentNumber" type="text" class="form-control"
                                           placeholder="Shipment Ref Number" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-large btn-primary no-margin" ng-click="invoiceCtrl.loadAllInvoices()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>

                            </div>

                            <div class="col-sm-4 form-group" ng-show="searchTypeInvoice == 'BusinessOwner'">
                                <div class="input-group">
                                    <input ng-model="invoiceCtrl.businessOwner" name="businessOwner" type="text" class="form-control"
                                           placeholder="Business Owner" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-large btn-primary no-margin" ng-click="invoiceCtrl.loadAllInvoices()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group" ng-show="searchTypeInvoice == 'InvoiceNumber'">
                                <div class="input-group">
                                    <input ng-model="invoiceCtrl.invoiceNumber" name="invoiceNumber" type="text" class="form-control"
                                           placeholder="Invoice Number" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-large btn-primary no-margin" ng-click="invoiceCtrl.loadAllInvoices()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>

                            </div>

                        </div>
                        <div class="row">

                            <br />
                            <button type="button" class="btn btn-large btn-primary no-margin"
                                    ng-click="invoiceCtrl.exportInvoiceDetailsReport()">
                                Export
                            </button>
                            <table st-table="shipmentList" st-safe-src="invoiceCtrl.rowCollection" class="table table-striped ship-mgt">
                                <thead>
                                    <tr>
                                        <th st-sort="name">Invoice Date</th>
                                        <th>Business Owner</th>
                                        <th>Corporate Name</th>
                                        <th>Shipment References</th>
                                        <th>Invoice Number</th>
                                        <th>Invoice Value</th>
                                        <th>Invoice Status</th>
                                        <th>View Invoice</th>

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in shipmentList">
                                        <td>{{row.invoiceDate}}</td>
                                        <td>{{row.businessOwner}}</td>
                                        <td>{{row.companyName}}</td>
                                        <td>{{row.shipmentReference}}</td>
                                        <td>{{row.invoiceNumber}}</td>
                                        <td>{{row.invoiceValue}}</td>

                                        <td>
                                            <div class="option-group">
                                                <select id="status" name="status" class="status form-control" ng-model=row.invoiceStatus; ng-change="invoiceCtrl.updateInvoiceStatus(row)">
                                                    <option value="Pending">Pending</option>
                                                    <option value="Paid">Paid</option>
                                                    <option value="Disputed">Disputed</option>

                                                </select>
                                            </div>
                                        </td>
                                        <td style="text-align:center">
                                            <a href='{{row.url}}' class="edit btn btn-sm btn-default">
                                                <i class="glyphicon glyphicon-download-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </form>
                </tab>

                <tab select="invoiceCtrl.loadDisputedInvoices()">
                    <tab-heading>
                       DISPUTED INVOICES
                    </tab-heading>
                    <form role="form">
                        <div class="row">
                            <div class="col-sm-5 form-group">
                                <div class="btn-group">
                                    <input date-range-picker class="form-control date-picker" type="text"
                                           ng-model="invoiceCtrl.datePicker.date" placeholder="Search By: Pickup Date" />
                                </div>
                            </div>
                            <div class="col-sm-3 form-group">
                                <div class="btn-group">
                                    <select ng-model="searchTypeDispute" class="form-control" ng-init="searchTypeDispute = '1'">
                                        <option value="1">Search By: Shipment Reference</option>
                                        <option value="2">Search By: Business Owner</option>
                                        <option value="3">Search By: InvoiceNumber</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group" ng-show="searchTypeDispute == '1'">
                                <div class="input-group">
                                    <input ng-model="invoiceCtrl.shipmentNumber" name="shipmentNumber" type="text" class="form-control"
                                           placeholder="Shipment Ref Number" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-large btn-primary no-margin" ng-click="invoiceCtrl.loadDisputedInvoices()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>

                            </div>

                            <div class="col-sm-4 form-group" ng-show="searchTypeDispute == '2'">
                                <div class="input-group">
                                    <input ng-model="invoiceCtrl.businessOwner" name="businessOwner" type="text" class="form-control"
                                           placeholder="Business Owner" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-large btn-primary no-margin" ng-click="invoiceCtrl.loadDisputedInvoices()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group" ng-show="searchTypeDispute == '3'">
                                <div class="input-group">
                                    <input ng-model="invoiceCtrl.invoiceNumber" name="invoiceNumber" type="text" class="form-control"
                                           placeholder="Invoice Number" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-large btn-primary no-margin" ng-click="invoiceCtrl.loadDisputedInvoices()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>

                            </div>

                        </div>                       
                        <div class="row">                            
                            <table st-table="shipmentList" st-safe-src="invoiceCtrl.rowCollectionDisputed" class="table table-striped ship-mgt">
                                <thead>
                                    <tr>
                                        <th st-sort="name">Invoice Date</th>
                                        <th>Business Owner</th>
                                        <th>Corporate Name</th>
                                        <th>Shipment References</th>
                                        <th>Invoice Number</th>
                                        <th>Invoice Value</th>
                                        <th>Invoice Status</th>
                                        <th>Upload Credit Note</th>   
                                        <th>View Credit Note</th>                                                                           
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in shipmentList">
                                        <td>{{row.invoiceDate}}</td>
                                        <td>{{row.businessOwner}}</td>
                                        <td>{{row.companyName}}</td>
                                        <td>{{row.shipmentReference}}</td>
                                        <td>{{row.invoiceNumber}}</td>
                                        <td>{{row.invoiceValue}}</td>
                                        <td>
                                            <div class="option-group">
                                                <select class="status form-control" ng-model=row.invoiceStatus; ng-change="invoiceCtrl.updateInvoiceStatus(row)">
                                                    <option value="Pending">Pending</option>
                                                    <option value="Paid">Paid</option>
                                                    <option value="Disputed">Disputed</option>

                                                </select>
                                            </div>
                                        </td>                                       
                                        <td style="text-align:center">
                                            <a class="edit btn btn-sm btn-default" ng-click="invoiceCtrl.uploadInvoice('creditNote', row.id)">
                                                <i class="glyphicon glyphicon-circle-arrow-up"></i>
                                            </a>
                                        </td>
                                        <td style="text-align:center">
                                            <a href='{{row.creditNoteURL}}' class="edit btn btn-sm btn-default" ng-show="row.creditNoteURL != null">
                                                <i class="glyphicon glyphicon-download-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </form>
                </tab>

            </tabset>
            <div id="panel-notif"></div>
        </div>
    </div>




    <div class="footer">

        <div class="copyright">
            <p class="pull-left sm-pull-reset">
                <span>Parcel International</span>
            </p>

        </div>
    </div>
</div>
