<div ng-controller="loadCompaniesCtrl as vm">
    <h2 class="box-title">
        Manage Customers
    </h2>

    <div class="panel">
        <!-- form start -->
        <!-- Main content -->
        <form class="form-horizontal">
            <!-- /.box-header -->

            <div class="panel-header">
                <!-- left column -->

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <div dropdown="" class="btn-group form-group">
                                    <button type="button" class="btn btn-primary">Status : {{vm.statusButton}}</button>
                                    <button dropdown-toggle="" type="button" class="btn btn-primary dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <span class="dropdown-arrow"></span>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="javascript:;" ng-model="status" ng-click="vm.loadCompanyByStatus('All')">All</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-model="status" ng-click="vm.loadCompanyByStatus('true')">Active</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ng-model="status" ng-click="vm.loadCompanyByStatus('false')">InActive</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <input ng-model="vm.searchText" name="searchText" type="text" class="form-control"
                                           placeholder="Search by First Name, Last Name or Corporate Name" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="button" class="btn btn-large btn-primary" ng-click="vm.searchComapnies()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div>
                        <table st-table="vm.displayedCollection" st-safe-src="vm.rowCollection" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Created Date</th>
                                    <th st-sort="name">First Name</th>
                                    <th>Last Name</th>
                                    <th>Corporate Name</th>
                                    <th>City</th>
                                    <th>Number Of Users</th>
                                    <th>Active Shipments</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in vm.displayedCollection">
                                    <td>{{row.createdDate}}</td>
                                    <td>{{row.firstName}}</td>
                                    <td>{{row.lastName}}</td>
                                    <td>{{row.corporateName}}</td>
                                    <td>{{row.city}}</td>
                                    <td>{{row.assignedUserCount}}</td>
                                    <td>{{row.activeShipments}}</td>
                                    <td>
                                        <button type="button"  class="btn btn-large btn-primary" ng-click="vm.changeCompanyStatus(row)">
                                            {{ (row.status ? 'Deactivate'  : 'Activate') }}
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-large btn-primary" ng-click="vm.changeInvoiceSetting(row)">
                                            {{ (row.isInvoiceEnabled ? 'Disable'  : 'Enable') }}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>

                </div>
            </div>
        </form>
    </div>


</div>
