<div ng-controller="loadCompaniesCtrl as vm">
    <h2 class="box-title" translate>
        Manage Customers
    </h2>

    <div class="panel">
        <!-- form start -->
        <!-- Main content -->
        <div class="panel-content panel-border">
            <form class="form-horizontal">
                <!-- /.box-header -->

                <div class="panel-header">
                    <!-- left column -->

                    <div class="box-body">
                        <div class="row">
                                <div class="col-sm-2 form-group m-0">
                                    <div dropdown="" class="btn-group btn-block">
                                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button" >
                                          <translate>Status</translate>  :  {{vm.statusButton}}
                                            <span class="caret"></span>
                                        </button>
                                        <span class="dropdown-arrow"></span>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="javascript:;" ng-model="status" ng-click="vm.loadCompanyByStatus('All')">
                                                <translate>All</translate> </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" ng-model="status" ng-click="vm.loadCompanyByStatus('true')">
                                                    <translate>Active</translate></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" ng-model="status" ng-click="vm.loadCompanyByStatus('false')">
                                                    <translate>InActive</translate></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-4"></div>

                                <div class="col-sm-6">
                                    <div class="form-group input-group">
                                        <input ng-model="vm.searchText" name="searchText" type="text" class="form-control"
                                               placeholder= "{{'Search by First Name, Last Name or Company Name'| translate}}"  />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-large btn-primary" ng-click="vm.searchComapnies()">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>                               
                            
                        </div>
                        <br />
                        <div>
                            <table st-table="vm.displayedCollection" st-safe-src="vm.rowCollection" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th translate>Creation Date</th>
                                        <th st-sort="name" translate>First Name</th>
                                        <th translate>Last Name</th>
                                        <th translate>Company Name</th>
                                        <th translate>City</th>
                                        <th translate>Number Of Users</th>
                                        <th translate>Active Shipments</th>
                                        <th translate>Status</th>
                                        <th translate>Invoice Payment</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in vm.displayedCollection">
                                        <td>{{row.createdDate}}</td>
                                        <td>{{row.firstName}}</td>
                                        <td>{{row.lastName}}</td>
                                        <td>{{row.corporateName}}</td>
                                        <td>{{row.city}}</td>
                                        <td>{{row.assignedUserCount}}</td>
                                        <td>{{row.activeShipments}}</td>
                                        <td>
                                            <button type="button" class="btn btn-large btn-primary btn-block"
                                                    ng-click="vm.changeCompanyStatus(row)" ng-class="row.status ? 'btn-primary':'btn-danger' ">
                                              {{ (row.status ? 'Active' : 'Inactive') }} 
</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-large btn-primary btn-block" ng-click="vm.changeInvoiceSetting(row)" ng-class="row.isInvoiceEnabled ? 'btn-danger':'btn-primary' ">
                                                {{ (row.isInvoiceEnabled ? 'Disable'  : 'Enable') }} 
</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>

                    </div>
                </div>
                <div id="panel-notif"></div>
            </form>
        </div>
    </div>
</div>
