<div>
    <div class="builder" id="builder1">
        <a class="builder-toggle f-20" ng-click="mgtCustomerCtrl.loadFilterToggle();" href="javascript:void(0)">
            <i class="fa fa-filter" aria-hidden="true"></i></a>
        <div class="inner">
            <div class="row m-0 side-builder-header">
                <h4 class="text-center m-t-0">FILTER CUSTOMERS</h4>
            </div>
            <div class="builder-container">

                <!--<div class="row m-0">
                    <div class="form-group">
                        <label class="form-label">Invoice date</label>
                        <div class="prepend-icon">
                            <input type="text" date-range-picker=""
                                   class="date-picker form-control form-white" name="datepicker" ng-model="invoiceCtrl.datePicker.date" placeholder="{{'Search By: Invoice Date'|translate}}">
                            <i class="icon-calendar"></i>
                        </div>
                    </div>
                </div>
                <h4 class="border-top"></h4>
                <div class="row m-0">
                    <label class="form-label" translate>Status</label>
                    <div class="form-group">

                        <div class="option-group">
                            <select ng-model="invoiceCtrl.invoiceStatus" class="form-control form-white">
                                <option value='All' translate>Status: All</option>
                                <option value='Pending' translate>Pending</option>
                                <option value='Paid' translate>Paid</option>
                                <option value='Disputed' translate>Disputed</option>
                            </select>
                        </div>

                    </div>
                </div>-->
                <hr>
                <a href="javascript:void(0)" ng-click="invoiceCtrl.callServerSearch()" class="btn btn-sm btn-primary f-14 m-l-0 toggle-footer-apply" style="color:#fff">APPLY </a>

                <a href="javascript:void(0)" ng-click="invoiceCtrl.resetSearch()" class="btn btn-sm btn-hidden f-14 toggle-footer-reset" id="reset-style">RESET FILTERS</a>


            </div>
        </div>
    </div>

    <div class="row m-l-0 m-r-0 m-b-10">
        <h2 class="m-t-0 col-sm-9 col-md-9 col-xs-12 p-0 custom-page-header">Customer management</h2>
        <!--<div class="col-sm-1 col-md-1 col-xs-4 p-0" style="display:inline">
            <a href="">
                <div class="round round-lg blue">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
            </a>
        </div>
        <div class="col-sm-1 col-md-1 col-xs-4 p-0" style="display:inline">
            <a href="">
                <div class="round round-lg blue">
                    <span class="glyphicon glyphicon-play-circle"></span>
                </div>
            </a>
        </div>
        <div class="col-sm-1 col-md-1 col-xs-4 p-0" style="display:inline">
            <a href="">
                <div class="round round-lg blue">
                    <span class="glyphicon glyphicon-globe"></span>
                </div>
            </a>
        </div>-->
    </div>
    <div class="row m-0">
        <div class="col-sm-4 col-md-4 col-xs-12 input-group pull-left">
            <input type="text" class="form-control form-white custom-search2"
                   placeholder="{{'Search'|translate}}" />

            <span class="input-group-btn p-0">
                <button type="button" class="btn btn-primary"
                        style="border-top-right-radius: 18px;border-bottom-right-radius: 18px">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <div class="col-sm-8 col-md-8 col-xs-12 p-0 btn-wrapper">
            <button type="button" style="width:auto;" class="btn btn-primary m-r-0" href="#saveAddress/0" translate>
                <i class="fa fa-plus-circle m-r-5 m-t-5 f-16"></i>New customer
            </button>
        </div>
    </div>

    <div class="panel">
        <div class="panel-content panel-border">
                    <form role="form" name="">
                        <div class="row m-0">
                            <div class="col-sm-12 p-0" ng-class="mgtCustomerCtrl.rightPaneLoad == true ? 'manageuser-table-halfwidth' : 'manageuser-table-fullwidth'" style="overflow-x:auto">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>date</th>
                                            <th>Name</th>
                                            <th>company</th>
                                            <th>shipments</th>
                                            <th>edit</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#</td>
                                            <td>Mark</td>
                                            <td>Manager</td>
                                            <td>3</td>
                                            <td>
                                                <button ng-click="mgtCustomerCtrl.manageUsers()"
                                                        class="btn btn-sm btn-primary btn-transparent">
                                                    <i class="icon-note"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <label class="switch switch-green">
                                                    <input class="switch-input" checked="" type="checkbox">
                                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </td>
                                        </tr>

                                    </tbody>
                                    <!--<tfoot>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="20"></div>
                                            </td>
                                        </tr>
                                    </tfoot>-->
                                </table>
                            </div>

                            <div class="col-sm-4 manageuser-rightpane" ng-show="mgtCustomerCtrl.rightPaneLoad == true" ng-include="'userManagement/saveUserManagement.html'"></div>

                        </div>

                    </form>
              
                <div id="panel-notif"></div>
            
        </div>
    </div>
</div>
