<div class="modal fade" id="modal-searchShipments" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-10">
            <div class="modal-body">
                <form role="form" name="formShipmentSearch">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="form-group input-group">

                                <input type="text" placeholder="{{'Tracking Number/ Shipment Id'|translate}}"
                                       class="form-control ng-pristine ng-untouched ng-valid"
                                       name="shipmentNumber" ng-model="shipSearchCtrl.shipmentNumber">

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-large btn-primary no-margin"
                                            ng-click="shipSearchCtrl.loadShipmentsBySearch()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <label class="label-danger" ng-show="shipSearchCtrl.noShipments" style="color:white" translate>  
                                No shipments available for the selected company/ customer</label>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <table st-table="shipmentList" st-safe-src="shipSearchCtrl.rowCollection" class="table table-hover">
                            <thead>
                                <tr>
                                    <th st-sort="name" translate>Order Submitted</th>
                                    <th translate>Tracking Number</th>
                                    <th translate>Shipment ID</th>
                                    <th translate>Carrier</th>
                                    <th translate>Origin City</th>
                                    <th translate>Destination City</th>
                                    <th translate>Status</th>
                                    <th translate>View</th>
                                    <th translate>Edit</th>
                                    <th translate>Delete</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr ng-repeat="row in shipmentList">
                                    <td>{{row.generalInformation.createdDate}}</td>
                                    <td>{{row.generalInformation.trackingNumber}}</td>
                                    <td>{{row.generalInformation.shipmentCode}}</td>
                                    <td>{{row.carrierInformation.carrierName}}</td>
                                    <td>{{row.addressInformation.consigner.city}}</td>
                                    <td>{{row.addressInformation.consignee.city}}</td>

                                    <td>
                                        <div class="option-group">
                                            <select id="salutation" name="salutation" class="salutation form-control" ng-model="row.generalInformation.status" ng-change="shipSearchCtrl.updateShipmentStatus(row)">
                                                <option value="Error" translate>Error</option>
                                                <option value="Pending" translate>Pending</option>
                                                <option value="BookingConfirmation" translate>Booking Confirmation</option>
                                                <option value="Pickup" translate>Pickup</option>
                                                <option value="Transit" translate>Transit</option>
                                                <option value="OutForDelivery" translate>Out For Delivery</option>
                                                <option value="Delivered" translate>Delivered</option>
                                                <option value="Deleted" translate>Deleted</option>
                                                <option value="Exception" translate>Exception</option>
                                                <option value="Claim" translate>Claim</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#/ShipmentOverview/?SHIPMENT_CODE={{row.generalInformation.shipmentCode}}&TRACKING_NO={{row.generalInformation.trackingNumber}}&CARRIER={{row.carrierInformation.carrierName}}&CREATED_ON={{row.generalInformation.createdDate}}"
                                           class="edit btn btn-sm btn-default">
                                            <i class="fa fa-hand-o-right" style="color:blue"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a ng-show="row.generalInformation.isEnableEdit" href="#/addShipment/{{row.generalInformation.shipmentId}}"
                                           class="edit btn btn-sm btn-default">
                                            <i class="icon-note" style="color:blue"></i>
                                        </a>
                                    </td>

                                    <td>
                                        <a ng-show="row.generalInformation.isEnableDelete" ng-click="shipSearchCtrl.deleteById(row)"
                                           class="delete btn btn-sm btn-danger" href="javascript:;">
                                            <i class="icons-office-52"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>




<!--<div ng-controller="shipmentSearchCtrl as shipSearchCtrl">

    <form role="form" name="formShipmentSearch">
        <div class="row">
            <div class="col-sm-6 p-l-0">
                <div class="form-group input-group">

                    <input type="text" placeholder="{{'Tracking Number/ Shipment Id'|translate}}"
                           class="form-control ng-pristine ng-untouched ng-valid"
                           name="shipmentNumber" ng-model="shipSearchCtrl.shipmentNumber">

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-large btn-primary no-margin"
                                ng-click="shipSearchCtrl.loadShipmentsBySearch()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-2 form-group p-0">
                <label class="label-danger" ng-show="shipSearchCtrl.noShipments" style="color:white" translate>  No shipments available for the selected company/ customer</label>
            </div>
        </div>
        <div class="row">
            <table st-table="shipmentList" st-safe-src="shipSearchCtrl.rowCollection" class="table table-striped ship-mgt">
                <thead>
                    <tr>
                        <th st-sort="name" translate>Order Submitted</th>
                        <th translate>Tracking Number</th>
                        <th translate>Shipment ID</th>
                        <th translate>Carrier</th>
                        <th translate>Origin City</th>
                        <th translate>Destination City</th>
                        <th translate>Status</th>
                        <th translate>View</th>
                        <th translate>Edit</th>
                        <th translate>Delete</th>
                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="row in shipmentList">
                        <td>{{row.generalInformation.createdDate}}</td>
                        <td>{{row.generalInformation.trackingNumber}}</td>
                        <td>{{row.generalInformation.shipmentCode}}</td>
                        <td>{{row.carrierInformation.carrierName}}</td>
                        <td>{{row.addressInformation.consigner.city}}</td>
                        <td>{{row.addressInformation.consignee.city}}</td>

                        <td>
                            <div class="option-group">
                                <select id="salutation" name="salutation" class="salutation form-control" ng-model="row.generalInformation.status" ng-change="shipSearchCtrl.updateShipmentStatus(row)">
                                    <option value="Error" translate>Error</option>
                                    <option value="Pending" translate>Pending</option>
                                    <option value="BookingConfirmation" translate>Booking Confirmation</option>
                                    <option value="Pickup" translate>Pickup</option>
                                    <option value="Transit" translate>Transit</option>
                                    <option value="OutForDelivery" translate>Out For Delivery</option>
                                    <option value="Delivered" translate>Delivered</option>
                                    <option value="Deleted" translate>Deleted</option>
                                    <option value="Exception" translate>Exception</option>
                                    <option value="Claim" translate>Claim</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <a href="#/ShipmentOverview/?SHIPMENT_CODE={{row.generalInformation.shipmentCode}}&TRACKING_NO={{row.generalInformation.trackingNumber}}&CARRIER={{row.carrierInformation.carrierName}}&CREATED_ON={{row.generalInformation.createdDate}}"
                               class="edit btn btn-sm btn-default">
                                <i class="fa fa-hand-o-right" style="color:blue"></i>
                            </a>
                        </td>
                        <td>
                            <a ng-show="row.generalInformation.isEnableEdit" href="#/addShipment/{{row.generalInformation.shipmentId}}"
                               class="edit btn btn-sm btn-default">
                                <i class="icon-note" style="color:blue"></i>
                            </a>
                        </td>

                        <td>
                            <a ng-show="row.generalInformation.isEnableDelete" ng-click="shipSearchCtrl.deleteById(row)"
                               class="delete btn btn-sm btn-danger" href="javascript:;">
                                <i class="icons-office-52"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
   
</div>-->
