<?xml version="1.0"?>

<appSettings>
  <add key="AccountUserName" value="parcelinternational" />
  <add key="AccountPassword" value="1qaz2wsx@" />

  <add key="BaseWebURL" value="https://web.transportal.it/" />

  <add key="ServiceURL" value="https://service.transportal.it/" />

  <add key="SISWebURLUS" value="http://www2.shipitsmarter.com/taleus/" />

  <add key="SISWebURLNL" value="http://www2.shipitsmarter.com/tale/" />

  <add key="PIBlobStorage" value="https://pidocuments.blob.core.windows.net:443/piblobstorage/" />

  <add key="BlobStorageKey" value="DefaultEndpointsProtocol=https;AccountName=pidocuments;AccountKey=6NaiQmUiUKwiWafuzYMeVv9i3TEREe81DTKTUCRmkh5dUp7QVtW/kQ9cAlVJeQhFiLD8zcTPdgpQbBhCNKJ8ag==;BlobEndpoint=https://pidocuments.blob.core.windows.net/;TableEndpoint=https://pidocuments.table.core.windows.net/;QueueEndpoint=https://pidocuments.queue.core.windows.net/;FileEndpoint=https://pidocuments.file.core.windows.net/" />

  <add key="SISUserName" value="info@parcelinternational.com"/>
  <add key="RequestForQuoteEmail" value="support@parcelinternational.com"/>
  <add key="SISPassword" value="Shipper01"/>
  <add key="SISCompanyCodeUS" value="121"/>
  <add key="SISCompanyCodeNL" value="70"/>
  <add key="SISCostCenterUS" value="000001"/>
  <add key="SISCostCenterNL" value="0000002000"/>
  <add key="EasyPostKey" value="5sArd9x0lSB0HOTtYJc4iw"/>
  <add key="FBAppId" value="1785006821723207"/>
  <add key="FBAppSecret" value="e412cf5d029383885dd17df68e30840e"/>
  <add key="googleAppId" value="657439870432-g98gvt35aceavp0ou6vsr3b6372m3cmr.apps.googleusercontent.com"/>
  <add key="googleAppSecret" value="WsjF353NEonbaFZMgTyMJl4h"/>
  <add key="MicrosoftAppId" value="70a1a68c-0c5e-445f-8724-5e433fe463e1"/>
  <add key="MicrosoftAppSecret" value="dmtmssM17b8BNxnSHkOKU3E"/>

  <add key="SquareAccessToken" value="sandbox-sq0atb-m24_A-IqrhzXk1Y8LM2PoA"/>
  <add key="SquareApplicationId" value="sandbox-sq0idp-qp8jQ9A9YX9ydsow8PLjmw"/>

  <add key="IsSendShipmentDebugData" value="false"/>

</appSettings>