<?xml version="1.0"?>

<connectionStrings>
  <add name="PIBookingConnectionString" connectionString="Data Source=tcp:pibookinguat.database.windows.net,1433;Initial Catalog=PIUAT;User ID=piuat;Password=1qaz2wsx@;Encrypt=True;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
</connectionStrings>