<div class="modal fade" id="{{templateModal.id}}" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="accountSetupCtrl as vm" ng-init="vm.loadProfile()" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" >
        <form name="personalDetails" ng-hide="vm.hideaddressDetails">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:2px solid #ddd;">
                    <div class="row">
                        <a class="m-l-60">Personal Details</a><i class="glyphicon glyphicon-chevron-right modal-navigator"></i>
                        <label class="modal-nav-right">Address Details</label>
                    </div>
                </div>
                <div class="modal-body p-t-0 p-b-0">
                    <div class="row m-b-15">
                        <h2 class="text-center"><strong>Welcome to Parcel International </strong></h2>
                        <h5 class="text-center"><strong>Please fill in the following information to get started with Account Settings!</strong></h5>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="option-group">
                                    <select required class="form-control ng-pristine ng-touched ng-valid ng-valid-required" name="salutation"
                                            ng-model="vm.model.customerDetails.salutation">
                                        <option translate value="Mr" >Mr</option>
                                        <option translate value="Mrs">Mrs</option>
                                        <option translate value="Ms">Ms</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="append-icon">
                                    <input type="text" ng-cloak name="firstname" class="form-control" minlength="3" placeholder="First Name *" required ng-model="vm.model.customerDetails.firstName"
                                           ng-class="{ 'error': personalDetails.firstname.$invalid &&
                                                       (personalDetails.firstname.$dirty||vm.isSubmit1) }" ng-focus="firstnameFocus = true" ng-blur="firstnameFocus = false">

                                </div>
                                <div ng-messages="personalDetails.firstname.$error" ng-show="(personalDetails.firstname.$dirty && !firstnameFocus) || vm.isSubmit1">
                                    <label ng-message="required" class="error" for="firstname" translate>Enter your first name</label>
                                    <label ng-message="minlength" class="error" for="firstname" translate>Enter at least 3 characters or more</label>
                                    <label ng-message="maxlength" class="error" for="firstname" translate>Enter less than 100 characters</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="append-icon">
                                    <input type="text" name="lastname" class="form-control" minlength="3" placeholder="Last Name *" required ng-model="vm.model.customerDetails.lastName"
                                           ng-class="{ 'error': personalDetails.lastname.$invalid &&
                                                       (personalDetails.lastname.$dirty||vm.isSubmit1) }" ng-focus="lastnameFocus = true" ng-blur="lastnameFocus = false">
                                </div>
                                <div ng-messages="personalDetails.lastname.$error" ng-show="(personalDetails.lastname.$dirty && !lastnameFocus) || vm.isSubmit1">
                                    <label ng-message="required" class="error" for="lastname" translate>Enter your last name</label>
                                    <label ng-message="minlength" class="error" for="lastname" translate>Enter at least 3 characters or more</label>
                                    <label ng-message="maxlength" class="error" for="lastname" translate>Enter less than 100 characters</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="append-icon">
                                    <input type="text" name="phonenumber" class="form-control" ng-maxlength="20" placeholder="Phone Number *" valid-phone-no ng-model="vm.model.customerDetails.phoneNumber" required
                                           ng-class="{ 'error': personalDetails.phonenumber.$invalid && (personalDetails.phonenumber.$dirty||vm.isSubmit1) }" ng-focus="phonenumberFocus = true" ng-blur="phonenumberFocus = false">

                                </div>
                                <div ng-messages="personalDetails.phonenumber.$error" ng-show="(personalDetails.phonenumber.$dirty && !phonenumberFocus) || vm.isSubmit1">
                                    <label ng-message="required" class="error" for="phonenumber" translate>Enter Phone Number</label>
                                    <label ng-message="notValidPhoneNo" class="error" for="phonenumber" translate>Enter valid phone number</label>
                                    <label ng-message="maxlength" class="error" for="phonenumber" translate>Enter less than 20 characters</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="skin skin-minimal">
                                <div class="form-body">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="icheck-inline">
                                                <label><input type="radio" name="iscorporate" ng-model="vm.model.customerDetails.isCorporateAccount" value="false"><translate> Individual Account</translate></label>
                                                <label><input type="radio" name="iscorporate" ng-model="vm.model.customerDetails.isCorporateAccount" value="true"><translate> Corporate Account </translate></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button  class="btn btn-primary btn-embossed bnt-square" ng-click="(personalDetails.$valid ? vm.saveGeneralDetails():vm.isSubmit1=true)"> Next</button>
                </div>
            </div>
        </form>

        <form name="addressDetails">
            <div class="modal-content" ng-show="vm.hideaddressDetails">
                <div class="modal-header" style="border-bottom:2px solid #ddd;">
                    <div class="row">
                        <label class="m-l-60">Personal Details</label><i class="glyphicon glyphicon-chevron-right modal-navigator"></i>
                        <a class="modal-nav-right">Address Details</a>
                    </div>
                </div>

                <div class="modal-body p-t-0 p-b-0 m-t-10" style="padding-left:60px;padding-right:60px">
                    <div class="row" ng-show="vm.toCorporate">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="append-icon">
                                    <input type="text" name="companyName" class="form-control"  placeholder="Company Name *" ng-required="vm.toCorporate" ng-model="vm.model.companyDetails.name"
                                           ng-class="{ 'error': addressDetails.lastname.$invalid &&
                                                       (addressDetails.lastname.$dirty||vm.isSubmit2) }" ng-focus="companyNameFocus = true" ng-blur="companyNameFocus = false">

                                </div>
                                <div ng-messages="addressDetails.companyName.$error" ng-show="(addressDetails.companyName.$dirty && !companyNameFocus) || vm.isSubmit2">
                                    <label ng-message="required" class="error" for="companyName" translate>Enter your company name</label>
                                    <label ng-message="maxlength" class="error" for="companyName" translate>Enter less than 100 characters</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-show="vm.toCorporate">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="append-icon">
                                    <input type="text" name="companyCode" class="form-control" placeholder="Company Register Number" ng-model="vm.model.companyDetails.companycode"
                                           ng-class="{ 'error': addressDetails.companyCode.$invalid &&
                                                       (addressDetails.companyCode.$dirty||vm.isSubmit2) }" ng-focus="companyCodeFocus = true" ng-blur="companyCodeFocus = false">

                                </div>
                                <div ng-messages="addressDetails.companyCode.$error" ng-show="(addressDetails.companyCode.$dirty && !companyCodeFocus) || vm.isSubmit2">
                                    <label ng-message="maxlength" class="error" for="companyCode" translate>Enter less than 100 characters</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group input-group m-0">

                                <input name="postalCode" type="text" class="form-control" ng-model="vm.model.customerDetails.customerAddress.zipCode" required
                                       placeholder="Zip/Postal Code *"
                                       ng-class="{ 'error': addressDetails.postalCode.$invalid &&
                                                       (addressDetails.postalCode.$dirty||vm.isSubmit2) }" ng-focus="postalCodeFocus = true" ng-blur="postalCodeFocus = false"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-large btn-primary no-margin" ng-click="vm.getAddressInformation()">
                                        LookUp
                                    </button>
                                </span>
                            </div>
                            <div ng-messages="addressDetails.postalCode.$error" ng-show="(addressDetails.postalCode.$dirty && !postalCodeFocus) || vm.isSubmit2">
                                <label ng-message="required" class="error" for="postalCode" translate>Enter Postal Code</label>
                                <label ng-message="maxlength" class="error" for="postalCode" translate>Enter less than 100 characters</label>
                            </div>
                            <label class="error" ng-show="vm.errorCode">Invalid PostalCode</label>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="append-icon">
                                    <input type="text" name="street" class="form-control" placeholder="Street *" required ng-model="vm.model.customerDetails.customerAddress.streetAddress1"
                                           ng-class="{ 'error': addressDetails.street.$invalid &&
                                                       (addressDetails.street.$dirty||vm.isSubmit2) }" ng-focus="streetFocus = true" ng-blur="streetFocus = false">

                                </div>
                                <div ng-messages="addressDetails.street.$error" ng-show="(addressDetails.street.$dirty && !streetFocus) || vm.isSubmit2">
                                    <label ng-message="required" class="error" for="street" translate>Enter Street Name</label>
                                    <label ng-message="maxlength" class="error" for="street" translate>Enter less than 100 characters</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="append-icon">
                                    <input type="text" name="number" class="form-control" placeholder="Number *" required ng-model="vm.model.customerDetails.customerAddress.number"
                                           ng-class="{ 'error': addressDetails.number.$invalid &&
                                                       (addressDetails.number.$dirty||vm.isSubmit2) }" ng-focus="numberFocus = true" ng-blur="numberFocus = false">
                                </div>
                                <div ng-messages="addressDetails.number.$error" ng-show="(addressDetails.number.$dirty && !numberFocus) || vm.isSubmit2">
                                    <label ng-message="required" class="error" for="number" translate>Enter Street Number</label>
                                    <label ng-message="maxlength" class="error" for="number" translate>Enter less than 100 characters</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="append-icon">
                                    <input type="text" name="additionalDetails" class="form-control" placeholder="Additional Address Information" ng-model="vm.model.customerDetails.customerAddress.streetAddress2"
                                           ng-class="{ 'error': addressDetails.additionalDetails.$invalid &&
                                                       (addressDetails.additionalDetails.$dirty||vm.isSubmit2) }" ng-focus="additionalDetailsFocus = true" ng-blur="additionalDetailsFocus = false">

                                </div>
                                <div ng-messages="addressDetails.additionalDetails.$error" ng-show="(addressDetails.additionalDetails.$dirty && !additionalDetailsFocus) || vm.isSubmit2">
                                    <label ng-message="maxlength" class="street" for="street" translate>Enter less than 100 characters</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="append-icon">
                                    <input type="text" name="city" class="form-control" placeholder="City *" required ng-model="vm.model.customerDetails.customerAddress.city"
                                           ng-class="{ 'error': addressDetails.city.$invalid &&
                                                       (addressDetails.city.$dirty||vm.isSubmit2) }" ng-focus="cityFocus = true" ng-blur="cityFocus = false">
                                </div>
                                <div ng-messages="addressDetails.city.$error" ng-show="(addressDetails.city.$dirty && !cityFocus) || vm.isSubmit2">
                                    <label ng-message="required" class="error" for="street" translate>Enter City</label>
                                    <label ng-message="maxlength" class="error" for="street" translate>Enter less than 100 characters</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="append-icon">
                                    <input type="text" name="statecode" class="form-control" placeholder="{{'State Code' | translate}} {{vm.isRequiredState ?'*':''}}" ng-required="vm.isRequiredState" ng-model="vm.model.customerDetails.customerAddress.state"
                                           ng-class="{ 'error': addressDetails.statecode.$invalid &&
                                                       (addressDetails.statecode.$dirty||vm.isSubmit2) }" ng-focus="statecodeFocus = true" ng-blur="statecodeFocus = false">

                                </div>
                                <div ng-messages="addressDetails.statecode.$error" ng-show="(addressDetails.statecode.$dirty && !statecodeFocus) || vm.isSubmit2">
                                    <label ng-message="required" class="error" for="street" translate>Enter State Code</label>
                                    <label ng-message="maxlength" class="error" for="street" translate>Enter less than 100 characters</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="option-group">
                                    <!--<country-select id="country" name="country"
                                                    class="form-control" ng-required="true"></country-select>-->

                                    <country-select id="country" name="country"
                                                    ng-model="vm.model.customerDetails.customerAddress.country" ng-change="vm.changeCountry()"
                                                    class="form-control"></country-select>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="vm.toCorporate">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">
                                    <input type="checkbox" name="" data-checkbox="icheckbox_square-blue" ng-model="vm.useCorpAddressAsBilling">
                                    <translate>Use corporate address as billing address</translate>
                                </label>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-embossed bnt-square pull-left" type="button" ng-click="vm.clickPrevious()">Previous</button>
                    <button class="btn btn-primary btn-embossed bnt-square" type="button"  ng-click="(addressDetails.$valid ? vm.saveAddressDetails():vm.isSubmit2=true)">Save</button>
                </div>

            </div>
        </form>

    </div>
</div>