<div ng-controller="loadDivisionsCtrl">
    <h2 class="box-title"> <translate>Manage Divisions</translate>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#saveDivision/0" class="btn btn-primary btn-primary active pull-right" 
       style="width:auto" role="button"><translate> Add Division</translate></a>
</h2>

    <div class="panel">
        <!-- form start -->
        <!-- Main content -->
        <form class="form-horizontal" name="loadDivisionForm">
            <!-- /.box-header -->

            <div class="panel-header">
                <!-- left column -->
                <div class="panel-content panel-border">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="form-group input-group">
                                        <input ng-model="searchText" name="searchText" type="text" class="form-control"
                                               placeholder="{{'Search by Division Name' | translate}}" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-large btn-primary" ng-click="searchDivisions()">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-sm-1">
                                    <div class="form-group">
                                        <label class="control-label" translate>Filter by  </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class="option-group">
                                            <select id="costcenter"
                                                    convert-to-number ng-options="costcenter.id as costcenter.name for costcenter in costCenters"
                                                    name="costcenter" class="defaultcurrency form-control ng-pristine ng-valid ng-touched" ng-model="costcenter"
                                                    ng-change="selectDivisionforCostCenter()">
                                                <option value="" translate>Costcenter: All </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div class="option-group">
                                            <select id="costcenters" name="costcenters" class="costcenters form-control ng-pristine ng-valid ng-touched"
                                                    ng-model="status" ng-change="selectActiveDivisions()">
                                                <option value="" translate> Status: All </option>
                                                <option value="True" translate>Active</option>
                                                <option value="False" translate>Inactive</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                    </div>

                    <div class="divisionTable">

                        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                            <thead>
                                <tr>
                                    <th st-sort="name" translate>Division</th>
                                    <th translate>Assigned Cost Centers</th>
                                    <th translate>Number Of Users</th>
                                    <th translate>Status</th>
                                    <th translate>Edit</th>
                                    <th translate>Delete</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr ng-repeat="row in displayedCollection">
                                    <td>{{row.name}}</td>
                                    <td><span ng-bind-html="renderHtml(row.assosiatedCostCentersForGrid)"></span></td>
                                    <td>{{row.numberOfUsers}}</td>
                                    <td>{{row.statusString}}</td>
                                    <td><a href="#/saveDivision/{{row.id}}" class="edit btn btn-sm btn-default" ><i class="icon-note"></i></a></td>
                                    <td><a ng-click="deleteById(row)" class="delete btn btn-sm btn-danger" href="javascript:;"><i class="icons-office-52"></i></a></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div> 
            </div>
        </form>
    </div>


</div>
