
<body>

   
    <div>
        <p> Parcel Intenational</p> <br />
        <p> 1900 Addison Street</p> <br />
        <p> STE. 200</p> <br />
        <p> CA US</p> <br />
        <p> (510) 281-7554</p> <br />
        <p> support@parcelinternational.com</p> <br />
        <p> www.parcelinternational.com</p> <br />

    </div>

    <h2> INVOICE</h2>

    <div style="float:left">
        <p>BILL TO</p>
        <p>#BillingName#</p>
        <p>#BillingAddress1#</p>
        <p>#BillingAddress2#</p>
        <p>#BillingCity#, #BillingState# #BillingZip#</p>
        <p>#BillingCountry#</p>
    </div>

    <div style="float:right">
        <p>INVOICE # #invoicenumber#</p>
        <p>DATE #invoicedate#</p>
        <p>DUE DATE #duedate#</p>
        <p>TERMS #terms#</p>
    </div>

    <div>

        <table style="width:100%">
            <tr>
                <th>ACTIVITY</th>
                <th>QTY</th>
                <th>RATE</th>
                <th>AMOUNT</th>
            </tr>
            <tr>
                <td>
                    <p>DHL</p>
                    <label>AWB#:</label><p>9611467670</p><br />
                    <label>Reference:</label><p>9611467670</p><br />
                    <label>Origin:</label><p>9611467670</p><br />
                    <label>Destination:</label><p>9611467670</p><br />
                    <label>Weight:</label><p>9611467670</p><br />
                    <label>Date:</label><p>9611467670</p><br />

                </td>
                <td>1</td>
                <td>100.8</td>
                <td>100.8</td>
            </tr>
            <tr>
                <td>
                    <label>SERVICES</label>
                    <label>Paypal fee</label><p>(4.5%)</p><br />
                </td>
                <td>1</td>
                <td>4.5</td>
                <td>4.5</td>
            </tr>
        </table>
        <hr>
    </div>

    <label style="float:left">BALANCE DUE</label>
    <p style="float:right">$104.58</p>
    <div>
        <label>Bank Account number:</label><p>#accountnumber#</p><br />
        <label>Wire Transfers:</label>
        <label>- Domestic wires:</label>   <p>#domesticwires#</p><br />
        <label>- International wires:</label>   <p>#internationalwires#</p><br />
        <p>
            To pay this invoice online: click the link in this email or send us a<br?>
                request to use Paypal.<br />
                Checks can be mailed to our office address.
        </p>

    </div>
</body>

