<dikv ng-controller="saveCostCenterCtrl as vm">
    <h2 class="box-title" ng-hide="vm.model.id > 0"> Add Cost Center &nbsp;&nbsp;&nbsp;&nbsp;<a href="#loadCostcenters" class="btn btn-primary active pull-right" role="button">Manage Cost Centers</a></h2>
    <h2 class="box-title" ng-show="vm.model.id > 0"> Edit Cost Center &nbsp;&nbsp;&nbsp;&nbsp;<a href="#loadCostcenters" class="btn btn-primary active pull-right" role="button">Manage Cost Centers</a></h2>

    <div class="panel">
        <!-- form start -->
        <!-- Main content -->
        <form class="form-horizontal" name="saveCostCenterForm" novalidate>
            <!-- /.box-header -->
            <div class="panel-header">
                <div class="row">
                    <!-- left column -->
                    <div class="col-xs-12">
                        <div class="box-body">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <span style="font-style:italic">  * Indicates mandatory fields.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Cost Center Name *</label>
                                <div class="col-sm-10">
                                    <input ng-model="vm.model.name" type="text" class="form-control" name="costcenterName" ng-required="true" />
                                    <div ng-messages="saveCostCenterForm.costcenterName.$error"
                                         ng-show="saveCostCenterForm.costcenterName.$dirty || vm.isSubmit">
                                        <label ng-message="required" class="error" for="costcenterName">Cost Center Name is required</label>
                                        <label ng-message="maxlength" class="error" for="costcenterName">Max length should be 200 characters</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Cost Center Description</label>
                                <div class="col-sm-10">
                                    <input ng-model="vm.model.description" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phone Number *</label>
                                <div class="col-sm-10">
                                    <input ng-model="vm.model.phoneNumber" type="text" class="form-control" name="phoneNumber" ng-required="true" />
                                    <div ng-messages="saveCostCenterForm.phoneNumber.$error"
                                         ng-show="saveCostCenterForm.phoneNumber.$dirty || vm.isSubmit" >
                                        <label ng-message="required" class="error" for="phoneNumber">Phone Number is required</label>
                                        <!--<label ng-message="maxlength" class="error" for="phoneNumber">Max length should be 200 characters</label>-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Billing Address</label>
                                <div class="col-sm-10">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Country *</label>
                                <div class="col-sm-10">
                                    <country-select id="countyCost" name="countyCost"
                                                    ng-model="vm.model.billingAddress.country" ng-change="vm.changeCountry()"
                                                    class="form-control" ng-required="true"></country-select>

                                    <div ng-messages="saveCostCenterForm.countyCost.$error"
                                         ng-show="saveCostCenterForm.countyCost.$dirty || vm.isSubmit">
                                        <label ng-message="required" class="error" for="countyCost">Country is required</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Zip Code * </label>
                                <div class="col-sm-10">
                                    <input ng-model="vm.model.billingAddress.zipCode" type="text" class="form-control" ng-required="true"
                                           name="zipCode" />
                                    <div ng-messages="saveCostCenterForm.zipCode.$error"
                                         ng-show="saveCostCenterForm.zipCode.$dirty || vm.isSubmit">
                                        <label ng-message="required" class="error" for="zipCode">Zip Code is required</label>
                                        <label ng-message="maxlength" class="error" for="zipCode">Max length should be 10 characters</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Street Name * </label>

                                <div class="col-sm-10">

                                    <input ng-model="vm.model.billingAddress.number" type="text" class="form-control" name="number"
                                           ng-required="true" placeholder="Number *" />
                                    <div ng-messages="saveCostCenterForm.number.$error"
                                         ng-show="saveCostCenterForm.number.$dirty || vm.isSubmit">
                                        <label ng-message="required" class="error" for="number">Number is required</label>
                                        <label ng-message="maxlength" class="error" for="number">Max length should be 20 characters</label>
                                    </div>
                                    
                                    <div class="col-sm-10" style="margin-top:5px;">
                                        <input ng-model="vm.model.billingAddress.streetAddress1" type="text" class="form-control" name="streetAddress1"
                                               ng-required="true" placeholder="Street Address 1 *" />

                                        <div ng-messages="saveCostCenterForm.streetAddress1.$error"
                                             ng-show="saveCostCenterForm.streetAddress1.$dirty  || vm.isSubmit">
                                            <label ng-message="required" class="error" for="streetAddress1">Street Address 1 is required</label>
                                            <label ng-message="maxlength" class="error" for="streetAddress1">Max length should be 500 characters</label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-10" style="margin-top:5px;">
                                        <input ng-model="vm.model.billingAddress.streetAddress2" type="text" class="form-control"
                                               placeholder="Street Address 2" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">City * </label>
                                <div class="col-sm-10">
                                    <input ng-model="vm.model.billingAddress.city" type="text" class="form-control" ng-required="true" name="cityCost" />
                                    <div ng-messages="saveCostCenterForm.cityCost.$error"
                                         ng-show="saveCostCenterForm.cityCost.$dirty  || vm.isSubmit">
                                        <label ng-message="required" class="error" for="cityCost">City is required</label>
                                        <label ng-message="maxlength" class="error" for="cityCost">Max length should be 200 characters</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">State {{vm.isRequiredState? "*" : "" }} </label>
                                <div class="col-sm-10">
                                    <input ng-model="vm.model.billingAddress.state" name="stateCost" type="text" class="form-control"
                                           ng-required="vm.isRequiredState" />
                                    <div ng-messages="saveCostCenterForm.stateCost.$error"
                                         ng-show="saveCostCenterForm.stateCost.$dirty  || vm.isSubmit">
                                        <label ng-message="required" class="error" for="stateCost">State is required</label>
                                        <label ng-message="maxlength" class="error" for="stateCost">Max length should be 200 characters</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-show="vm.model.allDivisions.length > 0">
                                <label class="col-sm-2 control-label">Assigned Divisions </label>

                                <div class="col-sm-10">
                                    <div ng-repeat="division in vm.model.allDivisions">
                                        <input type="checkbox" id="{{division.id}}" ng-model="division.isAssignedToCurrentCostCenter"
                                               ng-click="vm.toggleDivisionSelection(division)" />
                                        <label for="{{division.name}}}">{{division.name}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-10">
                                    <label>
                                        <input name="activeRadio" type="radio" value="1" ng-model="vm.model.status" icheck />
                                        &nbsp; Active
                                    </label> <br />
                                    <label>
                                        <input name="inactiveRadio" type="radio" value="2" ng-model="vm.model.status" icheck />
                                        &nbsp; Inactive
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button ng-click="vm.close()" class="btn btn-app pull-right">
                                    <i class="fa fa-close"></i> Close
                                </button>
                                <button type="submit" ng-click="(saveCostCenterForm.$valid ? vm.saveCostCenter() : vm.isSubmit = true)"
                                        class="btn btn-app pull-right">
                                    <i class="fa fa-save"></i> Save
                                </button>
                            </div>
                            <div id="panel-notif"></div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
     
</dikv>
