<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>


 <appSettings>
  <add key="AccountUserName" value="parcelinternational" />
  <add key="AccountPassword" value="1qaz2wsx@" />

  <add key="BaseWebURL" value="http://localhost:49995/" />
  <!--<add key="BaseWebURL" value="http://pibookingservice.azurewebsites.net/"/>-->
  <!--FOR QA-->
  <!--  <add key="BaseWebURL" value="http://piwebqa.azurewebsites.net/"  />-->
  <!--  <add key="BaseWebURL" value="http://piwebuat.azurewebsites.net/"  />  -->
  <!--<add key="BaseWebURL" value="http://book.parcelinternational.com/" />-->
  <!--FOR PROD-->

  <add key="ServiceURL" value="https://localhost:44339/" />
  <!--<add key="ServiceURL" value="http://pibooking.azurewebsites.net/"/>-->
  <!--This is not using anymore for QA-->
  <!--<add key="ServiceURL" value="http://piserviceqa.azurewebsites.net/" />-->
  <!--FOR QA-->
  <!--<add key="ServiceURL" value="https://service.transportal.it/" />-->
  <!-- <add key="ServiceURL" value="http://piserviceuat.azurewebsites.net/" />-->
  <!--<add key="ServiceURL" value="http://piserviceprod.azurewebsites.net/" />-->
  <!--FOR PROD-->

  <add key="SISWebURLUS" value="http://www2.shipitsmarter.com/taleus/" />
  <!--FOR Dev/QA-->
  <!--<add key="SISWebURLUS" value="http://book.parcelinternational.nl/taleus/"/>-->
  <!--FOR PROD-->

  <add key="SISWebURLNL" value="http://www2.shipitsmarter.com/tale/" />
  <!--FOR Dev/QA-->
  <!--<add key="SISWebURLNL" value="http://book.parcelinternational.nl/tale/"/>-->
  <!--FOR PROD-->

  <add key="PIBlobStorage" value="https://pidocuments.blob.core.windows.net:443/piblobstorage/" />
  <!--FOR QA-->
  <!--<add key="PIBlobStorage" value=" https://piprodstorage.blob.core.windows.net/piblobstorage/" />-->
  <!--FOR PROD-->

  <add key="SISUserName" value="info@parcelinternational.com" />
  <add key="RequestForQuoteEmail" value="support@parcelinternational.com" />
  <add key="SISPassword" value="Shipper01" />
  <add key="SISCompanyCodeUS" value="121" />
  <add key="SISCompanyCodeNL" value="70" />
  <add key="SISCostCenterUS" value="000001" />
  <add key="SISCostCenterNL" value="0000002000" />

  <add key="PayLaneHashSalt" value="va7tro7w" />
  <add key="PayLaneMerchantId" value="sriparcel" />
  <add key="PayLaneDescription" value="test" />

  <add key="IsSendShipmentDebugData" value="true" />

  </appSettings>
  
  <connectionStrings>
    <add name="PIBookingConnectionString" connectionString="Data Source=MITRAI-DILSHAN\SQLEXPRESS;Initial Catalog=PIBookings;User ID=sa;Password=admin1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>