[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.login-top-message {
    color:white;
}

.login-top-message p{
    border:1px solid white;
}

