/*index.html*/
.sidebar-condensed:not(.sidebar-collapsed) .sidebar .sidebar-inner .nav-sidebar > li > a i {
    	display:none;
}


.form-content {
    display:inline-block;
}

.user-reg .input-group, .user-reg .form-group {
    margin-bottom: 8px;
}

.reg {
    border: 1px solid #E8E8E8;
}
.regheader {
    background-color:#247EB2;
    height:44px;
    color:#fff;
    font-size:20px;
    padding:7px;
}
.reg-contentwrapper {
    padding:4em;
}
.spacer_1px {
    clear:both;
    height:1px;
}

.accType {
    font-weight:normal;
    font-size:16px;
}
.form-psw {
   width:86%;
   float:left; 
}

.append-icon .icon-question {
     font-size: 28px;
}
.glyphicon.glyphicon-circle-arrow-right, .glyphicon.glyphicon-circle-arrow-left {
    font-size: 23px;
   
}
 .nav-parent .children collapse{
    color:white;
    font-size:100px;
}
.children collapse{
    background-color:#0D4773;
}
.sidebar .sidebar-inner .nav-sidebar .children li::before {
    background:#A19F9F;
}
.sidebar .sidebar-inner .nav-sidebar .children::after {
    border-left: 1px solid #A19F9F;
}
.sidebar .sidebar-inner .nav-sidebar .children > li > a {
    font-size:12px;
}
.sidebar {
    top:85px;
}
.sidebar .logopanel {
    height:auto;  
    border-bottom:1px solid #396485; 
    text-align:center;
                
            }
.theme-sdtl.color-default:not(.sidebar-top) .logopanel {
    background-color:#0D4773;
}
.theme-sdtl.color-default .sidebar .sidebar-inner {
     background-color:#0D4773;
}
            .nav-parent {
                border-bottom:1px solid #396485;
            }
    .main-content .page-content .panel {
        margin-bottom:0px;
    }
    .change-head {
        background-color:#8DD8C2;
        min-height:20px;
    }
    #panel-footer1, #panel-footer2, #panel-footer3 {
        background-color:#B1DBFB;
        min-height:5px;
        margin-bottom:1px;
    }
    .icon-check{
        font-size:1.6em;
    }
    
    .main-content .page-content .panel .panel-header {
        padding:0px 0px 5px 0px;
        margin-bottom:0px;
    }
    .select-options{
        padding-left:5px;
        color:#0D4773;
       
    }
    #heading1 {
        color:#000000;
        font-weight:normal;
        margin-top:5px;
    }
    .panel-border {
        border: 1px solid #E8E8E8;
        margin:12px;
 
    }
    .main-content .page-content .panel .panel-header h3 {
        margin-bottom:0px;
    }
    .main-content .page-content .panel-header i {
       
    }
.shipmentmethod {
                                        box-sizing: border-box;
                                        border: 1px solid #319DB5;
                                        border-radius: 5px;
                                        width:148px;
                                        height:65px;
                                        float:left;
                                        margin-right:10px;
                                        margin-bottom:6px;
                                        position: relative;
                                        text-align:center;
                                       padding-bottom:80px;
                                    }
                                    .shipmentmethod:hover {
                                        border: 2px solid #319DB5;
                                         margin-bottom:4px;
                                         
                                    }
                                    .selected {
                                        border: 3px solid #319DB5;
                                    }
                                    #t_express1 {
                                
                                        background: url('/proj_img/shipment_icons.png') -10px 0px;                                     
                                        background-repeat: no-repeat; 
                                    }
                                    #t_express2 {
                                        background: url('/proj_img/shipment_icons.png') -165px 0px;
                                         background-repeat: no-repeat;
                                    }
                                    #t_express3 {
                                        background: url('/proj_img/shipment_icons.png') -310px 0px;
                                         background-repeat: no-repeat;
                                    }
                                    #t_express4 {
                                        background: url('/proj_img/shipment_icons.png') -470px 0px;
                                         background-repeat: no-repeat;
                                    }
                                    #t_express5 {
                                        background: url('/proj_img/shipment_icons.png') -618px 0px;
                                         background-repeat: no-repeat;
                                    }
.btn {
    padding:5px 24px 8px; 
}
.resize-btn {
    width:100%;
}
.width-half {
    width:48% !important;
}
.float-side {
    float:right;
}

.no-margin {
    margin-right:0px !important;
}

.pull-right {
    width:108px;
    height:30px;
}
.float-left {
    float:left;
}
.col-md-6 {
    padding-right:30px;
}
.rem-martop {
    margin-top: 0px;
}
.set-margin {
   margin:0px 10px 0px 10px;
}
.form-horizontal .control-label  {
    top:0px;
}
.label-font {
    font-weight:bold;
    font-size:14px;
}
#product_info tbody tr:first-child .prod_ops_rm a {
    display: none;
}
.label-info {
    background-color:#ADD8E1;
    width:100%;
    min-height:35px;
    padding:5px 0px 0px 5px;
}
    .label-info:hover {
       background-color:#ADD8E1; 
    }
.inc-width {
    width:40%;
}
.lbl-border {
    border:1px solid #ADD8E1;
    border-radius:5px;
    padding:5px 5px;
    display: block; 
    width:100%;
}
.lblborder {
    border: 1px solid #39A1B8;
    font-weight:normal;
    font-size:12px;
    margin-bottom:8px;
    background-color:#ADD8E1;

}


.bs-wizard {margin-top: 0px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 20px 0px 20px;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 11px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #1E6194; top: 24px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #1E6194; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative;height: 18px; box-shadow: none;border-radius:0px; background:#BCBBBB;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #319DB5;position: relative;border-radius:0px;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color:#1E6194;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 8%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

.bs-wizard-dot-small {
    content: ' '; width: 6%; height: 10%; background: #979595; border-radius: 100%; position: absolute; top: 30%; left: 50%;pointer-events: none;
}

.disabled-bar {
    background:#BCBBBB;
}
.des-label {
    background-color:#ADD8E1;
    height:45px;
    border:1px solid #39A1B8;

}
.heading {
    color:#0D4773;
}
.fontclr {
    color:#505051;
}
.bg-label {
    background-color:#fff;
    color:#505051;
    padding:10px 5px 10px 5px;
    width:50%;
}
.bg-label-blue {
    padding:10px 5px 10px 5px;
    width:50%;
    background-color:#ADD8E1;
    float:right;
    word-wrap:break-word;
    display: block;
    
}
@media only screen and (max-width: 500px) {
.txtalign{
   transform: rotate(-40deg);
   line-height:12px;
   }
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    width:26px;
    height:26px;
    margin-top:-13px;
    }
}
.control-label {
    padding-top:10px;
}
@media only screen and (max-width: 50px) {
.icon-align {
    left:111px;    
    }

}