<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Parcel International-User Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="/global/images/favicon.png">
    
    <link href="../../global/css/style.css" rel="stylesheet">
    <link href="../../global/css/ui.css" rel="stylesheet">
    <link href="../../global/plugins/bootstrap-loading/lada.min.css" rel="stylesheet">
    <link href="../../css/custom-general.css" rel="stylesheet" />
</head>
<body class="account separate-inputs" data-page="login" ng-app="userLogin" ng-controller="userLoginCtrl as userLog" ng-cloak>
    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block">
        <div id="panel-notif"></div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <div class="login-user">
                        <img src="/global/images/logo/PI-logo-login-sm.png">
                    </div>

                    <div class="clearfix login-top-message" ng-show="userLog.isEmailConfirm">
                        <p class="pull-left m-t-20">{{userLog.emailConfirmationMessage}}</p>
                    </div>

                    <form ng-cloak class="form-signin" role="form" ng-submit="userLog.login(user)" name="loginForm">

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <div class="form-group">
                                    <div class="prepend-icon">
                                        <input ng-cloak type="email" name="username" id="username" class="form-control form-ash" placeholder="{{'Email'|translate}}" required ng-model="user.username" ng-class="{ 'has-error' :loginForm.username.$error.required && loginForm.username.$dirty}" autocomplete="off">
                                        <i class="icon-user"></i>
                                        <label ng-show="loginForm.username.$error.required && loginForm.username.$dirty" class="error" translate>Email is required.</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12">
                                <div class="form-group">
                                    <div class="prepend-icon">
                                        <input ng-cloak type="password" name="password" class="form-control form-ash" placeholder="{{'Password'|translate}}" required ng-model="user.password" ng-class="{ 'has-error' :loginForm.password.$error.required && loginForm.password.$dirty}">
                                        <i class="icon-lock" aria-hidden="true"></i>
                                        <label ng-show="loginForm.password.$error.required && loginForm.password.$dirty" class="error" translate>Password is required.</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row">
                            <div class="col-sm-12">
                                <div class="terms option-group">
                                    <label for="terms" style="color:white">
                                        <input type="checkbox" name="rememberme" ng-model="userLog.rememberme" icheck />
                                        <translate>Keep me logged in</translate>
                                    </label>
                                </div>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 text-center">
                                <button class="btn btn-primary" type="submit" id="submit-form">Sign in</button>
                            </div>
                        </div>

                        <p class="text-center m-b-30"><a id="password" href="#" translate>Forgot Password?</a></p>

                        <hr class="m-b-5">

                        <div class="clearfix">
                            <p class="text-center"><a href="../userRegistration/userRegistration.html"><translate>New here? Sign up</translate></a></p>
                        </div>


                        <div class="row text-center">
                            <button class="btn btn-sm btn-icon btn-rounded btn-social" type="button" data-ng-click="authExternalProvider('Facebook')">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button class="btn btn-sm btn-icon btn-rounded btn-social" type="button" data-ng-click="authExternalProvider('Google')">
                                <i class="fa fa-google-plus"></i>
                            </button>
                            <button class="btn btn-sm btn-icon btn-rounded btn-social" type="button" data-ng-click="authExternalProvider('Microsoft')">
                                <i class="fa fa-windows"></i>
                            </button>
                        </div>


                        <div class="form-group" ng-show="userLog.loginInvalid">
                            <div class="alert alert-warning">
                                {{userLog.loginInvalidMessage}}
                            </div>
                        </div>
                        <div class="form-group" ng-show="userLog.invalidToken">
                            <div class="alert alert-warning" translate>
                                Invalid token.
                            </div>
                        </div>
                    </form>

                    <form class="form-password" role="form" name="forgotPasswordForm" >
                        <div ng-hide="userLog.isSentPasswordResetMail">
                            <div ng-hide="userLog.showNext" class="prepend-icon m-b-20">
                                <input type="email" name="passwordResetEmail" class="form-control form-ash username" placeholder="{{'Email'|translate}}" required
                                       ng-model="userLog.pwdReset.email" ng-maxlength="100"  
                                       ng-class="{ 'error': forgotPasswordForm.passwordResetEmail.$invalid && (forgotPasswordForm.passwordResetEmail.$dirty||userLog.isSubmit) }">
                                <i class="icon-user"></i>
                                <div ng-messages="forgotPasswordForm.passwordResetEmail.$error" ng-show="forgotPasswordForm.passwordResetEmail.$dirty || userLog.isSubmit">
                                    <label ng-message="required" class="error" for="email" translate>Enter your email address</label>
                                    <label ng-message="email" class="error" for="email" translate>Enter valid email address</label>
                                </div>
                                <div class="row m-t-10">
                                    <div class="col-sm-12 col-md-12 col-xs-12" style="text-align:center">
                                        <button class="btn btn-primary" ng-click="userLog.isEmailPhoneNumberVerified()" 
                                                type="submit" style="box-shadow: -2px 2px 4px 2px #999999;" 
                                                id="submit-form">Next</button>
                                    </div>
                                </div>
                            </div>
                  
                            <div ng-if="userLog.showNext == true">
                                <div class="row m-0">
                                    <div class="col-md-12 form-group text-center">
                                        <label>text here</label>
                                    </div>

                                </div>
                              <div class="row m-l-0 m-r-0 m-t-10">
                                <div class="col-md-12" style="padding-left:53px;padding-right:11px">
                                    <label class="colored-radio lbl col-md-6">
                                        <input type="radio" name="radio1" ng-model="userLog.option" value="false">
                                        <span>
                                            <i></i>
                                            <translate> Email</translate>
                                        </span>
                                    </label>
                                    <label ng-class="{'colored-radio-dis lbl col-md-6':!userLog.isEnabled,'colored-radio lbl col-md-6':userLog.isEnabled}">
                                        <input type="radio" name="radio1" ng-model="userLog.option" value="true" ng-disabled="!userLog.isEnabled" >
                                        <span>
                                            <i></i>
                                            <translate> Phone </translate>
                                        </span>
                                    </label>
                                </div>
                            </div>

                           
                            <div class="row m-l-0 m-r-0 m-t-10" ng-if="userLog.option == 'true' || userLog.option == 'false'"
                                 ng-hide="userLog.option == 'true' && userLog.isSubmit">
                                <div class="form-group text-center">
                                    <button ng-hide="userLog.isSentPasswordResetMail" type="submit"
                                            ng-click="forgotPasswordForm.$valid && (userLog.isSubmit = true) && 
                                            userLog.resetForgetPassword(userLog.option)"
                                                id="submit-password" class="btn btn-primary"
                                            data-style="expand-left" translate style="box-shadow: -2px 2px 4px 2px #999999;">
                                        Send Password Reset Code
                                    </button>
                                </div>
                            </div>
                  
                            
                                <div class="row m-0" ng-if="userLog.option == 'true' && userLog.isSubmit">
                                  <div class="col-md-7 col-xs-12 p-0">
                                    <div class="form-group">
                                        <input type="text" class="form-control security-code" ng-model="userLog.pwdReset.mobileVerificationCode">
                                    </div>
                                  </div>
                                  
                                    <div class="col-md-5 col-xs-12">
                                        <button type="submit" class="btn btn-primary" data-style="expand-left" 
                                                ng-click="userLog.submitSecurityCode()"
                                                translate>
                                            Submit code
                                        </button>
                                    </div>
                                 </div>
                                <div class="row m-0">
                                    <p class="text-center">
                                        <a ng-hide="userLog.isSentPasswordResetMail" type="button" href=""
                                           ng-click="forgotPasswordForm.$valid && (userLog.isSubmit = true) &&
                                                userLog.resetForgetPassword(userLog.option)"
                                           translate>
                                            Resend Reset Code
                                        </a>
                                    </p>
                                </div>
                        </div>
                        </div>

                        <div class="alert alert-success" ng-show="userLog.isSentPasswordResetMail">
                            <translate>  Password reset message was sent to your email </translate> .
                            <translate> Please check the mail box, to reset password</translate>
                        </div>
                        <div class="alert alert-success" ng-show="userLog.passwordResetError">
                            {{userLog.passwordResetErrorMsg}}
                        </div>

                        <div class="clearfix" ng-hide="userLog.isSentPasswordResetMail">
                            <p class="pull-left m-t-20"><a href="../userLogin/userLogin.html" translate>Back to login</a></p>
                            <p class="pull-right m-t-20"><a href="../userRegistration/userRegistration.html" translate>New here? Sign up</a></p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <p class="account-copyright">
            <span><translate>Copyright</translate> © 2016 </span><span>Parcel International</span>.<span translate>All rights reserved.</span>
        </p>

    </div>
    <script src="../../global/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../global/plugins/gsap/main-gsap.min.js"></script>
    <script src="../../global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../global/plugins/backstretch/backstretch.min.js"></script>
    <script src="../../global/plugins/bootstrap-loading/lada.min.js"></script>
    <script src="../../global/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="../../global/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="../../global/js/pages/login-v1.js"></script>
    <script src="../../global/plugins/noty/jquery.noty.packaged.min.js"></script>
    <script src="../../global/plugins/icheck/icheck.min.js"></script>

    <script src="../../plugins/angular/angular.min.js"></script>
    <script src="../../plugins/angular-message/angular-messages.min.js"></script>
    <script src="../../plugins/angular-cookies/angular-cookies.min.js"></script>

    <script src="../../plugins/angular-gettext/dist/angular-gettext.min.js"></script>
    <script src="../../js/translations.js"></script>
    <script src="../../global/plugins/bootstrap-tags-input/bootstrap-tagsinput.min.js"></script>
    <script src="../../global/js/custom.js"></script>

    <script src="userLoginCtrl.js"></script>

    <script src="../directive/angular-local-storage.min.js"></script>
    <script src="../directive/tokensManagerService.js"></script>
    <script src="../directive/authService.js"></script>
    <script src="../directive/authInterceptorService.js"></script>


</body>
</html>

