<div>
    <h2 class="box-title"> Manage Cost Centers</h2> <a href="#saveCostcenter/0"> Add Cost Center</a>

    <div class="panel">
        <!-- form start -->
        <!-- Main content -->
        <form class="form-horizontal" name="loadCostCenterForm">
            <!-- /.box-header -->

            <div class="panel-header">
                <!-- left column -->

                <div class="box-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <input ng-model="searchText" name="searchText" type="text" class="form-control"
                                       placeholder="Search by Cost Center Name" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-large btn-primary"><i class="fa fa-search" 
                                                                                           ng-click="searchCostCenter()"></i></button>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label">Filter by  </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="option-group">
                                    <select id="costcenter"
                                            convert-to-number ng-options="divi.id as divi.name for divi in divisions"
                                            name="divisions" ng-model="division" ng-change="selectDivisionforCostCenter()">
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="option-group">
                                    <select id="costcentersStatus" name="costcentersStatus" 
                                            ng-model="status" ng-change="selectActiveDivisions()">
                                        <option value="">All</option>
                                        <option value="True">Active</option>
                                        <option value="False">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />

                </div>
                <div class="gridStyle" ng-grid="gridOptions"></div>



            </div>
        </form>
    </div>


</div>
