<div ng-controller="loadDivisionsCtrl">
    <h2 class="box-title"> Manage Divisions</h2>

    <div class="panel">
        <!-- form start -->
        <!-- Main content -->
        <form class="form-horizontal" name="saveDivisionForm">
            <!-- /.box-header -->

            <div class="panel-header">
                <!-- left column -->

                <div class="box-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <input ng-model="searchText" name="searchText" type="text" class="form-control"
                                       placeholder="Search by Cost Center" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-large btn-primary"><i class="fa fa-search" ng-click="searchCostCenters()"></i></button>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label">Filter by  </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="option-group">
                                    <select id="defaultcurrency"
                                            convert-to-number ng-options="costcenter.id as costcenter.name for costcenter in costCenters"
                                            name="costcenters" ng-model="costcenter"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="option-group">
                                    <select id="costcenters" name="costcenters" class="costcenters" required ng-model="status">
                                        <option value="True">Active</option>
                                        <option value="False">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br />

                </div>
                <div class="gridStyle" ng-grid="gridOptions"></div>
            </div>
        </form>
    </div>    
</div>
